<!DOCTYPE html>
<html lang="en">

<head>
	<title>發票設定</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/signUp.css">
	<script src='./lib/jquery.3.4.1.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue.js'></script>
	<script src="./lib/vee-validate.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div class="mycontainer invoiceSetting">
			<div class="dataBox">
				<p class="dataTitle">發票捐贈</p>
				<div class="dataBody">
					<div class="dataRow donateRow">
						<div class="donateBox">
							<label for="donate">
								<input 
									type="checkbox" 
									id="donate" 
									class="customRadio" 
									v-model="isDonate">
								<span>{{ isDonate ? '是' : '否' }}</span>
							</label>
						</div>
						<p class="dataName">捐贈</p>
					</div>
				</div>
			</div>
			<div class="dataBox" v-show="!isDonate">
				<p class="dataTitle">發票類型(電子/紙本)</p>
				<div class="dataBody">
					<div class="dataRow hasSelect">
						<select class="form-control" v-model="invocieType">
							<option value="1">紙本發票</option>
							<option value="2">電子發票</option>
						</select>
						<p class="dataName">類型</p>
					</div>
				</div>
				<p class="invoiceTip">
					百貨及賣場店不適用於此設定。若您欲儲存發票於其他載具中，請於結帳前出示。
				</p>
			</div>
			<div class="dataBox" v-show="isDonate">
				<p class="dataTitle">捐贈設定</p>
				<div class="dataBody">
					<div class="dataRow agency">
						<a 
							href="./invoiceAgency.html" 
							class="agencyLink" 
							target="_blank"
						>{{ agency }}</a>
						<p class="dataName">捐贈機構</p>
					</div>
				</div>
				<p class="invoiceTip">
					百貨及賣場店不適用於此設定。若發票已捐贈將無法進行退回商品(退貨作業)。
				</p>
			</div>
		</div>
		<div class="fixLink">
			<a href="javascript:;" @click="saveHandler">儲存</a>
		</div>
	</div>

	<!-- 提示modal -->
	<div class="modal fade mymodal" id="msgModal" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered">
			  <div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">提示</h1>
				</div>
				<div class="modal-body">
					<p>此發票設定將會延用致下次更改</p>
				</div>
				<div class="modal-footer">
					<p onclick="$('#msgModal').modal('hide')">確認</p>
				</div>
			</div>
		</div>
	</div>

	<script src="./js/components/veevalidate.js"></script>
	<script src="./js/components/all.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: () => ({
				isDonate: false,
				invocieType: '1',
				agency: '紅十字會'
			}),
			methods: {
				saveHandler() {
					
				}
			},
			mounted() {
				 
			}
		});
	</script>
</body>

</html>