<!DOCTYPE html>
<html lang="en">

<head>
	<title>會員資料維護</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/signUp.css">
	<link rel="stylesheet" href="./css/memberInfo.css">
	<script src='./lib/jquery.3.4.1.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue.js'></script>
	<script src="./lib/vee-validate.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div class="mycontainer">
			<validation-observer tag="div" class="" ref="form">
				<div class="dataBox accountBox">
					<p class="dataTitle">帳密資料</p>
					<div class="dataBody">
						<validation-provider 
							tag="div" class="dataRow" 
							rules="" v-slot="{ errors }">
							<input
								readonly 
								type="email"
								class="form-control" placeholder="電子信箱(帳號)" 
								v-model.trim="memberInfo.email">
							<p class="dataName">帳號</p>
							<p class="validate-error">{{ errors[0] }}</p>
						</validation-provider>
						<div class="dataRow fixPw">
							<p class="dataName">修改密碼</p>
							<a href="./fixPw.html">
								<i class="far fa-chevron-right"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="dataBox personBox">
					<p class="dataTitle">個人資料</p>
					<div class="dataBody">
						<validation-provider 
							tag="div" 
							class="dataRow" 
							rules="required"
							v-slot="{ errors }">
							<input
								type="text" 
								class="form-control"
								placeholder="姓名" 
								v-model.trim="memberInfo.userName">
							<p class="dataName">姓名</p>
							<p class="validate-error">{{ errors[0] }}</p>
						</validation-provider>
						<validation-provider 
							tag="div" 
							class="dataRow hasSelect" 
							rules="required"
							v-slot="{ errors }">
							<select 
								class="form-control"
								v-model="memberInfo.gender">
								<option value="" disabled>請選擇性別</option>
								<option value="m">男</option>
								<option value="f">女</option>
							</select>
							<p class="dataName">性別</p>
							<p class="validate-error">{{ errors[0] }}</p>
						</validation-provider>
						<validation-provider 
							tag="div" 
							class="dataRow" 
							rules="required"
							v-slot="{ errors }">
							<input
								readonly
								type="text" 
								class="form-control"
								v-model="memberInfo.birthday">
							<p class="dataName">生日</p>
							<p class="validate-error">{{ errors[0] }}</p>
						</validation-provider>
						<validation-provider 
							tag="div" 
							class="dataRow"
							v-slot="{ errors }">
							<a href="./fixPhone.html" class="phoneLink">
								{{ memberInfo.phone }}
							</a>
							<p class="dataName">手機</p>
						</validation-provider>
					</div>
				</div>

				<div class="dataBox securityBox">
					<p class="dataTitle">安全提問</p>
					<div class="dataBody">
						<validation-provider 
							tag="div" 
							class="dataRow hasSelect" 
							rules="required"
							v-slot="{ errors }">
							<select
								class="form-control question">
								<option value="" disabled>請選擇</option>
								<option>a</option>
							</select>
							<p class="dataName">問題</p>
							<p class="validate-error">{{ errors[0] }}</p>
						</validation-provider>
						<validation-provider 
							tag="div" 
							class="dataRow" 
							rules="required"
							v-slot="{ errors }">
							<input
								type="text" 
								class="form-control"
								placeholder="答案" 
								v-model.trim="memberInfo.answer">
							<p class="dataName">答案</p>
							<p class="validate-error">{{ errors[0] }}</p>
						</validation-provider>
					</div>
				</div>
			</validation-observer>

			<div class="dataBox favorStore">
				<p class="dataTitle">最愛分店</p>
				<div class="dataBody">
					<div class="dataRow" v-for="item in favorStoreList">
						<p class="storeName">
							{{ item.id !== '' ? item.city + item.area + item.title : item.title }}
						</p>
						<i class="far fa-chevron-right" @click="favorClick(item.id)"></i>
					</div>
				</div>
			</div>

		</div>
		
		<div class="btnBox noRadius">
			<base-button text="儲存" @click.native="submitHandler"></base-button>
		</div>

		<!-- 分店操作modal -->
		<div class="modal fade mymodal operationModal" id="msgModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<div class="modal-body">
						<p class="storeAddress">{{ popUpStoreTitle }}</p>
						<ul class="operationList">
							<li @click="changeStore">更換分店</li>
							<li @click="removeStore">刪除分店</li>
						</ul>
					</div>
					<div class="modal-footer">
						<p onclick="$('.operationModal').modal('hide')">取消</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 分店選單modal -->
		<div class="modal fade mymodal storeModal" id="msgModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">分店查詢</h1>
					</div>
					<div class="modal-body">
						<ul class="storeList">
							<li>
								<p>縣市</p>
								<select class="form-control" v-model="currentCity">
									<option 
										v-for="item in cityList"
										:key="item.id"
										:value="item.id"
									>{{ item.text }}</option>
								</select>
							</li>
							<li>
								<p>區域</p>
								<select class="form-control" v-model="currentArea">
									<option 
										v-for="item in areaList"
										:key="item.id"
										:value="item.id"
									>{{ item.text }}</option>
								</select>
							</li>
							<li>
								<p>分店</p>
								<select class="form-control" v-model="currentStoreId">
									<option 
										v-for="item in storeList"
										:key="item.id"
										:value="item.id"
									>{{ item.city + item.area + item.title }}</option>
								</select>
							</li>
						</ul>
						<a :href="storePosition" class="seeMap" target="_blank">
							<i class="fas fa-map-marker-alt"></i>
							<span>查看地圖</span>
						</a>
					</div>
					<div class="modal-footer">
						<p>
							<span @click="addStore">確認</span>
						</p>
						<p>
							<span onclick="$('.storeModal').modal('hide')">取消</span>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- 提示modal -->
	<div class="modal fade mymodal" id="msgModal" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered">
			  <div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">提示</h1>
				</div>
				<div class="modal-body">
					<p>登入成功</p>
					<p>請手動關閉此頁後回到 Line</p>
				</div>
				<div class="modal-footer">
					<p onclick="$('#msgModal').modal('hide')">確認</p>
				</div>
			</div>
		</div>
	</div>

	<script src="./js/components/veevalidate.js"></script>
	<script src="./js/components/all.js"></script>
	<script src="./js/storeInfo.js"></script>
	<script src="./js/userStore.js"></script>
	<script>
		console.log(userStore)
		new Vue({
			el: '#app',
			data: () => ({
				memberInfo: {
					email: 'test@gmail.com',
					userName: '蔡想想',
					gender: 'f',
					birthday: '1900-01-01',
					phone: '0911568475',
					question: '我最常去的摩斯漢堡門市',
					answer: '松江店'
				},
				maxStoreNumber: 3,  //最多數量
				defaultStoreData: { id: '',  title: '未選店' },
				storeInfo: storeInfo,
				currentCity: '',
				currentArea: '',
				currentStoreId: '',
				popUpStoreId: '',
				userStore: userStore,
			}),
			computed: {
				defaultFlavorList() {
					let arr = [];
					for(let i = 1; i <= this.maxStoreNumber; i++) {
						arr.push(this.defaultStoreData);
					}
					return arr;
				},
				favorStoreList() { //最愛分店清單
					let storeData = JSON.parse(JSON.stringify(this.userStore));
					let userStoreLength = storeData.length;
					if (userStoreLength === 0) return this.defaultFlavorList;
					if (userStoreLength < this.maxStoreNumber) { //計算不足的數量並補齊
						let diffNumber = this.maxStoreNumber - userStoreLength;
						for (let i = 1; i <= diffNumber; i++) {
							storeData.push(this.defaultStoreData);
						}
					}
					return storeData;
				},
				favorStoreData() {
					if (this.popUpStoreId === '') return null;
					let result = this.favorStoreList.find(item => item.id === this.popUpStoreId);
					if (result !== undefined) return result;
					else return null;
				},
				popUpStoreTitle() {  //popUp上的商店名稱
					if (this.favorStoreData === null) return '';
					let { city, area, title } = this.favorStoreData;
					return city + area + title;
				},
				cityList() {  //縣市清單
					return this.storeInfo.reduce((prev, current) => {
						prev.push({ id: current.title, text: current.title });
						return prev;
					}, []);
				},
				areaAllData() { //地區全部資料
					let obj = this.storeInfo.find(item => item.title === this.currentCity);
					if (obj !== undefined) {
						this.currentArea = obj['store_area_info_list'][0]['title'];
						return obj['store_area_info_list'];
					} else {
						return [];
					}
				},
				areaList() { //地區清單
					if (this.areaAllData.length === 0) return [];
					return this.areaAllData.reduce((prev, current) => {
						prev.push({ id: current.title, text: current.title });
						return prev;
					},[]);
				},
				storeList() { //分店清單
					if (this.areaAllData.length === 0) return [];
					let result = this.areaAllData.find(item => item.title === this.currentArea);
					if (result !== undefined) {
						this.currentStoreId = result['store_info_list'][0]['id'];
						return result['store_info_list'];
					} else {
						return [];
					}
				},
				targetStore() { //目前分店
					if (this.storeList.length === 0) return null;
					let obj = this.storeList.find(item => item.id === this.currentStoreId );
					if (obj !== undefined) return obj;
					else return null;
				},
				storePosition() { //商店地址google map連結
					let defaultMap = 'https://www.google.com.tw/maps/place/';
					if (this.targetStore === null) return defaultMap;
					let { city, area, addr } = this.targetStore;
					return defaultMap + city + area + addr;
				},
				storePhoneNumber() { //分店電話
					if (this.targetStore === null) return '';
					return `tel:${this.targetStore.tel}`;
				}
			},
			methods: {
				async submitHandler() {
					let isValid = await this.$refs.form.validate().then(res => res);
					if (!isValid) return;
				},
				favorClick(storeId) {  //點選喜好商店
					this.popUpStoreId = storeId;
					if (storeId !== '') {
						this.currentCity = this.favorStoreData.city;
						this.$nextTick().then(() => {
							this.currentArea = this.favorStoreData.area;
						}).then(() => {
							this.currentStoreId = storeId;
						});
						$('.operationModal').modal('show');
					} else {
						this.currentCity = '台北市';
						$('.storeModal').modal('show');
					}
				},
				changeStore() {  //更換分店
					$('.storeModal').modal('show');
					$('.operationModal').modal('hide');
				},
				addStore() { //增加分店
					console.log(this.currentStoreId);
				},
				removeStore() {  //刪除分店
					console.log(this.popUpStoreId);
				},
			},
			mounted() {
				
			}
		});
	</script>
</body>

</html>