<!DOCTYPE html>
<html lang="en">

<head>
	<title>查看更多卡片</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel="stylesheet" href="./lib/swiper/swiper.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<script src="./lib/swiper/swiper.min.js"></script>
	<script src='./lib/jquery.3.4.1.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue.js'></script>
	<script src="./lib/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div class="mycontainer" v-if="listLength !== 0">
			<div class="swiper-container card-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-for="item in lists" :key="item.CardNo">
						<div class="mycard">
							<div class="imgBox">
								<img :src="item.ArtWorkURL" class="cardImg" alt="">
							</div>
							<div class="cardInfo">
								<p class="cardName">{{ item.Notes || item.CardTypeName }}</p>
								<p class="cardNumber">卡號</p>
								<div class="pointDesc">
									<div class="pointBox pointBoxL">
										<h3 class="pointTitle">
											金點
											<i class="fal fa-chevron-right" @click="showPoint"></i>
										</h3>
										<p class="pointNumber">
											{{ parseFloat(item.Gold || 0) | currency }}
										</p>
									</div>
									<div class="pointBox">
										<h3 class="pointTitle">
											餘額
											<i class="fal fa-chevron-right" @click="showBalance"></i>
										</h3>
										<p class="pointNumber">
											{{ parseFloat(item.EV || 0) | currency }}
										</p>
									</div>
								</div>
							</div>
							<div class="cardPanel">
								<a :href="item.links.checkoutCard.path">
									{{ item.links.checkoutCard.name }}
								</a>
								<button class="btnSave" @click="openSaveModal">
									{{ item.links.saveCard.name }}
								</button>
								<button @click="showOther">
									{{ item.links.other.name }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		  	<div class="dotBox" v-if="listLength > 1">
				<span
					class="dot"
					v-for="num in listLength"
					:class="{active: num - 1 === currentIndex}"
					@click="clickDot(num - 1)"
				></span>
		  	</div>
		</div>

		<!-- 顯示餘額modal -->
		<div class="modal fade mymodal balance" id="msgModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">卡片餘額查詢</h1>
					</div>
					<div class="modal-body" v-if="balanceData !== null">
						<p>卡片金額: ${{ balanceData.cash | currency }}</p>
						<p>卡片禮金: ${{ balanceData.coAmt | currency }}</p>
						<p>卡片總額: ${{ balanceData.ev | currency }}</p>
					</div>
					<div class="modal-footer">
						<p onclick="$('.balance').modal('hide')">確認</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 金點modal -->
		<div class="modal fade mymodal goldenPoint" id="msgModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">金點到期查詢</h1>
					</div>
					<div class="modal-body">
						<div class="goldenBox" v-if="goldenPoint !== null">
							<p
								v-for="(item,index) in goldenPoint"
								:key="index"
							>{{ item.date }} 到期金點數量: {{ item.point | currency }}</p>
						</div>
						<p>每次兌換金點時，系統將優先兌換到奇日最近的點數</p>
					</div>
					<div class="modal-footer">
						<p onclick="$('.goldenPoint').modal('hide')">確認</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 儲值modal -->
		<div class="modal fade mymodal saveModal" id="msgModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">選擇儲值方式</h1>
					</div>
					<div class="modal-body" v-if="saveOption !== null">
						<div class="methodBox" 
							v-for="item in saveOption"
							:key="item.id">
							<a :href="item.path">{{ item.name }}</a>
						</div>
					</div>
					<div class="modal-footer">
						<p onclick="$('.saveModal').modal('hide')">取消</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 主功能選項modal -->
		<div class="modal fade mymodal optionModal mainModal" id="msgModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">更多選項</h1>
					</div>
					<div class="modal-body">
						<ul class="optionBox" v-if="menuList.length !== 0">
							<li 
								v-for="item in menuList"
								:key="item.id">
								<span @click="menuClickHandler(item)">{{ item.name }}</span>
							</li>
						</ul>
					</div>
					<div class="modal-footer">
						<p onclick="$('.mainModal').modal('hide');">取消</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 副功能選項modal -->
		<div class="modal fade mymodal optionModal subModal" id="msgModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<i class="fal fa-chevron-left goBack" @click="goBack"></i>
						<h1 class="modal-title">{{ subMenuList.name || '' }}</h1>
					</div>
					<div class="modal-body" v-if="subMenuList.name !== undefined">
						<ul class="optionBox">
							<li 
								v-for="item in subMenuList.links"
								:key="item.id">
								<span @click="subMenuClickHandler(item)">{{ item.name }}</span>
							</li>
						</ul>
					</div>
					<div class="modal-footer">
						<p onclick="$('.subModal').modal('hide')">取消</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 驗證碼modal -->
		<div class="modal fade mymodal verifyModal" id="msgModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">顯示卡片驗證碼</h1>
					</div>
					<div class="modal-body">
						<p v-if="verifyCode !== ''">{{ verifyCode }}</p>
					</div>
					<div class="modal-footer">
						<p onclick="$('.verifyModal').modal('hide')">確認</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="./js/components/veevalidate.js"></script>
	<script src="./js/components/all.js"></script>
	<script>
		const apiUrl = './js/cardList.json';
		new Vue({
      	el: '#app',
      	data: () => ({
				mySwiper: null,
				currentIndex: 0,
				lists: [],
				menuId: '',
				queryId: null
      	}),
			computed: {
				listLength() {  //總筆樹
					return this.lists.length;
				},
				isLoop() { //是否循環
					return this.listLength > 1;
				},
				targetCard() {  //目前卡片
					if (this.listLength === 0) return null;
					let result = this.lists.find(item => item.swiperId === this.currentIndex);
					if (result !== undefined) return result;
					else return null;
				},
				balanceData() { //餘額資料
					if (this.targetCard === null) return null;
					let { Cash, CoAmt, EV } = this.targetCard;
					return {
						cash: parseFloat(Cash || 0),
						coAmt: parseFloat(CoAmt || 0),
						ev: parseFloat(EV || 0)
					};
				},
				goldenPoint() {  //金點資料
					if (this.targetCard === null) return null;
					let range = 0;
					let arr = [];
					for (let key in this.targetCard) {
						if (/^GoldExpire[0-9]*$/.test(key)) range++;
					}
					for (let i = 1; i <= range; i++) {
						arr.push({
							date: this.targetCard[`GoldDateExpire${i}`],
							point: parseFloat(this.targetCard[`GoldExpire${i}`])
						});
					}
					return arr;
				},
				saveOption() {  //儲值選項
					if (this.targetCard === null) return null;
					return this.targetCard.links.saveCard.links;
				},
				verifyCode() {  //卡片驗證碼
					if (this.targetCard === null) return '';
					return this.targetCard.VerifyCode;
				},
				otherList() {
					if (this.targetCard === null) return [];
					return this.targetCard.links.other.links;
				},
				menuList() {  //主選單
					if (this.otherList.length === 0) return [];
					return this.otherList.reduce((prev, { id, name, path }) => {
						prev.push({ id, name, path })
						return prev;
					}, []);
				},
				subMenuList() {  //次選單
					if (this.otherList.length === 0) return [];
					if (this.menuId === '') return [];
					let result = this.otherList.find(item => item.id === this.menuId);
					if (result !== undefined) {
						if (result.links === undefined) return {};
						else return { name: result.name, links: result.links };
					} else {
						return [];
					}
				}
			},
      	methods: {
				async getCardList() {  //取得資料
					let result = await axios.get(apiUrl).then(res => res.data);
					let copyData = JSON.parse(JSON.stringify(result));;
					copyData.forEach((item, index) => item.swiperId = index);
					return copyData;
				},
				initSwiper() {  //初始化swiper
					this.mySwiper = new Swiper ('.swiper-container', {
						loop: false,
						allowTouchMove: this.isLoop,
						spaceBetween: 15,
						initialSlide: this.getInitialIndex()
					});
				},
				getInitialIndex() {  //設置預設輪播位置
					if (this.queryId === null) return 0;
					let index = this.lists.findIndex(item => item.CardNo === this.queryId);
					this.currentIndex = index >= 0 ? index : 0;
					return this.currentIndex;
				},
				slideChange() {  //swiper change 事件
					this.currentIndex = this.mySwiper.realIndex;
				},
				clickDot(num) { //點擊dot切換swiper
					this.mySwiper.slideTo(num);
				},
				menuClickHandler(obj) {  //點擊主選單
					if (obj.path !== '') {
						location.href = obj.path;
					} else {
						this.menuId = obj.id;
						let blockId = ['showBalance', 'showGoldenPoint'];
						let isInclude = blockId.includes(this.menuId);
						if (!isInclude) {
							$('.subModal').modal('show');
						} else {
							if (this.menuId === 'showBalance') this.showBalance();
							if (this.menuId === 'showGoldenPoint') this.showPoint();
						}
						$('.mainModal').modal('hide');
					}
				},
				subMenuClickHandler(obj) {  //點擊次選單
					if (obj.path !== '') {
						location.href = obj.path;
					} else {
						if (obj.id !== 'showVerifyCode') return;
						$('.subModal').modal('hide'); 
						$('.verifyModal').modal('show');
					}
				},
				goBack() { //返回主選單
					$('.mainModal').modal('show');
					$('.subModal').modal('hide'); 
				},
				showBalance() {  //顯示餘額
					$('.balance').modal('show');
				},
				showPoint() {  //顯示金點
					$('.goldenPoint').modal('show');
				},
				openSaveModal() {  //顯示儲值方式
					$('.saveModal').modal('show');
				},
				showOther() {  //顯示其他
					$('.mainModal').modal('show');
				},
			},
			created() {
				this.queryId = new URL(location.href).searchParams.get('card_no');
			},
			async mounted() {
				this.lists = await this.getCardList().then(res => res);
				this.$nextTick().then(() => {
					this.initSwiper();
					this.mySwiper.on('slideChangeTransitionEnd', this.slideChange);
				});
			}
   	});
	</script>
</body>

</html>