<!DOCTYPE html>
<html lang="en">

<head>
	<title>選擇目標卡片</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/transferChoose.css">
	<script src='./lib/jquery.3.4.1.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue.js'></script>
	<script src="./lib/vee-validate.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div class="mycontainer">
			<ul class="transferLayout" v-if="cardList.length !== 0">
				<li v-for="card in cardList" :key="card.id">
					<div class="transferBody">
						<div class="transferL">
							<p class="cardName">{{ card.cardName }}</p>
							<img class="cardImg" :src="card.imgUrl" alt="">
						</div>
						<div class="transferR">
							<p class="cardNumber">{{ card.cardNumber }}</p>
							<div class="remainPoint">
								<div class="pointBox pointL">
									<h3 class="pointTitle">金點</h3>
									<p class="pointNumber">{{ card.point | currency }}</p>
								</div>
								<div class="pointBox pointR">
									<h3 class="pointTitle">餘額</h3>
									<p class="pointNumber">${{ card.dollar | currency }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="transferFooter">
						<p @click="transferHandler(card.id)">移轉餘額及點數於此張卡片</p>
					</div>
				</li>
			</ul>
			<div class="noBox" v-else>
				<i class="fal fa-credit-card"></i>
				<p>您目前沒有其他卡片</p>
			</div>
		</div>
	</div>

	<script src="./js/components/veevalidate.js"></script>
	<script src="./js/components/all.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: () => ({
				cardList: [
					{
						id: 'aaa',
						cardName: '摩斯行動卡',
						imgUrl: 'https://fakeimg.pl/350x200/?text=Card',
						cardNumber: 'abc123456',
						point: 1000,
						dollar: 1000
					},
					{
						id: 'bbb',
						cardName: '摩斯二代卡',
						imgUrl: 'https://fakeimg.pl/350x200/?text=Card',
						cardNumber: 'abc123654',
						point: 500,
						dollar: 2000
					}
				]
			}),
			methods: {
				transferHandler(cardId) {
					console.log(cardId);
				}
			}
		});
	</script>
</body>

</html>