* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: center;
}

#myphoto {
    width: 250px;
    height: 350px;
    background-image: url('https://picsum.photos/300/500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.photo_panel {
    display: block;
    width: 100%;
    background-color: black;
    text-align: center;
    cursor: pointer;
    padding: 5px 0;
    margin-bottom: 0;
}

.photo_panel > span {
    display: inline-block;
    color: white;
}

#file_input {
    display: none;
}

#cropImg {
    max-width: 100%;
    height: auto;
}
 

