<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>空氣品質AQI</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="./index.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>
</head>
<body>
    <div id="app">
        <div class="myloading" v-if="isLoading">Loading...</div>
        <div class="wrap">
            <h2 class="title">空氣品質AQI</h2>
            <!-- 指標 -->
            <div class="indexBox">
                <p>空氣指標:</p>
                <table class="indexTable">
                    <thead>
                        <tr>
                            <td 
                                v-for="(item,idx) in indexData"
                                :key="idx"
                                :class="rangeColor(item.point)"
                            >{{ item.title }}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="item in indexData">{{ item.comment }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 縣市 -->
            <div class="filterBox">
                <label>選擇縣市:</label>
                <select class="form-control" v-model="selected">
                    <option :value="null" disabled>請選擇</option>
                    <option 
                        v-for="(item,idx) in countyList" 
                        :key="idx"
                        :value="item.county"
                    >{{ item.county }}
                    </option>
                </select>
            </div>
            <!-- 內容 -->
            <div class="contentBox">
                <div class="contentL">
                    <div class="outer" v-if="metarial">
                        <div class="siteBox">
                            <div class="countyName">{{ metarial.SiteName }}</div>
                            <div 
                                :class="[ rangeColor(metarial.AQI),'county_aqi']"
                            >{{ metarial.AQI }}
                            </div>
                        </div>
                        <ul class="detailList">
                            <li>
                                <p>臭氧<small>O3 (PPB)</small></p>
                                <p>{{ metarial.O3 }}</p>
                            </li>
                            <li>
                                <p>懸浮微粒<small>PM10 (ΜG/M³)</small></p>
                                <p>{{ metarial.PM10 }}</p>
                            </li>
                            <li>
                                <p>細懸浮微粒<small>PM2.5 (ΜG/M³)</small></p>
                                <p>{{ metarial['PM25'] }}</p>
                            </li>
                            <li>
                                <p>一氧化碳<small>CO (PPM)</small></p>
                                <p>{{ metarial.CO }}</p>
                            </li>
                            <li>
                                <p>二氧化硫<small>SO2 (PPB)</small></p>
                                <p>{{ metarial.SO2 }}</p>
                            </li>
                            <li>
                                <p>二氧化氮<small>NO2 (PPB)</small></p>
                                <p>{{ metarial.NO2 }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contentR">
                    <ul class="townList" v-if="targetCounty">
                        <li 
                            v-for="(item,idx) in targetCounty.site"
                            :key="idx"
                            @click="showDetail(item)"
                        >
                            <div class="townName">{{ item.SiteName }}</div>
                            <div :class="[rangeColor(item.AQI),'town_aqi']">
                                {{ item.AQI }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="./index.js"></script>
</body>
</html>