body {
    min-width: 900px;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.myloading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.745);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.wrap {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 15px;
}

.wrap > * {
    margin-bottom: 25px;
}

.wrap > .title {
    text-align: center;
}

/*指標*/
.indexBox > p {
    margin-bottom: 10px;
}

.indexBox > .indexTable {
    width: 100%;
}

.indexTable td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

/*縣市*/
.filterBox {
    display: flex;
    align-items: center;
}

.filterBox > label {
    width: 80px;
    margin-bottom: 0;
}

.filterBox > select {
    flex: 1;
}

/*內容*/
.contentBox {
    display: flex;
}

.contentBox > .contentL {
    flex: 0 0 40%;
    padding-right: 15px;
}

.contentBox > .contentR {
    flex: 0 0 60%;
    padding-left: 15px;
}

.contentL > .outer {
    border: 2px solid #000;
}

.contentL > .outer > .siteBox {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #000;
}

.siteBox > div {
    padding: 10px;
}

.siteBox > .countyName {
    flex: 0 0 65%;
    border-right: 2px solid #000;
}

.siteBox > .county_aqi {
    flex: 0 0 35%;
}

.outer > .detailList {
    padding: 15px;
}

.detailList > li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.detailList > li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.detailList > li > p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}

.detailList > li > p > small {
    margin-left: 5px;
}

.contentR > .townList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentR > .townList > li {
    flex: 0 0 48%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.contentR > .townList > li > div {
    padding: 15px;
}

.contentR > .townList > li > .townName {
    flex: 0 0 65%;
    border-right: 2px solid #000;
}

.contentR > .townList > li > .town_aqi {
    flex: 0 0 35%;
}















