* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
}

ul {
   list-style: none;
}

.wrap {
	max-width: 500px;
	max-height: 800px;
	overflow: auto;
   margin: 0 20px;
	padding: 15px 0;
}

.loading {
   text-align: center;
   color: blue;
   display: none;
}

.loading > p {
   font-size: 20px;
}

.title {
   text-align: center;
   margin-bottom: 20px;
}

.userList {
   display: flex;
   flex-wrap: wrap;
}

.userList>li {
   width: calc(33% - 20px);
   margin: 0 10px 20px;
}

.pic {
   margin-bottom: 5px;
}

.pic>img {
   display: block;
   width: 100%;
   height: auto;
   object-fit: cover;
}

.descBox>p {
   margin-bottom: 5px;
   font-size: 18px;
   word-break: break-all;
}

.descBox>p {
   margin-bottom: 5px;
   font-size: 18px;
}

.descBox>p:last-child {
   margin-bottom: 0px;
}