<!DOCTYPE html>
<html lang="en">

<head>
	<title>Q&A</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="aes_key" content="791701991223a6d7193e964b6690b58a">
	<meta name="login_url" content="">
	<meta name="get_member_profile_url" content="http://localhost:3034/mmrmProd/member_profile">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/L8_01_00_00.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/crypto/crypto-js.min.js"></script>
	<script src="./js/vue-components/filter.js"></script>
	<script src="./js/src/setColor.js"></script>
	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/veevalidate.js"></script>
	<script src="./js/vue-components/filter.js"></script>
	<script src="./js/src/wm_aes.js"></script>
	<script src="./js/src/mmrmAxios.js"></script>
	<script src="./js/src/vue-mixin/localProfile.js"></script>
</head>

<body>
	<div id="app" class="hasPt">
		<div id="pageHeader">
			<a href="javascript:;" class="logoBg"></a>
			<div class="userName">{{ profile.name }}</div>
		</div>
		<div class="mycontainer">
			<chapter
				v-for="(chapter,index) in chapterList"
				:key="index"
				:title="chapter.title"
				:pages="chapter.pages"
				:pageurl="pageUrl.content"
			></chapter>
		</div>

		<div id="loading" v-if="isLoading"></div>
		<a :href="pageUrl.home" class="backHome"></a>
	</div>

	<script src="./js/vue-components/Chapter/index.js"></script>
	<script src="./js/vue-components/Chapter/PageList.js"></script>
	<script type="module">
		import app from './js/page/A0/A0_02_00_00.js';
		app({
			apiUrl: {
            faqList: 'http://localhost:3034/mmrm/faqList',
            faqBook: 'http://localhost:3034/mmrmProd/cms_book',
         },
         pageUrl: {
				home: './A0_00_00_00.html',
            content: './L8_01_00_01.html'
         }
		});
	</script>
</body>

</html>