<!DOCTYPE html>
<html lang="en">

<head>
	<title>優惠券折價卡</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="aes_key" content="c35eae68c868bd516ed64469e1e30e36">
	<meta name="login_url" content="">
	<meta name="get_member_profile_url" content="https://project-mock-server.herokuapp.com/mmrmProd/member_profile">
	<meta name="get_member_card_url" content="https://project-mock-server.herokuapp.com/mmrmProd/member_card">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/crypto/crypto-js.min.js"></script>
	<script src="./lib/timeme/timeme.min.js"></script>
	<script src="./lib/js-cookie/js.cookie.min.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./lib/lodash/lodash.min.js"></script>
	<script src="./js/src/setColor.js"></script>
	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/veevalidate.js"></script>
	<script src="./js/src/wm_aes.js"></script>
	<script src="./js/src/mmrmAxios.js"></script>
	<script>
		window.firebaseInitConfig = {
			apiKey: "AIzaSyDK-Z3og32hr4aUCis-EBszTXAUuTKZ0fc",
         authDomain: "analysic-4d1f3.firebaseapp.com",
         projectId: "analysic-4d1f3",
         storageBucket: "analysic-4d1f3.appspot.com",
         messagingSenderId: "493926805475",
         appId: "1:493926805475:web:965856ed0ca88762a9bad6",
         measurementId: "G-P6YEP2HBY4"
		}
	</script>
	<script type="module" src="./js/src/firebase-ga.js"></script>
	<!-- page -->
	<link rel="stylesheet" href="./lib/swiper/swiper.min.css">
	<link rel="stylesheet" href="./css/A2.1_00_02_00.css">
	<script src="./lib/qrcode/qrcode.min.js"></script>
	<script src="./lib/jsBarcode/JsBarcode.all.min.js"></script>
	<script src="./lib/swiper/swiper.min.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div id="pageHeader">
			<a href="javascript:;" class="logoBg"></a>
			<div class="userName">{{ profile.name }}</div>
		</div>
		<div class="content-block">
			<div class="banner-block" :style="bannerBackground"></div>
			<div class="info-block">
				<div class="panel">
					<div class="closeBg"></div>
					<div class="switchText" @click="switchMode" v-show="showModeText">{{ modeText }}</div>
					<div class="brandLogo" :style="brandLogoBackground"></div>
				</div>
				<div class="cardBox">
					<div class="cardHead">
						<div class="name">{{ couponData.name }}</div>
						<div class="duration">{{ couponData.duration }}</div>
					</div>
					<div class="cardBody">
						<div class="modeBox" :class="{show:currentMode === 1}">
							<div id="qrcode"></div>
							<div class="einvoice-trigger" style="--max:85%;" @click="openBarcodeModal">
								<div class="icon"></div>
								<p>手機條碼載具</p>
							</div>
						</div>
						<div class="modeBox" :class="{show:currentMode === 2}">
							<barcode-swiper
								v-if="hasCard" 
								:card-list="normalCardList"
								ref="barcodeSwiper"
								@enlarge="enlargeHandler"
							></barcode-swiper>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="enlarge-block" :class="{show:isEnlarge}">
			<div class="largeInner">
				<div class="cancelBox" @click="minifyHandler">
					<div class="cancel-icon"></div>
				</div>
				<div class="largeBody">
					<enlarge-barcode
						v-if="hasCard"
						:card-list="enlargeCardList"
						ref="enlargeSwiper"
					></enlarge-barcode>
				</div>
			</div>
		</div> -->

		<div id="loading" v-show="isLoading"></div>

		<einvoice-modal
			:barcode="user.einvoice"
			:unbined-page="pageUrl.invoice_unbinded"
			back-site="couponCard"
			:my-coupon-id="user.my_coupon_id"
			ref="barcodeModal"
			@check-remove="checkRemove"
		></einvoice-modal>

		<div class="modal msgModal" id="checkModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">即將刪除</h1>
					</div>
					<div class="modal-body">
						<p>刪除後必須重新綁定，是否確定刪除此手機號碼載具?</p>
					</div>
					<div class="modal-footer split">
						<div data-dismiss="modal">我再想想</div>
						<div @click="removeHandler">確定刪除</div>
					</div>
				</div>
			</div>
		</div>

      <div class="modal msgModal" id="removeOkModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<div class="modal-body">
						<p>{{ tipInfo.message }}</p>
					</div>
					<div class="modal-footer">
						<p data-dismiss="modal" @click="openBarcodeModal">確認</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="./js/src/vue-mixin/localProfile.js"></script>
	<script src="./js/vue-components/BarcodeSwiper/index.js"></script>
	<script src="./js/vue-components/BarcodeSwiper/BarcodeSlide.js"></script>
	<script src="./js/vue-components/BarcodeSwiper/BarcodeItem.js"></script>
	<script src="./js/vue-components/EinvoiceModal/index.js"></script>
	<!-- <script src="./js/vue-components/EnlargeBarcode/index.js"></script>
	<script src="./js/vue-components/EnlargeBarcode/BarcodeSlide.js"></script>
	<script src="./js/vue-components/EnlargeBarcode/BarcodeItem.js"></script> -->
	<script type="module">
		import app from './js/page/L2/A2.1_00_02_00.js';
		app({ 
			apiUrl: {
				memberProfile: 'https://project-mock-server.herokuapp.com/mmrmProd/member_profile',
				memberCard: 'https://project-mock-server.herokuapp.com/mmrmProd/member_card',
				couponDetail: 'https://project-mock-server.herokuapp.com/mmrmProd/my_coupon_detail',
				couponInfo: 'https://project-mock-server.herokuapp.com/mmrmProd/coupon_information',
				brandInfo: 'https://project-mock-server.herokuapp.com/mmrmProd/brand_information',
				updateMemberProfile: 'https://project-mock-server.herokuapp.com/mmrmProd/update_member_profile',
			},
			pageUrl: {
				invoice_unbinded: './A2_07_00_00.html',
			}
		});
	</script>
</body>

</html>