<!DOCTYPE html>
<html lang="en">

<head>
	<title>搜尋結果</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="aes_key" content="c35eae68c868bd516ed64469e1e30e36">
	<meta name="login_url" content="">
	<meta name="get_member_profile_url" content="https://project-mock-server.herokuapp.com/mmrmProd/member_profile">
	<meta name="get_member_card_url" content="https://project-mock-server.herokuapp.com/mmrmProd/member_card">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/A2_01_01_00.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/crypto/crypto-js.min.js"></script>
	<script src="./lib/dayjs/dayjs.min.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./js/vue-components/filter.js"></script>
	<script src="./js/src/setColor.js"></script>
	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/veevalidate.js"></script>
	<script src="./js/vue-components/filter.js"></script>
	<script src="./js/src/wm_aes.js"></script>
	<script src="./js/src/mmrmAxios.js"></script>
	<script src="./js/src/vue-mixin/localProfile.js"></script>
</head>

<body>
	<div id="app" class="hasPt" v-cloak>
		<div id="pageHeader" style="position:fixed">
			<a href="javascript:;" class="logoBg"></a>
			<div class="userName">{{ profile.name }}</div>
		</div>

		<div class="wrap">
			<div class="noRecord" v-if="showEmptyBlock">
				<div class="searchBg"></div>
				<div class="tipBox center">查無搜尋結果哦！</div>
			</div>
			<ul class="pointList" v-else>
				<point-list
					v-for="item in pointHistory"
					:key="item.timeStamp"
					:point="item"
					@showdetail="showDetailHandler"
				></point-list>
			</ul>
		</div>

		<div v-show="pagLoading" class="pagTip">資料加載中...</div>
		<div v-show="reachBottom" class="pagTip">已經到最底囉～</div>

		<!-- 歷史點數modal -->
		<div class="modal pointModal" id="historyModal" data-backdrop="static">
			<div class="closeBg" @click="hideHistory"></div>
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" v-if="targetHistory !== null">
					<div class="modal-header modal-point-header">
						<div>{{ targetHistory.transaction_type }}</div>
						<div>
							<span class="pointNumber">{{ amountText }}</span>點
						</div>
					</div>
					<div class="modal-body">
						<ul class="historyList">
							<li>
								<div class="title">交易序號</div>
								<div class="colon">:</div>
								<div class="content">{{ targetHistory.transaction_id }}</div>
							</li>
							<li>
								<div class="title">點數交易</div>
								<div class="colon">:</div>
								<div class="content">{{ targetHistory.datetime }}</div>
							</li>
							<li
								v-for="(item,index) in metaList"
								:key="index">
								<div class="title">{{ item.key }}</div>
								<div class="colon">:</div>
								<div class="content">{{ item.value }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="loading" v-if="isLoading"></div>

	</div>

	<script src="./js/vue-components/PointList/PointItem.js"></script>
	<script src="./js/vue-components/PointList/index.js"></script>
	<script type="module">
		import app from './js/page/L2/A2_01_01_06.js';
		app({
			apiUrl: {
            pointHistory: 'https://project-mock-server.herokuapp.com/mmrmProd/point_history'
         }
		});
	</script>

</body>

</html>