<!DOCTYPE html>
<html lang="en">

<head>
	<title>活動票券詳情</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="aes_key" content="791701991223a6d7193e964b6690b58a">
	<meta name="login_url" content="">
	<meta name="get_member_profile_url" content="http://localhost:3034/mmrmProd/member_profile">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/A2.1_00_01_00.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/crypto/crypto-js.min.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./js/src/setColor.js"></script>
	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/veevalidate.js"></script>
	<script src="./js/src/wm_aes.js"></script>
	<script src="./js/src/mmrmAxios.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div id="pageHeader">
			<a href="javascript:;" class="logoBg"></a>
			<div class="userName">{{ profile.name }}</div>
		</div>
		<div class="banner">
			<img :src="couponImg" v-show="hasCouponImg">
		</div>

		<div class="couponIntro" v-if="couponInfo !== null">
			<div class="couponName">{{ couponInfo.title }}</div>
			<ul class="intorList">
				<li>
					<div class="title">使用期限</div>
					<div class="colon">:</div>
					<div class="content">{{ couponInfo.duration }}</div>
				</li>
				<li v-show="!isAllBrand">
					<div class="title">適用品牌</div>
					<div class="colon">:</div>
					<div class="content">{{ brandTitle }}</div>
				</li>
				<li>
					<div class="title">轉贈票券</div>
					<div class="colon">:</div>
					<div class="content">{{ transferStatus }}</div>
				</li>
			</ul>
			<div class="brandLogo" v-show="!isAllBrand" :style="brandLogo"></div>
		</div>

		<div class="usageBox" v-if="couponInfo !== null">
			<div class="storeBox">
				<div class="title arrow" @click="redirectToStoreMap">適用門市</div>
				<div class="content">
					<template v-if="allAvailable">
						<span class="unit">全門市適用</span>
					</template>
					<template v-else>
						<span class="number">{{ availableCount }}</span>
						<span class="unit">家</span>
					</template>
				</div>
			</div>
			<div class="countBox">
				<div class="title">可用次數</div>
				<div class="content">
					<span class="number">{{ couponInfo.total }}</span>
					<span class="unit">次</span>
				</div>
			</div>
		</div>

		<div class="couponDesc" v-html="couponDesc"></div>

		<div id="loading" v-if="isLoading"></div>

	</div>
	
	<script src="./js/src/vue-mixin/localProfile.js"></script>
	<script type="module">
		import app from './js/page/L3/A3.1_02_00_00.js';
		app({
			apiUrl: {
            couponInfo: 'http://localhost:3034/mmrmProd/coupon_information',
            brandInfo: 'http://localhost:3034/mmrmProd/brand_information',
            storeList: 'http://localhost:3034/mmrmProd/search_coupon_available_store',
         },
         pageUrl: {
				storePoint: './A6_00_00_05.html',
         }
		});
	</script>
</body>

</html>