<!DOCTYPE html>
<html lang="en">

<head>
	<title>門市據點</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/A6_00_00_05.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./js/src/setColor.js"></script>
	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/veevalidate.js"></script>
	<script src="./js/vue-components/filter.js"></script>
	<script src="./js/src/wm_aes.js"></script>
	<script src="./js/src/mmrmAxios.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div id="pageHeader">
			<a href="javascript:;" class="logoBg"></a>
			<div class="userName">{{ profile.name }}</div>
		</div>
		<div class="filterPanel">
			<div class="filterText" @click="turnOn = true">
				篩選<span class="count" v-show="isShowStoreCount">{{ totalStore }}</span>
			</div>
		</div>
		<div class="mycontainer">
			<div class="siteList">
				<site-point
					v-for="store in storeList"
					:key="store.store_id"
					:store_bg="store.feature_image.url"
					:brand_logo="store.brandLogo"
					:store_name="store.title"
					:address="store.address"
					:tel="store.tel"
					:distance="store.distance"
					:google_map_url="store.googleMapUrl"
				></site-point>
			</div>

			<div class="emptyBlock" v-show="showEmptyBlock">
				<div class="emptyBg"></div>
				<p>找不到門市據點 !</p>
			</div>

		</div>

		<div id="loading" v-if="isLoading"></div>

		<transition name="fade">
			<div id="maskCover" v-if="turnOn" @click="turnOn = false"></div>
		</transition>

		<store-sidebar
			:turn_on="turnOn"
			@pickup_area="searchHandler"
		></store-sidebar>

	</div>

	<script src="./js/src/zipCode.js"></script>
	<script src="./js/src/vue-mixin/localProfile.js"></script>
	<script src="./js/vue-components/StoreSidebar/index.js"></script>
	<script src="./js/vue-components/SitePoint/index.js"></script>
	<script type="module">
		import app from './js/page/A6/A6_00_00_05.js';
		app({
			apiUrl: {
				searchBrand: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/search_brand',
				brandInfo: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/brand_information',
				searchStore: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/search_store',
				searchStoreByCoupon: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/search_coupon_available_store',
				storeInfo: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/store_information'
         },
			pageUrl: {
				detail: './A2_04_01_00.html'
			}
		});
	</script>
</body>

</html>