<!DOCTYPE html>
<html lang="en">

<head>
	<title>票券列表</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./lib/swiper/swiper.min.css">
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/L2.1_00_00_03.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./js/src/setColor.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<ul class="tabList">
			<li
				v-for="tab in tabList"
				:key="tab.id"
				v-show="tab.isOpenTransfer"
				@click="changeTab(tab.id)">
				<p>{{ tab.title }}</p>
				<span 
					class="line"
					:class="{variationMain: tab.id === currentType}"
				></span>
			</li>
		</ul>
		<div class="wrap">
			<div class="tabContent" v-show="currentType === 'valid'">
				<div class="couponGroup">
					<coupon-block
						v-for="item in validType.data"
						:key="item.coupon_no"
						:info="item"
						:pageurl="pageUrl.couponInfo"
						:brandlist="brandList"
						:multiplebrand="isMultipleBrand"
					></coupon-block>
				</div>
				<div class="emptyBlock" v-show="noValidCoupon">
					<div class="emptyBg"></div>
					<p>您沒有票券呦～</p>
				</div>
				<div class="pagTip" v-show="isLoading">資料加載中...</div>
				<div class="pagTip" v-show="validReach">已經到最底囉～</div>
			</div>

			<div class="tabContent" v-show="currentType === 'invalid'">
				<div class="couponGroup">
					<coupon-block
						v-for="item in invalidType.data"
						:key="item.coupon_no"
						:info="item"
						:pageurl="pageUrl.couponInfo"
						:brandlist="brandList"
						:multiplebrand="isMultipleBrand"
					></coupon-block>
				</div>
				<div class="emptyBlock" v-show="noInvalidCoupon">
					<div class="emptyBg"></div>
					<p>您沒有票券呦～</p>
				</div>
				<div class="pagTip" v-show="isLoading">資料加載中...</div>
				<div class="pagTip" v-show="invalidReach">已經到最底囉～</div>
			</div>

			<div class="tabContent" v-show="currentType === 'transferred'">
				<div class="couponGroup">
					<coupon-block
						v-for="item in transferredType.data"
						:key="item.coupon_no"
						:info="item"
						:pageurl="pageUrl.couponInfo"
						:brandlist="brandList"
						:multiplebrand="isMultipleBrand"
					></coupon-block>
				</div>
				<div class="emptyBlock" v-show="noTransferredCoupon">
					<div class="emptyBg"></div>
					<p>您沒有票券呦～</p>
				</div>
				<div class="pagTip" v-show="isLoading">資料加載中...</div>
				<div class="pagTip" v-show="transferredReach">已經到最底囉～</div>
			</div>
		</div>

		<div class="seeMore" v-show="showSeeMore">
			<a :href="pageUrl.activityList">
				<span class="bg"></span>
				<span class="text">更多優惠，立即前往領取</span>
			</a>
		</div>
	</div>

	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/CouponBlock/index.js"></script>
	<script type="module">
		import app from './js/page/L2/L2.1_00_00_03.js';
		app({
			apiUrl: {
            couponList: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/my_coupon_list',
            couponInfo: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/coupon_information',
            brandInfo: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/brand_information',
            storeList: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/search_coupon_available_store',
            multipleBrand: 'https://boiling-fortress-97054.herokuapp.com/mmrmProd/multiple_brand'
         },
         pageUrl: {
            couponInfo: 'http://localhost:5500/L2.1_00_01_00.html',
            activityList: 'http://localhost:5500/L3.1_00_00_02.html'
         }
		});
	</script>
</body>

</html>