<!DOCTYPE html>
<html lang="en">

<head>
	<title>升續等進度查詢</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/L2_02_00_00.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./js/src/setColor.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div class="mycontainer">
			<div class="levelWrap">
				<level-box
					v-if="nextLevel !== null" 
					:info="nextLevel"
				></level-box>
				<level-box
					v-if="renewLevel !== null" 
					:info="renewLevel"
				></level-box>
			</div>
		</div>
		<div id="loading" v-if="isLoading"></div>
	</div>

	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/LevelBox/index.js"></script>
	<script src="./js/vue-components/LevelBox/ProgressBox.js"></script>
	<script type="module">
		import app from './js/page/L2/L2_02_00_00.js';
		app({
			apiUrl: {
            memberSummary: 'http://localhost:3034/mmrmProd/member_summary',
         }
		});
	</script>
</body>

</html>