<!DOCTYPE html>
<html lang="en">

<head>
	<title>兌換票券詳情頁面</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./lib/mobileSelect/index.css">
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/L3.1_02_00_00.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/mobileSelect/index.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./js/src/setColor.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div class="banner">
			<div class="inner" :style="bgImg" ref="inner"></div>
		</div>
		<div class="wrap">
			<div class="activityIntro" v-if="activityInfo !== null">
				<div class="activityName">{{ activityInfo.title }}</div>
				<ul class="intorList">
					<li>
						<div class="title">兌換時間</div>
						<div class="colon">:</div>
						<div class="content">{{ exchangeTime }}</div>
					</li>
					<li v-for="(meta,index) in metaList" :key="index">
						<div class="title">{{ meta.key }}</div>
						<div class="colon">:</div>
						<div class="content">{{ meta.value }}</div>
					</li>
				</ul>
				<div class="line" v-if="!showPointIntro"></div>
				<div class="brandLogo" :style="brandLogo" v-show="isMultipleBrand"></div>
			</div>
			<div class="pointIntro" v-if="showPointIntro">
				<div class="title">使用以下任一種點數兌換</div>
				<ul class="conditionList">
					<li v-for="item in pointList" :key="item.id">
						<div class="name">{{ item.title }}</div>
						<div class="content">
							{{ item.point }}<span>點</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="couponIntro">
				<div class="title">兌換此活動可獲得以下票券</div>
				<div class="content">
					<coupon-block
						v-for="coupon in couponBlock"
						:key="coupon.coupon_id"
						:info="coupon"
						:pageurl="pageUrl.couponInfo"
						:brandlist="brandList"
						:reverse="true"
						:multiplebrand="isMultipleBrand"
					></coupon-block>
				</div>
			</div>
		</div>

		<div class="activityDesc" v-html="activityDesc"></div>

		<!-- 操作按鈕 -->
		<div class="fixBlock">
			<div 
				class="termActiveButton" 
				v-if="isOpening"
				@click="exchangeHandler"
			>{{ redeemTypeText }}</div>
			<div 
				class="usedBlock"
				v-else
			>{{ activityStatusText }}</div>
		</div>

		<!-- iosPicker -->
		<div id="iosPicker"></div>

		<!-- loading -->
		<div id="loading" v-if="isLoading"></div>

		<!-- 免費兌換modal -->
		<div class="modal msgModal" id="freeModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<div class="modal-body">
						<p>您確定要免費兌換「{{ activityTitle }}」嗎?</p>
					</div>
					<div class="modal-footer split">
						<div onclick="$('#freeModal').modal('hide')">取消</div>
						<div @click="freeExchange">確定</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 兌換失敗modal -->
		<div class="modal msgModal" id="errorModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<div class="modal-body">
						<p>{{ errMsg }}</p>
					</div>
					<div class="modal-footer">
						<p onclick="$('#errorModal').modal('hide')">確認</p>
					</div>
				</div>
			</div>
		</div>

		<!-- 代碼兌換modal -->
		<div class="modal inputModal" id="redeemModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">請輸入兌換碼</h1>
					</div>
					<validation-observer tag="div" class="modal-body" ref="form">
						<validation-provider
							tag="div" class="inputBox" 
							rules="required"
							v-slot="{ errors }">
							<input
								type="text"
								class="form-control" 
								placeholder="請輸入兌換碼"
								v-model.trim="user.code">
							<p class="errMsg" v-show="errors.length !== 0">{{ errors[0] }}</p>
						</validation-provider>
					</validation-observer>
					<div class="modal-footer">
						<div onclick="$('#redeemModal').modal('hide')">取消</div>
						<div @click="redeemExchange">確定</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 代碼兌換失敗modal -->
		<div class="modal msgModal" id="redeemFailModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<div class="modal-body">
						<p>{{ errMsg }}</p>
					</div>
					<div class="modal-footer split">
						<div onclick="$('#redeemFailModal').modal('hide')">取消</div>
						<div @click="reWriteHandler">重新輸入</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 點數兌換modal -->
		<div class="modal msgModal" id="pointModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<div class="modal-body">
						<p>{{ pointTipText }}</p>
					</div>
					<div class="modal-footer split">
						<div onclick="$('#pointModal').modal('hide')">取消</div>
						<div @click="pointExchange">確定</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/veevalidate.js"></script>
	<script src="./js/vue-components/CouponBlock2/index.js"></script>
	<script type="module">
		import app from './js/page/L3/L3.1_02_00_00.js';
		app({
			apiUrl: {
            activityInfo: 'http://localhost:3034/mmrmProd/coupon_activity_information',
            pointInfo: 'http://localhost:3034/mmrmProd/point_information',
            couponInfo: 'http://localhost:3034/mmrmProd/coupon_information',
            brandInfo: 'http://localhost:3034/mmrmProd/brand_information',
            storeList: 'http://localhost:3034/mmrmProd/search_coupon_available_store',
            redeemCouponActivity: 'http://localhost:3034/mmrmProd/redeem_coupon_activity',
            multipleBrand: 'http://localhost:3034/mmrmProd/multiple_brand'
         },
         pageUrl: {
            couponInfo: 'http://localhost:5500/L3.1_02_00_04.html',
            exchangeOk: 'http://localhost:5500/L3.1_01_02_02.html'
         },
		});
	</script>
</body>

</html>