<!DOCTYPE html>
<html lang="en">

<head>
	<title>問與答書本</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="" type="image/jpg" sizes="16x16">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/L8_01_00_00.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./js/src/setColor.js"></script>
	<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>
	<div id="app">
		<div class="mycontainer">
			<chapter
				v-for="(chapter,index) in chapterList"
				:key="index"
				:title="chapter.title"
				:pages="chapter.pages"
				:pageurl="pageUrl.content"
			></chapter>
		</div>

		<div id="loading" v-if="isLoading"></div>
	</div>

	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/Chapter/index.js"></script>
	<script src="./js/vue-components/Chapter/PageList.js"></script>
	<script type="module">
		import app from './js/page/L8/L8_01_00_00.js';

		let init = async function() {
			try {
				await liff.init({ liffId: '1655380649-1GwY0XXg' });
				app({
					apiUrl: {
						faqList: 'https://boiling-fortress-97054.herokuapp.com/mmrm/faqList',
						faqBook: 'https://boiling-fortress-97054.herokuapp.com/mmrm/faqBook',
					},
					pageUrl: {
						content: 'https://harvey0623.github.io/side_project/mmrm/L8_01_00_01.html'
					}
				});
			} catch {
				alert('liff error');
			}
		}

		init();
	</script>
</body>

</html>