<!DOCTYPE html>
<html lang="en">

<head>
	<title>書本版型</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/rewrite-L4.3_00_02_00.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./js/src/setColor.js"></script>
</head>

<body>
	<div id="app" v-cloak>
		<div class="chapterBlock">
			<div class="inner" @click="openSidebar">
				<span>章節列表</span>
				<span class="iconBg"></span>
			</div>
		</div>
		<div class="mycontainer" v-show="showContainer">
			<ul class="bookInfo">
				<chapter
					v-for="(chapter,index) in chapterList"
					:key="index"
					:chapter="chapter"
					:pageurl="pageUrl.bookPage"
				></chapter>
			</ul>
			<div class="pagTip" v-show="!isLoading">已經到最底囉～</div>
		</div>

		<chapter-sidebar
			:turnon.sync="turnOn"
			:chapterlist="chapterList"
			:pageurl="pageUrl.bookPage"
			@showloading="isLoading = true"
		></chapter-sidebar>

		<transition name="fade">
			<div id="maskCover" v-if="turnOn"></div>
		</transition>

		<div id="loading" v-if="isLoading"></div>
	</div>

	<script src="./js/src/systemLang.js"></script>
	<script src="./js/vue-components/veevalidate.js"></script>
	<script src="./js/vue-components/ChapterSidebar/index.js"></script>
	<script src="./js/vue-components/Book/Chapter.js"></script>
	<script src="./js/vue-components/Book/Page.js"></script>
	<script type="module">
		import app from './js/page/L4/rewrite-L4.3_00_02_00.js';
		app({
			apiUrl: {
				book: 'http://localhost:3034/mmrmProd/cms_book',
			},
			pageUrl: {
				bookPage: './rewrite-L4.3_00_03_00.html'
			}
		});
	</script>
</body>

</html>