<!DOCTYPE html>
<html lang="en">

<head>
	<title>書本頁面詳情(線上型錄)</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="aes_key" content="791701991223a6d7193e964b6690b58a">
	<link rel="stylesheet" href="./lib/fontIcon/css/all.min.css">
	<link rel='stylesheet' href='./lib/bs4/bootstrap.min.css'/>
	<link rel="stylesheet" href="./lib/swiper/swiper.min.css">
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/rewrite-L4.3_00_03_00.css">
	<script src='./lib/jquery/jquery.min.js'></script>
	<script src='./lib/bs4/bootstrap.bundle.min.js'></script>
	<script src='./lib/vue/vue.js'></script>
	<script src="./lib/vue/vee-validate.js"></script>
	<script src="./lib/axios/axios.min.js"></script>
	<script src="./lib/sprintf/sprintf.js"></script>
	<script src="./lib/swiper/swiper.min.js"></script>
	<script src="./lib/crypto/crypto-js.min.js"></script>
	<script src="./js/src/setColor.js"></script>
</head>

<body>
	<div id="app" v-cloak class="hasPaddingTop" :class="{tall:hasControl}">
		<div class="insidePageBlock">
			<div class="backIcon" @click="backPrevPage"></div>
			<div>內頁資訊</div>
			<div class="empty"></div>
		</div>
		<div class="block pageInfo">
			<p class="pageTitle" :class="{hasMargin: hasMetaList}">{{ pageTitle }}</p>
			<ul class="introList">
				<li v-for="(meta,index) in metaList" :key="index">
					<div class="title">{{ meta.key }}</div>
					<div class="colon">:</div>
					<div class="content">{{ meta.value }}</div>
				</li>
			</ul>
		</div>
		<div class="block editor" v-show="hasPageContent" v-html="pageContent"></div>
		<div class="hrBlock" v-show="!hasPageContent">
			<hr>
		</div>
		<ul class="block menuBox">
			<link-block
				v-for="(link,index) in linkBlocks"
				:key="index"
				:menutitle="link.title"
				:links="link.links"
				:bookpage="pageUrl.book"
				@popup="showPopup"
			></link-block>
		</ul>
		<page-control
			:book_info="bookData"
			:page_info="pageData"
			:pageurl="pageUrl.page"
			:book_id="bookId"
			:page_id="pageId"
			:current-page="currentPage"
			@padding="addPadding"
			@popup="showPopup"
		></page-control>

		<div id="loading" v-if="searchLoading"></div>
		
		<!-- 外部連結提示modal -->
		<div class="modal msgModal" id="hyperModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<div class="modal-body">
						<p>{{ modalTitle.hyperlink }}</p>
					</div>
					<div class="modal-footer split">
						<div onclick="$('#hyperModal').modal('hide')">取消</div>
						<div @click="confirmHyper">確定</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 密碼驗證modal -->
		<div class="modal inputModal" id="checkPw" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<validation-observer tag="div" class="modal-body" ref="form">
						<div class="tipText">本連結需使用到您的個人資料，請先輸入會員密碼</div>
						<validation-provider
							tag="div" class="inputBox" 
							rules="required|password"
							v-slot="{ errors }">
							<input 
								type="password" 
								class="form-control" 
								placeholder="請輸入會員密碼"
								maxLength="12"
								v-model.trim="user.password">
							<p class="errMsg" v-show="errors.length !== 0">{{ errors[0] }}</p>
						</validation-provider>
					</validation-observer>
					<div class="modal-footer">
						<div onclick="$('#checkPw').modal('hide')">取消</div>
						<div @click="confirmPassword">確定</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 錯誤提示 -->
		<div class="modal msgModal" id="failModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">提示</h1>
					</div>
					<div class="modal-body">
						<p>{{ modalTitle.error }}</p>
					</div>
					<div class="modal-footer">
						<p onclick="$('#failModal').modal('hide')">確認</p>
					</div>
				</div>
			</div>
		</div>

		<!-- link 選單modal -->
		<div class="modal optionModal" id="optionModal" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title">{{ modalTitle.popup }}</h1>
					</div>
					<div class="modal-body">
						<div
							class="couponItem cancelColor"
							v-for="(option,index) in optionList"
							:key="index"
							@click="optionClick(option)">
							{{ option.title }}
						</div>
						<div class="couponItem">
							<p onclick="$('#optionModal').modal('hide')">取消</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="./js/src/systemLang.js"></script>
	<script src="./js/src/globalEncrypt.js"></script>
	<script src="./js/vue-components/veevalidate.js"></script>
	<script src="./js/vue-components/PageMenu/index.js"></script>
	<script src="./js/vue-components/PageMenu/LinkItem.js"></script>
	<script src="./js/vue-components/PageMenu/PageControl.js"></script>
	<script src="./js/src/vue-mixin/openLink.js"></script>
	<script type="module">
		import app from './js/page/L4/rewrite-L4.5_00_03_00.js';
		app({
			openLink: window.openLink,
			apiUrl: {
				book: 'http://localhost:3034/mmrmProd/cms_book',
				pageInfo: 'http://localhost:3034/mmrmProd/cms_book_page',
				verifyPassword: 'http://localhost:3034/mmrmProd/verify_password',
			},
			pageUrl: {
				book: './rewrite-L4.5_00_01_00.html',
				page: './rewrite-L4.5_00_03_00.html'
			}
		});
	</script>
</body>

</html>