%arrowBg {
   @extend %bgImgCenter;
   position: absolute;
   top: 16px;
   right: 15px;
   @include size(15px);
   background-image: url("../img/btn_listcore_indicatordown_std_n@2x.png");
   &.hide {
      z-index: -1;
   }
}

.dataOuter {
   margin-bottom: map-get($gutter, double);
}

.dataBox {
   @include elGutter(margin-bottom, map-get($gutter, basic));
   >.dataTitle {
      padding-left: 15px;
      margin-bottom: map-get($gutter, basic);
      color:  #fff;
   }
   >.dataBody {
      padding: 0px 0px 0 15px;
      background-color: #fff;
      border-radius: map-get($radius, basic);
      >.dataRow {
         position: relative;
         overflow: hidden;
         border-bottom: 1px solid map-get($borderColor, placeholder);
         &:last-child {
            border-bottom: none;
         }
         >.dataName {
            position: absolute;
            left: 0;
            top: 12px;
            color: map-get($fontColor, formTitle);
         }
         >.form-control {
            position: relative;
            padding: 0px 15px 0px 70px;
            border: none;
            text-align: right;
         }
         >.errMsg {
            padding-right: 15px;
            padding-bottom: 5px;
            text-align: right;
         }
         .pwInput {
            padding-right: 45px;
         }
         .dateInput {
            position: relative;
            left: 25px;
            padding-right: 35px;
            padding-top: 13px;
            &.hide {
               padding-right: 15px;
            }
            @media (min-width: 1280px) {
               padding-right: 55px;
               padding-top: 0;
            }
         }
         .sixInput {
            padding-left: 100px;
         }
         .eigthInput {
            padding-left: 130px;
         }
         select {
            @extend %resetForm;
            text-align: right;
            direction: rtl;
            &.selectDown {
               padding-right: 35px;
            }
         }
      }
      .visibleBox {
         position: absolute;
         right: 10px;
         top: 10px;
         @include size(25px);
         @extend %bgImgCenter;
         &.show {
            background-image: url("../img/btn_common_password_visible_n@2x.png");
         }
         &.hide {
            background-image: url("../img/btn_common_password_visible_h@2x.png");
         }
      }
      .downIcon {
         @extend %arrowBg;
      }
      .dateDown {
         @extend %arrowBg;
      }
   }
}