$termBasicHeight: map-get($heightObj, basic);
$termBasicRadius: map-get($radius, basic);
$termInputColor: map-get($fontColor, input);

.termPopup {
   position: fixed;
   left: 0;
   top: 0;
   @include size(100%, 100vh);
   background-color: #fff;
   display: none;
   z-index: 10;
   &.show {
      opacity: 1;
      display: block;
   }
}

.termBody {
   height: calc(100vh - #{$termBasicHeight});
   padding: 20px;
   background-color: #fff;
   overflow: auto;
   >.termContent {
      padding: 15px;
      line-height: 1.8;
      background-color: map-get($elBgColor, termContent);
      border-radius: $termBasicRadius;
      color: map-get($fontColor, formTitle);
      text-align: justify;
      ol, ul {
         padding-left: 40px;
         list-style: disc;
      }
      img {
         max-width: 100%;
      }
   }
}

.termFooter {
   position: fixed;
   left: 0;
   bottom: 0;
   @include size(100%, $termBasicHeight);
   line-height: $termBasicHeight;
   background-color: map-get($elBgColor, placeholder);
   color: $termInputColor;
   text-align: center;
   cursor: pointer;
   &.termActiveButton {
      background-color: var(--variationMain);
		color: #fff;
   }
}