.info-block > .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block > .panel > .closeBg, .enlarge-block > .largeInner > .cancelBox > .cancel-icon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

body {
  min-height: 100vh;
  padding-top: 50px;
}

.content-block {
  position: relative;
  min-height: 100vh;
  padding: 15px;
  background-color: #4a4a4a;
}

.content-block > .banner-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 220px;
  background-image: url("../img/placeholder.jpg");
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.content-block > .banner-block::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4a4a4a;
  opacity: 0.5;
}

.info-block {
  position: relative;
  max-width: 400px;
  margin: 35px auto 0;
  z-index: 3;
}

.info-block > .panel {
  position: relative;
  margin-bottom: 50px;
}

.info-block > .panel > .closeBg {
  width: 30px;
  height: 30px;
  background-image: url("../img/btn_nav_close_popup_n@2x.png");
  opacity: 0;
  cursor: pointer;
}

.info-block > .panel > .switchText {
  color: #fff;
  cursor: pointer;
}

.info-block > .panel > .brandLogo {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 70px;
  height: 70px;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  background-image: url("../img/logo@2x.png");
  background-size: contain;
  border-radius: 50%;
}

.cardBox {
  max-width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 360px) {
  .cardBox {
    max-width: 100%;
  }
}

.cardBox > .cardHead {
  position: relative;
  padding: 25px 20px;
  min-height: 101px;
  text-align: center;
  border-bottom: 1px dashed #C9C9C9;
}

.cardBox > .cardHead > .name {
  margin-bottom: 5px;
  color: #292929;
}

.cardBox > .cardHead > .duration {
  color: #797979;
}

.cardBox > .cardHead:before, .cardBox > .cardHead:after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background-color: #4a4a4a;
  border-radius: 50%;
}

.cardBox > .cardHead:before {
  left: -10px;
}

.cardBox > .cardHead:after {
  right: -10px;
}

.cardBox > .cardBody {
  position: relative;
  padding: 0px 10px;
}

.cardBox > .cardBody > .modeBox {
  padding: 50px 0px;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
}

.cardBox > .cardBody > .modeBox.show {
  position: static;
}

.cardBox > .cardBody > .modeBox > #qrcode {
  margin-bottom: 50px;
}

.cardBox > .cardBody > .modeBox > #qrcode > img, .cardBox > .cardBody > .modeBox > #qrcode canvas {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.normal-swiper-container,
.enlarge-swiper-container {
  padding-bottom: 25px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.swiper-pagination-bullet-active {
  background-color: var(--variationMain);
}

.group.rotate {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 110%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.barcode-item {
  margin-bottom: 20px;
}

.barcode-item:last-child {
  margin-bottom: 0;
}

.barcode-item > p {
  text-align: center;
}

.barcode-item svg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.enlarge-block {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 20px 10px;
  background-color: #4a4a4a;
  z-index: 11;
}

.enlarge-block.show {
  left: 0;
}

.enlarge-block > .largeInner {
  height: calc(100vh - 40px);
  background-color: #fff;
  border-radius: 5px;
}

.enlarge-block > .largeInner > .cancelBox {
  padding: 10px;
}

.enlarge-block > .largeInner > .cancelBox > .cancel-icon {
  width: 35px;
  height: 35px;
  background-image: url("../img/btn_nav_close_lightbg_n@2x.png");
}

.enlarge-block > .largeInner > .largeBody {
  height: calc(100% - 55px);
}

.enlarge-block > .largeInner > .largeBody .enlarge-swiper-container {
  height: 100%;
}
/*# sourceMappingURL=A2.1_00_02_00.css.map */