.consumptionItem > .infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brandBg, .arrowBg, .returnBg {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#app {
  padding-top: 50px;
}

.historyList.mb {
  margin-bottom: 20px;
}

.consumptionItem {
  position: relative;
  display: block;
  padding: 20px 20px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.consumptionItem:last-child {
  margin-bottom: 0;
}

.consumptionItem > .infoBox {
  margin-bottom: 15px;
  color: #292929;
}

.consumptionItem > .infoBox > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consumptionItem > .normalColor {
  color: #797979;
}

.consumptionItem > .storeName {
  margin-bottom: 5px;
}

.brandBg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url("../img/logo@2x.png");
}

.arrowBg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-image: url("../img/btn_listcore_indicatorright_std_n@2x.png");
}

.returnBg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45px;
  height: 45px;
  -webkit-transform: translate(-22px, -22px);
          transform: translate(-22px, -22px);
  background-image: url("../img/img_member_txnhistory_refund_n@2x.png");
}

.tipBox {
  margin-top: 20px;
}

.groupBlock {
  margin-bottom: 20px;
}

.groupBlock:last-child {
  margin-bottom: 0;
}

.groupTitle {
  margin-bottom: 10px;
  padding-left: 8px;
  color: #797979;
}

.groupInfo {
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 5px;
  color: #797979;
}

.groupInfo > .group-row {
  margin-bottom: 10px;
}

.groupInfo > .group-row:last-child {
  margin-bottom: 0;
}

.groupInfo > .group-row > .group-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-top;
      -ms-flex-align: flex-top;
          align-items: flex-top;
  margin-bottom: 10px;
}

.groupInfo > .group-row > .group-content:last-child {
  margin-bottom: 0;
}

.groupInfo > .group-row > .group-content > .title {
  width: 60px;
}

.groupInfo > .group-row > .group-content > .colon {
  margin: 0 5px;
}

.groupInfo > .group-row > .group-content > .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-break: break-all;
}

.groupInfo > .group-row > .group-content.space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.groupInfo > .group-row > .group-content.tableHeader {
  color: #292929;
}

.tableOuter {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.consume_table {
  width: 100%;
}

.consume_table th, .consume_table td {
  padding: 7px;
}

.consume_table th:first-child, .consume_table td:first-child {
  text-align: left;
}

.consume_table th:last-child, .consume_table td:last-child {
  text-align: right;
}

.consume_table th {
  font-weight: normal;
  color: #292929;
}

.consume_table td {
  color: #797979;
}
/*# sourceMappingURL=A2_04_00_00.css.map */