$halfRadius: 5px;

.couponBlock {
   display: block;
   height: 120px;
   background-color: #fff;
   border-radius: $halfRadius;
   @extend %clearFix;
   @include elGutter(margin-bottom, 15px);
   &.reverse {
      >div {
         float: right;
      }
   }
   >div {
      float: left;
   }
}

.couponBlockL {
   width: calc(100% - 120px);
   padding: 15px 15px 0;
   >* {
      @include elGutter(margin-bottom, 5px);
   }
   >.brandInfo {
      display: flex;
      align-items: center;
      &.multiple {
         margin-bottom: 0;
         opacity: 0;
      }
      &.allBrand{ 
         margin-bottom: 0;
         opacity: 0;
      }
      >.brandLogo {
         @include size(18px);
         background-image: url("../img/placeholder.jpg");
         background-size: cover;
         background-position: center center;
      }
      >span {
         color: map-egt($fontColor, formTitle);
         margin-left: 8px;
      }
   }
   >.couponTitle {
      color: map-get($fontColor, formTitle);
      @extend %hideTxt;
   }
   >.detail {
      font-size: 12px;
      color: map-get($fontColor, input);
      >p {
         @extend %hideTxt;
         &:first-child {
            margin-bottom: 3px;
         }
      }
   }
}

.couponBlockR {
   position: relative;
   @include size(120px);
   border-top-right-radius: $halfRadius;
   border-bottom-right-radius: $halfRadius;
   background-size: cover;
   background-position: center center;
   background-image: url("../img/placeholder.jpg");
   z-index: 2;
   &.reverse {
      border-top-left-radius: $halfRadius;
      border-bottom-left-radius: $halfRadius;
      &:before,
      &:after {
         left: initial;
         right: -7.5px;
      }
   }
   &:before,
   &:after {
      content: '';
      position: absolute;
      left: -7.5px;
      @include size(15px);
      background-color: map-get($elBgColor, body);
      border-radius: 50%;
      z-index: 8;
   }
   &:before {
      top: -7.5px;
   }
   &:after {
      bottom: -7.5px;
   }
   >.usageCover {
      position: absolute;
      left: 0;
      top: 0;
      @include size(100%);
      line-height: 120px;
      color: #fff;
      font-size: 17px;
      text-align: center;
      background-color: rgba(#000, 0.7);
      border-radius: 0 5px 5px 0;
      z-index: 7;
   }
   >.giftIcon {
      position: absolute;
      right: 0;
      top: 0;
      @include size(40px);
      background-image: url("../img/img_mycoupon_tag_give_n.png");
      background-size: contain;
      z-index: 8;
   }
   >.index {
      position: absolute;
      right: 0;
      bottom: 0;
      padding-right: 10px;
      padding-left: 10px;
      transform: translateX(10px);
      color: #fff;
      background-color: var(--variationSub);
      border-radius: 10px 0 0 10px;
      font-size: 12px;
      z-index: 8;
      display: none;
   }
}