.menu-brand-popup{
   position: fixed;
   left: 0;
   top: 0;
   @include size(100%, 100vh);
   background-color: map-get($elBgColor, body);
   z-index: 10;
}

.menu-brand-item {
   width: 33.33%;
   margin-bottom: 40px;
   cursor: pointer;
   >.logo {
      @include size(70px);
      margin: 0 auto 5px;
      background-size: contain;
      background-image: url("../img/logo@2x.png");
   }
   >p {
      padding: 0 5px;
      text-align: center;
   }
}