.pointCard {
   display: flex;
   align-items: center;
   @include elGutter(margin-bottom, 20px);
   padding: 25px;
   border-radius: map-get($radius, basic);
   background-color: #fff;
   >.pointBg {
      flex: 0 0 50px;
      height: 50px;
      background-image: url("../img/placeholder.jpg");
      background-position: center center;
      background-size: contain;
   }
   >.pointDesc {
      flex: 1;
      padding-left: 20px;
      >* {
         @include elGutter(margin-bottom, 3px);
      }
      >.pointTitle {
         color: map-get($fontColor, formTitle);
         font-size: 17px;
      }
      >.pointAmount {
         color: map-get($fontColor, formTitle);
         >.number {
            margin-right: 5px;
            font-size: 30px;
            color: var(--variationMain);
         }
      }
      >.expireTime {
         color: map-get($fontColor, input);
      }
   }
}