$sideBarHeight: 40px;
$sideTime: 0.25s;
%listStyle {
   @extend %bwtFlex;
   height: map-get($heightObj, basic);
   padding-right: 15px;
   border-bottom: 1px solid map-get($borderColor, placeholder);
}
%menuArrow {
   position: absolute;
   right: 0px;
   top: 5px;
   @include size(15px);
   @extend %bgImgCenter;
}

#sidebar {
   position: fixed;
   right: 0;
   top: 0;
   @include size(300px, 100vh);
   transform: translateX(100%);
   transition: transform $sideTime;
   background-color: #fff;
   overflow: hidden;
   z-index: 99;
   &.show {
      transform: translateX(0);
   }
}

.sidebarPanel {
   @extend %bwtFlex;
   height: $sideBarHeight;
   padding: 0 15px;
   background-color: map-get($elBgColor, panel);
   >.seekText {
      color: map-get($fontColor, formTitle);
      font-size: 17px;
   }
   >.empty {
      width: 30px;
   }
   >.sureText {
      color: map-get($fontColor, search);
      cursor: pointer;
   }
}

.sidebarFilter {
   padding-left: 20px;
   >li {
      @extend %listStyle;
      >.filterTitle {
         color: map-get($fontColor, formTitle);
      }
      >.dateOuter {
         position: relative;
         padding-right: 20px;
         overflow: hidden;
         >input {
            @extend %resetForm;
            position: relative;
            left: 20px;
            width: 150px;
            border: none;
            color: map-get($fontColor, input);
            background-color: #fff;
            text-align: right;
            direction: rtl;
         }
         >.arrowBox {
            @extend %menuArrow;
            top: 5px;
            background-image: url("../img/btn_listcore_indicatordown_std_n@2x.png");
         }
      }
   }
}

.filterItem {
   position: relative;
   display: flex;
   align-items: center;
   padding-right: 20px;
   &.layoutItem {
      top: 2px;
      padding-right: 5px;
   }
   >.count {
      @include size(22px);
      line-height: 22px;
      border-radius: 50%;
      color: #fff;
      background-color: #528fff;
      text-align: center;
      font-size: 12px;
   }
   >.arrowBox {
      @extend %menuArrow;
      top: 4px;
      background-image: url("../img/btn_listcore_indicatorright_std_n@2x.png");
   }
   >.layout {
      @include size(18px);
      @extend %bgImgCenter;
      &A {
         background-image: url("../img/btn_filter_view_big_n@2x.png");
         margin-right: 12px;
         &.active {
            background-image: url("../img/btn_filter_view_big_h@2x.png");
         }
      }
      &B {
         background-image: url("../img/btn_filter_view_list_n@2x.png");  
         &.active {
            background-image: url("../img/btn_filter_view_list_h@2x.png");
         }
      }
   }
}

.subMenu {
   position: absolute;
   left: 0;
   top: $sideBarHeight;
   width: 100%;
   height: calc(100vh - #{$sideBarHeight});
   transform: translateX(100%);
   background-color: #fff;
   transition: transform $sideTime;
   overflow: auto;
   &.show {
      transform: translateX(0);
   }
   >.clearAll {
      height: map-get($heightObj, basic);
      padding-right: 15px;
      margin-bottom: 10px;
      line-height: map-get($heightObj, basic);
      color: map-get($fontColor, search);
      text-align: right;
      &.between {
         padding-left: 15px;
         @extend %bwtFlex;
      }
   }
}

.criteriaList {
   padding-left: 20px;
   >li {
      @extend %listStyle;
      display: block;
      >label {
         @extend %bwtFlex;
         @include size(100%);
      }
      .criteriaTitle {
         display: flex;
         align-items: center;
         >img {
            @include size(18px);
            margin-right: 10px;
            transform: translateY(0.5px);
         }  
         >span {
            color: map-get($fontColor, formTitle);
         }
      }
      .hookCheckbox {
         transform: translateY(2px);
      } 
   }
}

//===門市據點
.storeFilter {
   padding-left: 20px;
   >div {
      &.hasBorder {
         @extend %listStyle;
      }
      >.areaDownIcon {
         @include size(15px);
         background-size: contain;
         background-image: url("../img/btn_listcore_indicatorright_std_n@2x.png");
         &.rotate {
            transform: rotate(90deg);
         }
      }
   }
}

.storeAreaBlock {
   height: 0px;
   overflow: hidden;
   transition: height 0.2s;
   &.active {
      height: 92px;
   }
   >.selectOuter {
      position: relative;
      padding-right: 20px;
      border-bottom: 1px solid map-get($borderColor, placeholder);
      >select {
         border: none;
         @extend %resetForm;
      }
      >.downIcon {
         position: absolute;
         right: 15px;
         top: 15px;
         @include size(17px);
         background-image: url("../img/btn_listcore_indicatordown_std_n@2x.png");
         background-size: contain;
      }
   }
}