.tabList {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #fff;
   display: flex;
   align-items: center;
   z-index: 10;
   >li {
      flex: 1;
      position: relative;
      height: $basicHeight;
      text-align: center;
      line-height: $basicHeight;
      color: map-get($fontColor, formTitle);
      cursor: pointer;
      >.line {
         position: absolute;
         left: 0;
         bottom: 0;
         @include size(100%, 2px);
         &.variationMain {
            background-color: var(--variationMain);
         }
      }
   }
}