<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
      <title>武漢肺炎全球分佈圖</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="./css/wuhan.css"/>
   </head>
   <body>
      <div id="app" class="container-fluid">
         <header class="header p-3">
            <h1 class="text-center h4">武漢肺炎全球分佈圖</h1>
            <h6>
               資料來源：
               <a
                  href="https://github.com/CSSEGISandData/COVID-19"
                  target="_blank"
                  >COVID-19</a
               >
            </h6>
            <h6>
               開發筆記：
               <a
                  href="https://letswrite.tw/google-map-api-covid/"
                  target="_blank"
                  >Let's Write</a
               >
            </h6>
            <h6>
               原始碼：
               <a
                  href="https://gist.github.com/letswritetw/f386028c675c43250722ed49d5d572b6"
                  target="_blank"
                  >Gist</a
               >
            </h6>
         </header>

         <main class="full-screen" :class="{ 'loading': loadingMask }">
            <div id="map"></div>
         </main>

         <!-- 表列數據 -->
         <aside class="data-list card text-white bg-dark for-mobile-up">
            <div class="card-header">
               <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                     <a
                        class="nav-link text-white bg-dark"
                        :class="{ 'active': tabType == 'confirmed' }"
                        href="#"
                        @click.prevent="tabType = 'confirmed'"
                        >確診</a
                     >
                  </li>
                  <li class="nav-item">
                     <a
                        class="nav-link text-white bg-dark"
                        :class="{ 'active': tabType == 'recovered' }"
                        href="#"
                        @click.prevent="tabType = 'recovered'"
                        >康復</a
                     >
                  </li>
                  <li class="nav-item">
                     <a
                        class="nav-link text-white bg-dark"
                        :class="{ 'active': tabType == 'death' }"
                        href="#"
                        @click.prevent="tabType = 'death'"
                        >死亡</a
                     >
                  </li>
               </ul>
            </div>
            <div class="card-body pr-2 pl-0">
               <ul class="list-group list-group-flush">
                  <li
                     v-for="(data, key) in responseData"
                     class="list-group-item d-flex justify-content-between align-items-center text-white bg-dark"
                  >
                     <a
                        href="#"
                        @click.prevent="moveMapCenter(data.lat, data.lng, data)"
                     >
                        {{ data.state }}
                     </a>
                     <span class="badge badge-secondary badge-pill">
                        {{ showCount(data.confirmed, data.recovered, data.death)
                        }}
                     </span>
                  </li>
               </ul>
            </div>
         </aside>

         <!-- chart modal -->
         <section class="chart-modal for-mobile-up" v-show="toast">
            <div class="toast text-center" :class="{ 'fade show': toast }">
               <div
                  class="spinner-border text-secondary m-5"
                  v-if="toastLoading"
               >
                  <span class="sr-only">Loading...</span>
               </div>
               <div class="toast-header" v-if="!toastLoading">
                  <strong class="mr-auto">{{ chart.state }}</strong>
                  <small
                     >確診：{{ chart.confirmed }}。康復：{{ chart.recovered
                     }}。死亡：{{ chart.death }}</small
                  >
                  <button
                     type="button"
                     class="ml-2 mb-1 close"
                     @click="destroyChart"
                  >
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="toast-body" v-show="!toastLoading">
                  <canvas id="data-chart"></canvas>
               </div>
            </div>
         </section>
      </div>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4XIUbLIq21tyulO5EKoO8_M9FYzfp1JA&libraries=visualization"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
      <script src="./js/wuhanMapStyle.js"></script>
      <script src="./js/wuhanDemo.js"></script>
   </body>
</html>
