<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>memory game</title>
    <link rel="stylesheet" href="./flipClock/flipclock.css">
    <link rel="stylesheet" href="./index.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js'></script>
    <script src="./flipClock/flipclock.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="instruction" v-if="!gameStatus">
            <p>遊戲名稱: 翻牌記憶遊戲</p>
            <p>規則: 翻出兩張同樣圖片的卡即可完成配對</p>
            <p v-if="spendTime">花費時間: {{ spendTime }}</p>
            <button @click="startGame" v-if="firstPlay">開始遊戲</button>
            <button @click="playAgain" v-else>再玩一次</button>
            <div class="recordBox" v-if="record.length">
                <p>歷史記錄(取前3名)</p>
                <ul class="recordList">
                    <li v-for="(item, idx) in record" v-if="idx !== 3">
                        {{ idx + 1 }}. {{ timeToString(item) }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="timerBox">
            <div id="clock"></div>
        </div>
        <section class="gameBox" v-if="shuffleCard.length">
            <div 
                v-for="(card, idx) in shuffleCard" 
                :key="idx"
                class="card" 
                :class="{flip: card.isFlip}"
                @click="flipCard(card)"
            >
                <div 
                    class="front-face"
                    :style="`background-image:url(${card.imgUrl})`"
                >
                </div>
                <div class="back-face"></div>
            </div>
        </section>
    </div>

    <script>
        let vm = new Vue({
            el: '#app',
            data() {
                return {
                    cardData: [
                        {
                            imgUrl: './img/vue.png',
                            value: 'vue',
                            isCheck: false,
                            isFlip: false
                        },
                        {
                            imgUrl: './img/angular.png',
                            value: 'angular',
                            isCheck: false,
                            isFlip: false
                        },
                        {
                            imgUrl: './img/react.png',
                            value: 'react',
                            isCheck: false,
                            isFlip: false
                        },
                        {
                            imgUrl: './img/webpack.png',
                            value: 'webpack',
                            isCheck: false,
                            isFlip: false
                        },
                        {
                            imgUrl: './img/node.png',
                            value: 'node',
                            isCheck: false,
                            isFlip: false
                        },
                        {
                            imgUrl: './img/jquery.png',
                            value: 'jquery',
                            isCheck: false,
                            isFlip: false
                        },
                    ],
                    shuffleCard: [],
                    firstCardFlip: false,
                    firstCard: null,
                    secondCard: null,
                    lockBoard: false,
                    gameStatus: false,
                    $clockObj: null,
                    spendTime: 0,
                    firstPlay: true,
                    record: [],
                    timeToString: function(sec) {
                        return `${Math.floor(sec / 60)}分${sec % 60}秒`;
                    }
                }
            },
            created() {
                let copyData = JSON.parse(JSON.stringify(this.cardData));
                this.shuffleCard = this.cardData.concat(copyData);
                this.shuffleCard.sort((a ,b) => Math.random() > 0.5 ? -1 : 1);  //打亂資料順序
            },
            methods: {
                flipCard(card) {  //翻牌
                    if (card.isCheck || this.lockBoard) return;
                    card.isFlip = true;

                    //判斷是否翻了第一張牌
                    if (!this.firstCardFlip) {
                        this.firstCardFlip = true;
                        this.firstCard = card;
                    } else {
                        this.secondCard = card;
                        this.checkMatch();
                    }
                },
                checkMatch() {  //確認答案是否相同
                    this.lockBoard = true;
                    if (this.firstCard.value === this.secondCard.value) {
                        this.firstCard.isCheck = true;
                        this.secondCard.isCheck = true;
                        this.allMatched();
                        this.reset();
                    } else {
                        this.reSelect();
                    }
                },
                allMatched() {  //判斷是否全部配對
                    let isAllMatched = this.shuffleCard.every(card => card.isCheck);
                    if (isAllMatched) this.$clockObj.stop();
                },
                reSelect() {  //重選
                    setTimeout(() => {
                        this.firstCard.isFlip = false;
                        this.secondCard.isFlip = false;
                        this.reset();
                    }, 500);
                },
                reset() {  //重置
                    this.firstCard = null;
                    this.secondCard = null;
                    this.firstCardFlip = false;
                    this.lockBoard = false
                },
                startGame() {  //開始遊戲
                    this.firstPlay = false;
                    this.gameStatus = true;
                    this.$clockObj.start();
                },
                playAgain() {  //再玩一次
                    this.shuffleCard.forEach(card => {
                        card.isFlip = false
                        card.isCheck = false
                    });

                    setTimeout(() => {
                        this.gameStatus = true;
                        this.spendTime = 0;
                        this.$clockObj.reset();
                        this.$clockObj.start();
                        this.shuffleCard.sort((a ,b) => Math.random() > 0.5 ? -1 : 1);
                    }, 200);
                },
                readRecord() {  //讀紀錄
                    this.record = JSON.parse(localStorage.getItem('record') || '[]');
                },
                doRecord(time) {  //寫紀錄
                    this.record.push(time);
                    this.record.sort((a, b) => a - b);
                    localStorage.setItem('record', JSON.stringify(this.record));
                },
            },
            mounted() {
                this.readRecord();
                this.$clockObj = $('#clock').FlipClock({
                    autoStart: false,
		            clockFace: 'MinuteCounter',
                    callbacks: {
                        stop: () => {
                            setTimeout(() => {
                                let totalTime = this.$clockObj.getTime().time - 1;
                                this.gameStatus = false;
                                this.spendTime =  this.timeToString(totalTime);
                                this.doRecord(totalTime);
                            }, 200);  //配合transition動畫時間
                        }
                    }
		        });
            }
        });
    </script>
</body>

</html>