@import './utility/index';

.dataOuter {
   margin-bottom: 0;
}

.communication {
   height: map-get($heightObj, basic);
}

// .skip {
//    margin-bottom: map-get($gutter, basic);
//    cursor: pointer;
// }

.branchName {
   height: map-get($heightObj, basic);
}

.multipleBlock {
   padding: 15px 34px 0;
   @include elGutter(margin-bottom, 15px);
   background-color: #fff;
   >.multipleTitle {
      margin-bottom: 10px;
      color: map-get($fontColor, formTitle);
   }
   >.multipleBody {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      >.chooesItem {
         min-width: 102px;
         padding: 9px 22px;
         margin-right: 10px;
         margin-bottom: 15px;
         border-radius: map-get($radius, basic);
         border: 1px solid map-get($borderColor, placeholder);
         color: map-get($fontColor, formTitle);
         font-size: 14px;
         text-align: center;
         &.active {
            background-color: var(--variationMain);
            color: #fff;
         }
      }
   }
}

.branch-item {
   display: flex;
   align-items: center;
   @include elGutter(margin-bottom, 12px);
   padding: 15px;
   border-radius: 3px;
   background-color: #fff;
   >.left {
      flex: 1;
      color: map-get($fontColor, formTitle);
      .distance, 
      .address {
         color: map-get($fontColor, placeholder);
         font-size: 15px;
      }
   }
   >.right {
      flex: 0 0 30px;
      text-align: right;
      >input {
         position: relative;
         @extend %resetForm;
         @include size(20px);
         border: 1px solid var(--variationMain);
         border-radius: 50%;
         transform: translateY(3px);
         &:checked {
            background-color: #fff;
            &:after {
               display: block;
            }
         }
         &:after {
            content: '';
            @extend %posCenter;
            @include size(15px);
            background-color: var(--variationMain);
            border-radius: 50%;
            display: none;
         }
      }
   }
}

.emptyBg {
   background-image: url("../img/img_store_empty_n_n@3x.png");
}