:root {
   --variationMain: #bca487;
   --variationSub: #4a4a4a;
   --variationAdorn: #f49f0a;
}
@import './modules/reset';
@import './utility/index';
@import './modules/btn';
@import './modules/formUI';
@import './modules/layout';
@import './modules/formLayout';
@import './modules/dataBox';
@import './modules/modal/index';
@import './modules/loading';
@import './modules/termPopup';
@import './modules/branchPopup';