/*=======header========*/
.headerInner>.logo{
    display: none;
}
.headerInner>.pageTitle,
.headerInner>.back{
    display: block;
}
/*======content=====*/

/*公司資料*/
.companyName{
    padding:15px;
}
.companyName>p{
    margin-bottom:0;
    font-size:18px;
    line-height: 1.5;
    max-height:54px;
    overflow: hidden;
    color:#0077cc;
    font-weight:bold;
}
.basicInfo>p,
.env>p,
.intro>p{
    height:30px;
    padding-left:15px;
    margin-bottom:15px;
    line-height: 30px;
    color:#383838;
    background-color: #f0f0f0;
    font-size:15px;
    font-weight:bold;
}
.basicInfo>table{
    width:100%;
}
.basicInfo>table td{
    padding:0px 15px 15px 15px;
    font-size:15px;
    vertical-align: top;
}
.basicInfo>table td:first-child{
    width:22%;
}
.basicInfo>table td:nth-child(2){
    width:12%;
    padding-left:0;
}
.basicInfo>table td:last-child{
    width:66%;
    padding-left:0;
}
.basicInfo>table td>img{
    display: block;
    width:20px;
    height:20px;
    margin:0 auto;
}
.basicInfo a.phone,
.basicInfo a.web{
    color:#0077cc;
}
.basicInfo a.addr{
    text-decoration: underline;
}
/*公司環境*/
.env>p{
    margin-bottom:0;
}
.envBox{
    position: relative;
    width:90%;
    padding:15px;
    margin:0 auto;
}
.envBox>i{
    position: absolute;
    color:#909090;
    font-size:30px;
}
.envBox>.fa-caret-left{
    left:-10px;
    top:42%;
}
.envBox>.fa-caret-right{
    right:-10px;
    top:42%;
}
.envBox img{
    display: block;
    width:100%;
    height:auto;
}
/*介紹*/
.intro>.article{
    padding:0 15px 15px 15px;
    font-size:15px;
    color:#383838;
    text-align: justify;
    line-height: 1.5;
}
/*按鈕*/
.btnBox{
    height:44px;
    line-height: 44px;
    text-align: center;
    background-color: #0077cc;
}
.btnBox>a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:18px;
}
.btnBox>a>i{
    margin-right:8px;
}




/*===rwd===*/
@media(max-width:375px){
    .basicInfo>table td:first-child{
        width:25%;
    }
    .basicInfo>table td:nth-child(2){
        width:15%;
    }
    .basicInfo>table td:last-child{
        width:60%;
    }
}
@media(max-width:360px){
    .basicInfo>table td:first-child{
        padding-right:10px;
    }
}