body {
    padding-top: 218.5px;
    background-color: #f0f0f0;
}

/*=====header=====*/
.headerInner>.logo,
.function>.goMail,
.function>.totalMail {
    display: none;
}

.headerInner>.pageTitle,
.headerInner>.back,
.function>.login,
.function>.maginify {
    display: block;
}

/*==vacancyBox==*/
.findOuter {
    position: fixed;
    top: 49px;
    left: 0;
    width: 100%;
    z-index: 998;
}

.vacancyBox {
    display: flex;
    border-bottom: 1px solid #bfbfbf;
}

.vacancyBox>a {
    width: 50%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    background-color: white;
}

.vacancyBox>a.manage {
    border-right: 1px solid #bfbfbf;
}

.banner>img {
    display: block;
    width: 100%;
    max-height: 80px;
    height: auto;
}

.sortList {
    position: static;
}

.totalBox {
    justify-content: flex-end;
}

/*===modal====*/
.modal-body>p {
    font-size: 15px;
}

.modal-body>p>span {
    color: #0077cc;
}

.modal-body>.buttonBox {
    justify-content: center;
}