body {
   padding-top: 50px;
}

.content {
   position: relative;
   min-height: calc(100vh - 50px);
   padding-bottom: 55px;
}

.btnBox {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
}