/*=====header=====*/
.headerInner>.logo,
.function>.goMail,
.function>.totalMail{
    display: none;
}
.headerInner>.pageTitle,
.headerInner>.back{
    display: block;
}
.function>.maginify{
    margin-right:20px;
}
/*====content====*/

/*公司資訊*/
.basicInfo>p,
.incEnv>p,
.intro>p{
    margin-bottom:0px;
    padding:10px 15px;
    color:black;
    background-color:#f0f0f0;
    font-size:15px;
    font-weight:bold;
}
.basicBody,
.envBody,
.introBody{
    padding:15px;
}
.basicBody{
    padding-bottom:0;
}
.basicBody>div{
    margin-bottom:15px;
}
.basicBody>.imgBox>img{
    display: block;
    width: 160px;
    height: 90px;
}
.basicBody>.jobName{
    font-size:15px;
}
.basicBody>table{
    width:100%;
}
.basicBody>table td{
    padding-bottom:15px;
    font-size:15px;
    vertical-align: top;
}
.basicBody>table td:first-child{
    width:22%;
    color:#8a8a8a;
}
.basicBody>table td:nth-child(2){
    width:12%;
}
.basicBody>table td:last-child{
    width:63%;
}
.basicBody td>img{
    display: block;
    width:20px;
    height:20px;
}
a.phone,
a.web{
    color:#0077cc;
}
a.addr{
    text-decoration: underline;
}
/*公司環境*/
.envBody{
    padding-bottom:15px;
}
.editBox{
    margin-bottom:15px;
    text-align: right;
}
.editBox>button{
    width:80px;
    height:44px;
    line-height:44px;
    text-align: center;
    color:#0077cc;
    border:1px solid #0077cc;
    background-color:white;
    font-size:15px;
    border-radius:2.5px;
}
.slickBox{
    position: relative;
    width:90%;
    margin:0 auto;
}
.slickBox>i{
    position: absolute;
    color:#909090;
    font-size:30px;
}
.slickBox>.fa-caret-left{
    left:-20px;
    top:42%;
}
.slickBox>.fa-caret-right{
    right:-20px;
    top:42%;
}
.slick-slide>img{
    display: block;
    width:100%;
    height:auto;
}
/*公司介紹*/
.stringBox{
    font-size:15px;
    text-align: justify;
    word-break: break-all;
}
/*剩下天數*/
.remainBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:44px;
    padding:0 15px;
    background-color:#f0f0f0;
}
.remainBox>div{
    width:50%;
}
.remainBox>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:15px;
}
.remainBox>div:first-child>img{
    display: block;
    width:20px;
    height:20px;
}
.remainBox>div:last-child{
    text-align: right;
}
.remainBox .day{
    color:red;
}
/*===modal===*/
.modal-dialog{
    top:20%;
}
.modal-body>textarea{
    height:200px;
    margin-bottom:15px;
    border-radius:2.5px;
    resize:none;
}
.modal-body .buttonBox{
    justify-content: center;
}