/*=====header=====*/
.headerInner>.logo,
.headerInner>.function{
    display: none;
}
.headerInner>.pageTitle,
.headerInner>.back,
.headerInner>.clearData{
    display: block;
}
/*=====content====*/
.content{
    font-size:15px;
}
.content label{
    display: block;
    margin-bottom:15px;
    font-weight:normal;
}
.content label [type=radio]{
    width:25px;
    height:25px;
    margin-top:0;
    margin-right:10px;
}
.content .form-control{
    height:44px;
}
.basicBox,
.contact,
.methodBox{
    padding:15px;
}
.basicBox{
    padding-bottom:0px;
}
.basicBox>.warn{
    margin-bottom:15px;
    color:#0077cc;
    font-size:15px;
    font-weight:bold;
}
.basicBox>label>span,
.contact>label>span{
    display: inline-block;
    margin-bottom:15px;
}
.firstPublish>*{
    margin-bottom:15px;
}
.firstPublish>*:last-child{
    margin-bottom:0;
}
.firstPublish>label{
    display: flex;
    align-items: center;
}
.infoBox{
    display: none;
}
.contact .addr{
    margin-bottom:0;
}
.addr>.hasArrow{
    margin-bottom:15px;
}
.addr>.hasArrow:last-child{
    margin-bottom:0;
}
.payment>p{
    height:30px;
    padding-left:15px;
    margin-bottom:0;
    background-color:#f0f0f0;
    line-height:30px;
    font-weight:bold;
}
.methodBox .payDay{
    display: inline-block;
    margin-bottom:15px;
}
.wireBox,
.atmBox{
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
label.post,
label.store,
label.cash{
    display: flex;
    align-items: center;
}


/*===必填樣式==*/
.noValue{
    display: none;
    margin-top:15px;
    color:red;
}


/*必填樣式*/
.should{
    border:1px solid #0077cc;
}

/*按鈕*/
.btnBox{
    left:0;
    bottom:0;
    width:100%;
    background-color: #0077cc;
}
.btnBox>a{
    display: block;
    height:44px;
    color:white;
    font-size:18px;
    line-height: 44px;
    text-align: center;
}

/*===modal樣式===*/
.modal-body>.buttonBox{
    justify-content: center;
}