* {
    margin: 0;
    padding: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    color: black;
    outline: none;
}

ul,
ol {
    list-style: none;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    padding-top: 49px;
    font-family: "Microsoft JhengHei";
    font-size: 16px;
}

/*=======header=======*/
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header>hr {
    border-top: 6px solid #29abe2;
}

header>.headerInner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 44px;
    padding: 20px 15px 0px 15px;
    background-color: #005bab;
}

.headerInner>.logo {
    align-self: flex-end;
    margin-left: 10px;
}

.logo>img {
    width: 89.5px;
    height: 25.5px;
}

.headerInner>.back,
.headerInner>.pageTitle,
.headerInner>.clearData {
    display: none;
    position: relative;
    font-size: 15px;
    color: white;
}

.headerInner>.back {
    top: -15px;
    font-size: 25px;
}

.headerInner>.pageTitle {
    position: absolute;
    left: 41.5%;
    top: 13px;
    font-size: 18px;
}

.headerInner>.clearData {
    top: -7.5px;
    font-size: 18px;
}

.headerInner>.function {
    position: relative;
    top: -7px;
}

.function>span {
    float: left;
}

.function i {
    color: white;
    font-size: 23px;
}

.function>.goMail {
    position: relative;
    top: -1px;
    margin-right: 15px;
}

.function>.login {
    display: none;
    margin-right: 15px;
}

.function>.totalMail {
    position: relative;
    top: -4px;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    line-height: 30px;
    background-color: #f9bb02;
    color: #231815;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
}

.totalMail>a {
    display: block;
    text-align: center;
    font-size: 12px;
    transform: translateX(-1px);
    position: relative;
    z-index: 2;
}

.totalMail:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 90%;
    width: 0;
    height: 0;
    border: 6px solid #f9bb02;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.function>.maginify {
    display: none;
    margin-right: 15px;
}

.cover {
    display: none;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

/*=====側邊選單=====*/
.menuSwitch {
    cursor: pointer;
}

.menuOuter,
.memberOuter,
.shareOuter {
    position: fixed;
    right: 0%;
    top: 50px;
    width: 280px;
    height: calc(100vh - 50px);
    transform: translateX(100%);
    transition: transform .2s;
    background-color: white;
    overflow: auto;
    z-index: 1001;
}

.menuOuter.open,
.memberOuter.open,
.shareOuter.open {
    transform: translateX(0);
}

.menuOuter>a {
    display: block;
    padding: 15px;
}

.menuOuter>.mainMenu {
    padding: 15px 15px 0;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 0;
    background-color: white;
}

.mainMenu>li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bfbfbf;
    font-size: 15px;
}

.mainMenu>li:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.memberOuter >.memberMenu,
.shareOuter >.shareMenu {
    margin-bottom: 0;
}

.memberMenu>li,
.shareMenu>li {
    padding: 15px 15px 0;
    font-size: 15px;
}

.mainMenu>li>a,
.memberMenu>li>a,
.shareMenu>li>a {
    display: block;
}

.memberMenu>li>a,
.shareMenu>li>a {
    padding-bottom: 15px;
    border-bottom: 1px solid #bfbfbf;
}

.memberMenu>li:last-child,
.shareMenu>li:last-child {
    border-bottom: 1px solid #bfbfbf;
}

.memberMenu>li:last-child>a,
.shareMenu>li:last-child>a {
    border-bottom: 0;
}

.mainMenu a>i {
    position: relative;
    top: 2px;
    margin-right: 15px;
    font-size: 18px;
    color: #005bac;
}

.mainMenu a>.fa-angle-right {
    float: right;
    top: 1px;
    margin-right: 0px;
    font-size: 20px;
    color: #bfbfbf;
}

.memberOuter>p,
.shareOuter>p {
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: #faba03;
}

.shareOuter>p {
    background-color: black;
}

.memberOuter>p.yellowHead {
    background-color: #a3a7d4;
    color: #383838;
}

.memberOuter>p>i,
.shareOuter>p>i {
    float: left;
    margin-top: 1px;
    font-size: 20px;
}

.memberOuter>p.yellowHead>i {
    color: white;
}

.shareMenu a>img {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

/* === 篩選 === */
.filterBox {
    position: fixed;
    width: 100%;
    left: 0;
    top: 49px;
    background-color: #f0f0f0;
    z-index: 998;
}

.filterMenu.overflow {
    overflow: auto;
    white-space: nowrap;
}

.filterMenu.overflow > li {
    width: 120px;
    float: none;
    display: inline-block;
    position: relative;
}

/*===查詢類型表單===*/
.typeBox,
.regionBox {
    position: fixed;
    left: 0;
    top: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1002;
}

.salaryBox,
#areaMenu {
	position: fixed;
	left: 0;
	top: 0%;
	width: 100%;
	height: 100vh;
	z-index: 1002;
	background-color: #fff;
	transform: translateY(100%);
	transition: transform 0.2s linear;
}

.salaryBox.show,
#areaMenu.show {
	transform: translateY(0%);
}

.salaryBody {
	padding: 20px 15px;
}

.salaryOuter {
    position: relative;
}

.salaryOuter > i {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #005ba9;
    font-size: 15px;
}

.salaryType {
	margin-bottom: 20px;
}

.wantedBox {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.wantedInput {
	flex: 1;
	border: none;
	border-bottom: 1px solid #000;
	height: 34px;
}

.upText {
	flex: 0 0 50px;
	text-align: center;
	margin-bottom: 0;
}

.clearSalary {
	flex: 0 0 60px;
}
 
.fixedArea>hr,
.fixedIntro>hr {
    border-top: 5px solid #bfddf2;
}

.fixedArea>div:not(.education) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 15px;
}

.fixedArea>.typeTitle,
.fixedIntro>.introTitle {
    background-color: #005bac;
}

.typeTitle>div,
.introTitle {
    color: white;
    font-size: 18px;
}

.fixedArea>.education {
    height: 44px;
    padding: 10px 15px 0;
    background-color: white;
    color: #005bac;
    font-size: 15px;
}

.education>div {
    float: left;
}

.education>div>i {
    position: relative;
    top: 2px;
    margin-right: 15px;
}

.education>i {
    position: relative;
    top: 2px;
    float: right;
    font-size: 25px;
}

.education i,
.choiceTitle>i {
    font-size: 20px;
}

.education .fa-angle-right {
    top: 0;
    font-size: 25px;
}

.fixedArea>.choiceTitle {
    background-color: #f0f0f0;
}

.choiceTitle>p {
    margin-bottom: 0;
    font-size: 15px;
}

.choiceTitle>p>.choosen {
    color: #0077cc;
}

.choiceTitle>i {
    color: #ca2222;
}

.typeBox>.typeMenu,
.regionBox>.regionMenu {
    margin-bottom: 0;
    background-color: white;
    overflow: auto;
}

.typeMenu>li,
.regionMenu>li {
    padding: 10px 15px 0;
    font-size: 15px;
    background-color: white;
}

.typeMenu>li.mydisable {
    background-color: #f0f0f0;
}

.typeMenu>li>div,
.regionMenu>li>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid #bfbfbf;
}

.typeMenu div>span,
.regionMenu div>span {
    position: relative;
    top: -4px;
}

.typeMenu div>i,
.regionMenu .circle {
    position: relative;
    left: 5px;
    top: -4px;
    width: 25px;
    height: 25px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    line-height: 23px;
    text-align: center;
    color: #bfbfbf;
}

.typeMenu div>i.myselect,
.regionMenu .circle.mySort,
.mydisable>div>i {
    border-color: #0076cd;
    background-color: #0076cd;
    color: white;
}

/*=====學歷介紹=====*/
.introBox {
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    z-index: 1002;
}

.fixedIntro>.introTitle {
    height: 44px;
    padding: 0 15px;
    text-align: center;
    line-height: 44px;
}

.introTitle>i {
    position: relative;
    top: 13px;
    float: left;
    font-size: 20px;
}

.introBox>.introMenu {
    margin-bottom: 0;
    background-color: white;
    overflow: auto;
}

.introMenu>li i {
    color: #bfbfbf;
    font-size: 25px;
}

.introMenu>li i.myopen {
    transform: rotate(180deg);
}

.introMenu>li>div {
    padding: 0px 15px;
    background-color: white;
}

.introMenu div>p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-bottom: 0;
    border-bottom: 1px solid #bfbfbf;
    font-size: 15px;
}

.introMenu>li>p {
    display: none;
    padding: 15px;
    margin-bottom: 0;
    background-color: #f0f0f0;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

.mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1001;
}

/*=====排序清單=====*/
.sortList {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    left: 0;
    top: 49px;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 0.5px solid #bfbfbf;
    background-color: #f9ebc3;
    z-index: 998;
}

.sortList > li {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    font-size: 15px;
    text-align: center;
    color: #383838;
}

.sortList > li:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0px;
    width: 7px;
    height: 44px;
    transform: translateX(-50%);
    background-image: url('../img/shadow_filter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 2px;
}

.sortList > li:last-child:after {
    display: none;
}

.sortList > li > label {
    margin-bottom: 0;
    font-weight: normal;
}

.sortList > li label > input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 0;
    transform: translateY(4px);
}

.sortList > li > img {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.sortList > li > i {
    margin-left: 5px;
    font-size: 15px;
    color: #a8a8a8;
}

.sortList > li > .fa-trash {
    font-size: 25px;
    color: #a8a8a8;
}

.sortList > li > i.myrotate,
.sortList > li > img.myrotate {
    transform: rotate(180deg);
}

/*有無經驗按鈕的樣式*/
.sortList > .expLi,
.findOuter .expLi,
.matchOuter .expLi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    padding: 0 15px;
    background-color: #d8edf8;
}

.findOuter .expLi,
.matchOuter .expLi {
    height: 44px;
}

.switchOuter {
    position: relative;
    width: 35px;
    height: 15px;
    background-color: #839595;
    border-radius: 10px;
}

.switchOuter>.switchBall {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #c8cac7;
    border-radius: 50%;
    transform: translate(-50%, -15%);
    transition: left 0.2s;
}

.switchBall.expOn {
    left: 100%;
    background-color: #feba01;
}

/*===搜尋面板===*/
.seekPanel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1001;
    transform: translateY(100%);
    transition: transform .2s;
}

.seekPanel.open {
    transform: translateY(0);
}

.seekHeader>hr {
    border-top: 5px solid #bfddf2;
}

.seekInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 15px;
    background-color: #005bac;
    color: white;
    font-size: 15px;
}

.seekInner>*:nth-child(2) {
    margin-top: 4px;
    font-size: 18px;
}

.seekInner>i {
    position: relative;
    top: 2px;
    font-size: 25px;
}

.seekListOuter {
    padding: 15px;
    overflow: auto;
    height: calc(100vh - 50px);
    background-color: #f0f0f0;
}

.seekList>li {
    height: 44px;
    margin-bottom: 15px;
    font-size: 15px;
}

.seekList>li:nth-child(n+5) {
    display: none;
}

.seekList>li:last-child {
    margin-bottom: 0;
}

.seekList>li>div {
    float: left;
    height: 44px;
}

.seekList>li>div:first-child {
    width: 30%;
    line-height: 44px;
}

.seekList>li>div:last-child {
    width: 70%;
}

.seekList>li .form-control {
    height: 44px;
    border-radius: 2.5px;
}

.seekList label {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 15px;
    color: #0077cc;
    font-weight: normal;
}

.seekList label>[type=checkbox] {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-right: 5px;
    outline: none;
}

.checkSearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkSearch>.pro {
    padding-bottom: 3px;
    margin-right: 15px;
    font-size: 15px;
}

.pro>i {
    color: #bfbfbf;
}

.pro>i.more {
    transform: rotate(180deg);
}

.checkSearch>.btn-search {
    width: 164px;
    height: 44px;
    border: none;
    opacity: 0.7;
    border-radius: 2.5px;
    background-color: #005baa;
    color: white;
    font-size: 22.5px;
}

.seekList .fakeSelect,
.seekList .salarySelect {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 6px 20px 6px 12px;
    border: 1px solid #bfbfbf;
    background-color: #ffffff;
    border-radius: 2.5px;
}

.seekList .fakeSelect > span,
.seekList .salarySelect > span {
    display: block;
    width: 100%;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seekList .fakeSelect > i,
.seekList .salarySelect > i{
    position: absolute;
    right: 8px;
    top: 28%;
    font-size: 15px;
    color: #bfbfbf;
}

i.more {
    transform: rotate(180deg);
}

/*===修改箭頭====*/
.hasArrow {
    position: relative;
}

.hasArrow>span {
    position: absolute;
    right: 3px;
    top: 12px;
    width: 20px;
    height: 20px;
    background-color: white;
    text-align: center;
}

/*======tab=====*/
.nav-pills {
    background-color: white;
}

.nav-pills>li {
    width: 33.33%;
    height: 44px;
    margin-left: 0;
    font-size: 15px;
    text-align: center;
}

.nav-pills>li.active {
    border-bottom: 3px solid #faca41;
    color: #383838;
}

.nav-pills>li+li {
    margin-left: 0;
}

.nav-pills>li>a {
    border-radius: 0;
    color: rgba(56, 56, 56, 0.5);
}

.nav>li>a {
    display: block;
    height: 100%;
    padding: 0;
    line-height: 44px;
}

.nav>li>a:focus, 
.nav>li>a:hover {
    background-color: transparent;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: white;
    color: #383838;
    font-weight: bold;
}

/* ====pagination ====*/
.pagination {
    margin: 0;
}

.pagination>li:first-child,
.pagination>li:last-child {
    display: none;
}

.pagination>li>a,
.pagination>.active>a:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover {
    border: none;
    background-color: transparent;
    color: #383838;
}

.pagination>.active>a:hover {
    background-color: rgb(253, 187, 2);
}

.pagination>li>a {
    width: 25px;
    height: 25px;
    padding: 3px 8px;
    margin-left: 10px;
    border-radius: 50%;
    text-align: center;
}

.pagination>.active>a {
    background-color: rgb(253, 187, 2);
    border: none
}

.totalBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.totalBox>.total {
    position: relative;
    font-size: 15px;
    color: #383838;
}

.pagination>li>a {
    font-weight: bold;
}

/*====modal=====*/
.modal-dialog {
    top: 25%;
    width: 90%;
    margin: 0 auto;
}

.modal-content {
    box-shadow: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}

.modal-header {
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #005bac;
}

.modal-header>button {
    color: white;
    opacity: 1;
}

.modal-header>h4 {
    font-size: 15px;
}

.modal-body {
    padding: 25px 15px;
}

.modal-body>p {
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
}

.modal-body>.buttonBox {
    display: flex;
    justify-content: space-between;
}

.buttonBox>button {
    width: 47.5%;
    height: 44px;
    font-size: 18px;
    border-radius: 2.5px;
}

.buttonBox>.mycancel {
    border: 1px solid #0077cc;
    background-color: white;
    color: #0077cc;
}

.buttonBox>.mysure {
    border: 1px solid #0077cc;
    background-color: #0077cc;
    color: white;
}

.modal.fade .modal-dialog {
    transition: transform 0.1s linear;
}

.fade {
    transition: opacity 0.1s linear;
}

/*===select===*/
select,
input[type=date] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*===ios bug==*/
.fakeSelect,
.salarySelect {
    cursor: pointer;
}

/*===personList===*/
.personList {
    margin-bottom: 5px;
}

.personList > li {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.personList > li:last-child {
    margin-bottom: 0;
}

.personList > li > .myData {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bfbfbf;
    font-size: 16px;
}

.myData > .imgBox {
    flex: 0 0 65px;
}

.myData > .imgBox > img {
    width: 100%;
    height: 65px;
    border-radius: 50%;
}

.myData > .desBox {
    flex: 1;
    padding-left: 15px;
}

.myData > .desBox > * {
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
}

.myData > .desBox  a {
    color: #005ca9;
    font-weight: 500;
}

.myData input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-top: 0;
}

.myData .collect_status {
    width: 50px;
    align-self: flex-end;
    transform: translateY(5px);
}

.myData .collect_status > img {
    width: 100%;
    height: auto;
}

.personList table {
    width: 100%;
}

.personList table td {
    padding-bottom: 15px;
    font-size: 15px;
    vertical-align: top;
}

.personList table td:first-child {
    width: 80px;
    color: #8a8a8a;
}

.personList table td:nth-child(2) {
    width: 25px;
}

.personList  table td>img {
    display: block;
    width: 20px;
    height: 20px;
}
 
.personList table td:last-child {
    width: calc(100% - 80px - 25px);
    padding-left: 10px;
}

/* === 2020/04/15修改 === */
.areaStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0 15px;
    background-color: #f0f0f0;
}

.areaStatus > .countBox {
    font-size: 15px;
}

.areaStatus > .countBox > #countEl{
    color: #0077cc;
}

.areaStatus > i {
    color: #ca2222;
    font-size: 20px;
}
.areaMenuBody {
    padding: 15px;
    height: calc(100vh - 49px - 45px);
    overflow: auto;
}

.areaMenuBody > .selectBox {
    margin-bottom: 25px;
}

.areaMenuBody > .selectBox:last-child {
    margin-bottom: 0;
}

.regionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #bfbfbf;
}

.regionTitle > span {
    font-size: 20px;
}

.regionTitle > i {
    color: #005ba9;
}

.regionList {
    padding-top: 15px;
    padding-left: 5px;
    margin-bottom: 0;
}

.regionList > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfbf;
    font-size: 16px;
}
 
.regionList > li:last-child{
    margin-bottom: 0;
}

.regionList > li > p,
.regionList > li > label {
    margin-bottom: 0;
}
 
.areaCheckbox:checked + .fa-check {
    border-color: #0076cd;
    background-color: #0076cd;
    color: white;
}
 
.fa-check {
    width: 25px;
    height: 25px;
    line-height: 23px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    text-align: center;
    color: #bfbfbf;
    cursor: pointer;
}
 
