body{
    background-color: #f0f0f0
}
/*=====header====*/
.headerInner>.logo{
    display: none;
}
.headerInner>.pageTitle,
.headerInner>.back{
    display: block;
}
/*===content====*/
.featureBox{
    padding:15px 15px 0;
    background-color: #f0f0f0;
}
.featureBox>.publish{
    display: flex;
    justify-content: space-between;
    height:43px;
    margin-bottom:15px;
}
.publish>*{
    width:47.5%;
}
.publish>.seek{
    display: flex;
    height:43px;
}
.seek>input{
    width:calc(100% - 43px);
    height:100%;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.seek>button{
    width:43px;
    border:none;
    color:white;
    line-height: 43px;
    background-color: #0077cc;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: none;
}
.seek>button>i{
    font-size:18px;
}
.publish>a{
    border:1px solid #0077cc;
    text-align: center;
    border-radius:2.5px;
    font-size:18px;
    color:#0077cc;
    line-height: 43px;
}
/*======留言區======*/
.boardBox>.msgMenu{
    padding:15px 15px 0;
    margin-bottom: 8px;
    background-color: white;
}
.boardBox>.msgMenu:last-child{
    margin-bottom:0;
}
.msgMenu>li{
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:1px solid #bfddf2;
}
.msgMenu>li:last-child{
    margin-bottom:0;
    border-bottom:none;
}
.msgMenu>li p{
    margin-bottom:0;
    word-break: break-all;
}
.msgMenu>li>.whoBox{
    display: flex;
    align-items: center;
    margin-bottom:15px;
}
.myphoto>img{
    display: block;
    width:50px;
    height:50px;
    border-radius:50%;
}
.whoBox>.mydetail{
    padding-left:15px;
}
.mydetail>p{
    font-size:15px;
}
.mydetail>.time{
    color:#8a8a8a;
    margin-bottom:5px;
}
.mydetail>.myname{
    color:#0077cc;   
}
.msgMenu>li>.mymsg{
    padding-left:15px;
    border-left:3px solid #bfddf2; 
    font-size:15px;
}
.msgMenu>li>.replyBox{
    display: flex;
    justify-content: flex-end;
    margin-top:15px;
    height:43px;
}
.replyBox>a{
    font-size:15px;
    text-align: center;
    line-height: 43px;
    color:#383838;
}
.replyBox>.history{
    width:74px;
    margin-right:20px;
    background-color:#bfddf2;
}
.replyBox>.reply{
    width:56px;
    border:1px solid #0077cc;
}

/*====回覆訊息====*/
.replyOuter,
.leaveOuter{
    position: absolute;
    left:0;
    top:100%;
    width:100%;
    background-color: #f0f0f0;
    z-index:1001;
    display: none;
}
.replyInner,
.leaveInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:44px;
    padding:15px;
    background-color: #005bac;
    font-size:15px;
    color:white;
}
.replyInner>span:nth-child(2),
.leaveInner>span:nth-child(2){
    margin-left:40px;
}
.replyInner+hr,
.leaveInner+hr{
    border-top:5px solid #bfddf2;
}
.replyBody,
.leaveBody{
    overflow:auto;
}
.replyMenu,
.leaveMenu{
    padding:15px;
    margin-bottom:0;
}
.replyMenu>li,
.leaveMenu>li{
    margin-bottom:15px;
}
.replyMenu>li:last-child,
.leaveMenu>li:last-child{
    margin-bottom:0;
}
.replyMenu>li>span,
.leaveMenu>li>span{
    color:#0077cc;
}
.replyMenu .form-control,
.leaveMenu .form-control{
    height:44px;
    margin-top:15px;
    border-radius:2.5px;
    resize: none;
}
.replyMenu textarea.form-control,
.leaveMenu textarea.form-control{
    height:200px;
}
.verifyBox{
    display: flex;
    justify-content: space-between;
    height:44px;
    margin-top:15px;
}
.verifyBox>.form-control{
    width:calc(100% - 54px);
    margin-top:0;
}
.verifyBox>button{
    width:44px;
    border:none;
    background-color: #f9b902;
    border-radius:2.5px;
    font-size:18px;
    color:#383838;
    line-height: 43px;
    outline: none;
    color:white;
}

/*====我要留言====*/
.leaveBody>p{
    padding:15px 15px 0;
    margin-bottom:0;
    text-align: center;
}


/*===按紐===*/
.btnBox{
    display: flex;
    left:0;
    bottom:0;
    width:100%;
    height:44px;
}
.btnBox>button{
    width:50%;
    height:100%;
    border:none;
    font-size:18px;
    line-height: 44px;
    text-align: center;
    outline: none;
}
.mycancel{
    background-color:#bfddf2;
}
.mysure{
    background-color:#0077cc;
    color:white;
}
