body {
    padding-top: 93px;
    background-color: #f0f0f0;
}

/*=====header=====*/
.headerInner>.logo,
.goMail>.totalMail {
    display: none;
}

.headerInner>.back,
.headerInner>.pageTitle {
    display: block;
}

/*=====活動訊息======*/
.activityBox > a {
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.activityBox > a:last-child {
    margin-bottom: 0;
}

.activityBox figure img {
    display: block;
    width: 100%;
    height: auto;
}

.activityBox figcaption {
    padding-top: 15px;
}

.activityBox figcaption > p {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 1.6;
}

.activityBox figcaption > p:last-child {
    margin-bottom: 0;
}

.activityBox figcaption > .title {
    color: #383838;
    font-weight: bold;
}

.activityBox figcaption > .cont,
.activityBox figcaption > .time {
    color: #8a8a8a;
}

.activityBox figcaption > .time {
    text-align: right;
}

/*===區域派報===*/
#area>.totalBox,
#share>.totalBox {
    justify-content: flex-end;
}

.areaList,
.shareList {
    padding-left: 15px;
    background-color: white;
}

.areaList>li,
.shareList>li {
    padding: 15px 15px 15px 0;
    font-size: 15px;
    color: #383838;
    border-bottom: 1px solid #bebebe;
}

.areaList>li>a {
    position: relative;
    display: block;
}

.areaList a>span,
.shareList a>span {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.areaList a>i {
    position: absolute;
    right: -8px;
    top: -1px;
    color: #bebebe;
    font-size: 25px;
}

/*====職場分享=====*/
.shareList a>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    color: #bebebe;
    font-size: 15px;
}

.shareList a i {
    font-size: 25px;
}

/*=== 課程專區 ===*/
.courseList > li {
    background-color: white;
    margin-bottom: 12px;
    padding: 15px;
    color: #b2b2b2;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.courseList > li > div {
    display: flex;
    margin-bottom: 12px;
}

.courseList > li > div:last-child {
    margin-bottom: 0;
}

.courseList > li > div > p{
    margin-bottom: 0;
}

.courseList > li > div > .title{
    flex: 0 0 70px;
}

.courseList > li > div > .content{
    flex: 1;
    padding-left: 10px;
}

.courseList > li > div > .content > a{
    color: #0376cb;
    font-weight: bold;
} 

/*====增加箭頭效果====*/
.filterMenu {
    padding-left: 30px;
    padding-right: 30px;
}

.arrowBox {
    position: absolute;
    top: 0;
    width: 30px;
    line-height: 40px;
    height: 100%;
    background-color: white;
    z-index: 10;
    color: #005bab;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    display: none;
}

.arrowBoxL {
    left: 0;
}

.arrowBoxR {
    right: 0;
}
