/*=====header=====*/
.headerInner>.logo,
.function>.goMail,
.function>.totalMail{
    display: none;
}
.headerInner>.pageTitle,
.headerInner>.back,
.function>.maginify{
    display: block;
}
.function>.maginify{
    margin-right:20px;
}
/*=====content=====*/
.content table{
    width:100%;
}
.content table td{
    padding:10px;
    vertical-align: top;
    font-size:15px;
}
.content table td:first-child{
    width:25%;
    color:#8a8a8a;
}
.content table td:last-child{
    width:75%;
    color:#383838;
}
.content .title{
    padding:10px;
    background-color: #f0f0f0;
    color:#383838;
    font-weight:bold;
}
.photoBox{
    padding:15px;
    border-bottom:1px solid #bfbfbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photoBox>img{
    display: inline-block;
    width:60px;
    height:60px;
    border-radius:50%;
}

.photoBox>a{
    display: inline-block;
}

.photoBox>a>button{
    border:1px solid #0077cc;
    background-color: #fff;
    outline: none;
    padding: 6px 12px;
    border-radius: 4px;
}

td .lavel{
    padding-bottom:15px;
    margin-bottom:0;
}

/*自傳*/
.biography>.desBox{
    padding:10px;
}


/*按鈕*/
.btnBox{
    display: flex;
}
.btnBox>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:44px;
    font-size:15px;
}
a.admit{
    background-color: #bfddf2;
    color:#383838;
}
a.interview{
    background-color: #0077cc;
    color:white;
}
.btnBox>a>img{
    display: block;
    width:25px;
    height:25px;
    margin-right:15px;
}