
/*=====register.html+forgot-f.html+footer-m.html====*/
.verifyBox,
.phoneBox,
.mailBox,
.codeBox{
    display: flex;
    justify-content: space-between;
    height:43px;
    margin-top:15px;
}
.verifyBox>*,
.phoneBox>*,
.mailBox>*{
    width:47.5%;
}
.dataMenu .verifyBox>input,
.dataMenu .phoneBox>input,
.dataMenu .mailBox>input,
.dataMenu .codeBox>input{
    margin-top:0;
}
.verifyBox>button,
.phoneBox>button,
.mailBox>button,
.codeBox>button{
    border:none;
    background-color: #f9b902;
    border-radius:2.5px;
    font-size:18px;
    color:#383838;
    outline: none;
}
.dataMenu .codeBox>input{
    width:calc(100% - 55px);
}
.codeBox>button{
    width:43px;
    line-height: 43px;
}
.codeBox>button>i{
    font-size:21px;
    color:white;
}
.dataMenu>.verifyString{
    margin-bottom:25px;
    margin-top:30px;
}
.verifyString>p,
.chooseOne>p,
.sendMsg>p{
    margin-bottom:15px;
    font-size:18px;
    color:#383838;
    text-align: center;
}
.verifyString>p:last-child,
.chooseOne>p:last-child,
.sendMsg>p:last-child{
    margin-bottom:0;
}
.verifyString>p{
    margin-bottom:10px;
    font-weight:bold;
    line-height: 1.2;
}
