body{
    background-color: #f0f0f0;
}
/*=======header========*/
.headerInner>.logo{
    display: none;
}
.headerInner>.pageTitle,
.headerInner>.back{
    display: block;
}
/*=======content=====*/
.talentMenu{
    margin-bottom:15px;
}
.talentMenu>li{
    padding-left:15px;
    background-color:white;
}
.talentMenu>li:last-child>a{
    border-bottom:none;
}
.talentMenu>li>a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    height:80px;
    padding:14px 0;
    border-bottom:1px solid #bebebe;
    font-size:15px;
}
.talentMenu>li>a>img{
    display: block;
    width:50px;
    height:50px;
}
.talentMenu a>.area{
    width:calc(100% - 50px - 32px);
    padding-left:10px;
    padding-right:10px;
    line-height: 1.6;
}
.talentMenu a>.icon{
    width:32px;
    color:#bebebe;
    text-align: center;
}
.talentMenu a i{
    font-size:22px;
}