body{
    background-color: #f0f0f0;
}
/*=======header========*/
.headerInner>.logo,
.function>.goMail,
.function>.totalMail{
    display: none;
}
.headerInner>.pageTitle,
.headerInner>.back{
    display: block;
}
.function>.maginify{
    margin-right:20px;
}
/*=======content=======*/
.companyName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    background-color: white;
}
.companyName>p{
    margin-bottom:0;
    font-size:15px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.companyName>a{
    width:145px;
    height:44px;
    border:1px solid #0077cc;
    line-height:44px;
    border-radius:2.5px;
    text-align: center;
    color:#383838;
    font-size:15px;
}
.manage>p{
    margin-bottom:0;
    padding:15px;
    font-size:15px;
    text-align: center;
    font-weight:bold;
}
.manage>.manageMenu{
    margin-bottom:0;
    padding-left:15px;
    background-color:white;
}
.manageMenu>li{
    padding:15px 15px 15px 0;
    border-bottom:1px solid #bebebe;
}
.manageMenu>li:last-child{
    border-bottom:none;
}
.manageMenu>li>*{
    margin-bottom:15px;
}
.manageMenu>li>*:last-child{
    margin-bottom:0;
}
.update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    font-size: 15px;
    color:#8a8a8a;
}
.update>i{
    font-size:20px;
}
.jobName{
    color:#383838;
    font-size:15px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.response{
    display: flex;
    justify-content: space-between;
}
.response>a{
    width:47.5%;
    height:44px;
    line-height: 44px;
    background-color: #bfddf2;
    border-radius:2.5px;
    text-align: center;
    font-size:15px;
}
.response>a>span{
    display: inline-block;
    width:33px;
    height:33px;
    margin-right:5px;
    padding-top:1px;
    line-height: 33px;
    border-radius:50%;
    color:white;
}
.response>a>.notice{
    background-color: #005bac;
}
.response>a>.mate{
    background-color: #f9b902;
}
