* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#scanPopup {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   background-color: #000;
   display: none;
}

#scanPopup video {
   display: block;
   width: 300px;
   height: 300px;
   margin: 0 auto;
   background-color: #fff;  
}