body {
	background-color: #000000CC;
}

.box {
   width: 300px;
   margin: 0 auto;
	padding-top: 20px;
}

.videoBox {
	position: relative;
}

#canvas {
   display: block;
   width: 100%;
   height: 300px;
   margin: 0 auto;
   background-color: transparent;
}

.corner {
   position: absolute;
   width: 40px;
   height: 40px;
   background-color: #C72A04;
   z-index: -1;
}

.corner1 {
   left: -8px;
   top: -8px;
}

.corner2 {
   right: -8px;
   top: -8px;
}

.corner3 {
   left: -8px;
   bottom: -8px;
}

.corner4 {
   right: -8px;
   bottom: -8px;
}

.tipText {
   text-align: center;
   color: #fff;
	margin-top: 50px;
	margin-bottom: 0;
}

.restartText {
	color: #fff;
	line-height: 25px;
	display: none;
}

.restartText.show {
	display: block;
}