body {
  background-color: #000000CC;
  padding-top: 20px;
}

#canvas {
  display: block;
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  margin: 0 auto;
  background-color: transparent;
}

#canvas.notActive {
  background-color: #fff;
}