#loading {
	position: fixed;
	display: flex;
	left: 0;
	top: 0;
	@include size(100%);
	background-color: rgba(black, 0.5);
	z-index: 10;
	&:after {
		content: '';
		display: block;
		@include size(100px);
		margin: auto;
		border: 5px solid #93dbe9;
		border-top-color: transparent;
		border-radius: 50%;
		animation: rotate 1s linear infinite;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
