$maxWidth: 350px;
%sizeStyle {
   max-width: $maxWidth;
   margin: 0 auto;
}

.card-container {
   @extend %sizeStyle;
   margin-bottom: 20px;
   padding-top: 20px;
}

.mycard {
   background-color: #fff;
   border-radius: map-get($radius, basic);
   overflow: hidden;
   >.imgBox {
      position: relative;
      >img {
         display: block;
         @include size(100%, auto);
      }
      &.loss {
         &:after {
            content: '已掛失';
            position: absolute;
            left: 0;
            top: 0;
            @include size(100%);
            @extend %centerFlex;
            background-color: rgba(black, 0.5);
            color: #fff;
            font-size: 22px;
         }
      }
   }
}

.cardInfo {
   padding: 15px 15px 22px;
   >.cardName,
   >.cardNumber {
      color: map-get($fontColor, input);
      text-align: center;
      font-size: 18px;
   }
   >.cardNumber {
      margin-top: 10px;
      margin-bottom: 30px;
   }
   >.pointDesc {
      display: flex;
      align-items: center;
      >.pointBox {
         flex: 1;
         text-align: center;
         >.pointTitle {
            font-size: 24px;
            margin-bottom: 10px;
            >i {
               margin-left: 3px;
               transform: translateY(-2px);
               font-size: 20px;
               cursor: pointer;
            }
         }
         >.pointNumber {
            color: map-get($fontColor, info);
            font-size: 18px;
         }
         &L {
            position: relative;
            &:after {
               content: '';
               position: absolute;
               left: 100%;
               top: 50%;
               @include size(1px, 50%);
               transform: translateY(-50%);
               background-color: black;
            }
         }
      }
   }
}

.cardPanel {
   background-color: map-get($elBgColor, primary);
   display: flex;
   >a,
   >button {
      flex: 1;
      height: 50px;
      line-height: 50px;
      color: #fff;
      text-align: center;
      border-right: 1px solid #fff;
   }
   >button {
      padding: 0;
      background-color: transparent;
      border: none;
   }
   >.btnSave {
      border-right: 1px solid #fff;
   }
}

.dotBox {
   @extend %sizeStyle;
   @extend %centerFlex;
   >.dot {
      @include elGutter(margin-right, 8px);
      @include size(10px);
      border-radius: 50%;
      background-color: #999999;
      cursor: pointer;
      &.active {
         background-color: map-get($elBgColor, primary);
      }
   }
}