@import './utility/index';

$basicHeight: map-get($heightObj, basic);
$borderColor: map-get($borderColor, placeholder);

#app {
   padding-top: map-get($heightObj, header);
}

.profileBlock {
   position: relative;
   height: 220px;
   background-color: gray;
   @extend %centerFlex;
   >.greetBox {
      display: flex;
      align-items: center;
      >.avatar {
         @include size(90px);
         margin-right: 15px;
         background-image: url("../img/img_memberhome_pic_n_n@2x.png");
         background-size: cover;
         background-position: center center;
         border-radius: 50%;
      }
      >.rightInfo {
         >p {
            margin-bottom: 3px;
            color: #fff;
         }
         >a {
            color: #fff;
            &:after {
               content: '';
               display: inline-block;
               @include size(18px);
               margin-left: 3px;
               transform: translateY(3.5px);
               background-image: url("../img/btn_member_indicatorright_n_n@2x.png");
               background-size: contain;
            }
         }
      }
   }
}

.utilityBlock {
   padding: 15px;
}

.mainFunction {
   @extend %bwtFlex;
   margin-bottom: 12px;
   border: 1px solid $borderColor;
   border-radius: map-get($radius, basic);
   >.function-item {
      position: relative;
      width: 31%;
      padding-top: 31%;
      &:after {
         content: '';
         position: absolute;
         right: -5.5%;
         top: 20%;
         @include size(1px, 60%);
         background-color: map-get($elBgColor, placeholder);
      }
      &:last-child:after {
         display: none;
      }
   }
}

.function-inner {
   @extend %posCenter;
   white-space: nowrap;
   text-align: center;
   >.title {
      color: map-get($fontColor, formTitle);
      font-size: 16px;
      margin-bottom: 5px;
   }
   >.itemName {
      color: var(--variationMain);
      font-size: 15px;
      >.count {            
         font-size: 24px;
         line-height: initial;
      }
   }
}

.utilityItem {
   position: relative;
   width: 31%;
   padding-top: calc(31% - 2px);
   border-radius: map-get($radius, basic);
   border: 1px solid $borderColor;
   >.inner {
      @extend %posCenter;
      white-space: nowrap;
      text-align: center;
      >.iconBox {
         @include size(40px);
         margin: 0 auto 7px;
         background-size: contain;
         &.meals {
            background-image: url("../img/btn_home_takeout_n_n@2x.png");
         }
         &.gift {
            background-image: url("../img/btn_home_couponactivity_n_n@2x.png");
         }
         &.store {
            background-image: url("../img/btn_home_store_n_n@2x.png");
         }
         &.eat {
            background-image: url("../img/btn_home_brand_n_n@2x.png");
         }
         &.news {
            background-image: url("../img/btn_home_news_n_n@2x.png");
         }
      }
      >.itemName {
         color: map-get($fontColor, formTitle);
      }
   }
}

.subFunction {
   @extend %bwtFlex;
   margin-bottom: 12px;
   &:last-child {
      margin-bottom: 0;
   }
   &.half {
      >.utilityItem  {
         width: 48%;
         padding-top: 30%;
      }
   }
}