@import './utility/index';

.mycontainer {
   padding-top: 0px;
   padding-bottom: 85px;
}

.linkBox {
   display: flex;
   >p {
      flex: 1;
      text-align: center;
      border-right: 1px solid map-get($borderColor, primary);
      &:last-child {
         border-right: none;
      }
      >a {
         color: map-get($fontColor, input);
      }
   }
}

.btnBox {
   &.login {
      margin-bottom: map-get($gutter, double);
   }
   &.levelUp {
      position: fixed;
      left: 0;
      bottom: 20px;
      width: 100%;
      padding: 0 40px;
      z-index: 10;
   }
}