@import './utility/index';

.mycontainer {
   @extend %centerFlex;
   flex-direction: column;
   padding-top: 57.5px;
   >.successImg {
      @include size(120px);
      margin-bottom: 27.5px;
      @extend %bgImgCenter;
      &.authFail {
         background-image: url("../img/img_register_expired_n_n@3x.png");
      }
      &.logout {
         background-image: url("../img/img_memberhome_logout_n_n@2x.png");
      }
   }
   >.title {
      margin-bottom: map-get($gutter, basic);
      font-size: 25px;
      font-weight: 500;
      color: map-get($fontColor, formTitle);
   }
   >.content {
      padding: 0 30px;
      color: map-get($fontColor, input);
      text-align: center;
   }
}