@import './utility/index';
$inputColor: map-get($fontColor, input);
$basicGutter: map-get($gutter, basic);
$basicHeight: map-get($heightObj, basic);
$basicRadius: map-get($radius, basic);

.termOuter {
   margin-bottom: map-get($gutter, double);
   >.termTitle {
      padding-left: 15px;
      margin-bottom: $basicGutter;
      color: $inputColor;
   }
}

.termRow {
   @extend %bwtFlex;
   padding: 15px;
   margin-bottom: $basicGutter;
   border-radius: $basicRadius;
   background-color: #fff;
   >label {
      input {
         @extend %resetForm;
         @include size(15px);
         @extend %bgImgCenter;
         vertical-align: middle;
         transform: translateY(-1px);
         border: none;
         background-image: url("../img/btn_listcore_checkmark_n_n@2x.png");
         &.checked {
            background-image: url("../img/btn_listcore_checkmark_n_h@2x.png");
         }
      }
      >span {
         margin-left: 7.5px;
         color: $inputColor;
      }
      >.errMsg {
         padding-left: 26px;
         text-align: left;
      }
   }
   >.leftIcon {
      @include size(15px);
      background-image: url("../img/btn_listcore_indicatorright_std_n@2x.png");
      @extend %bgImgCenter;
      cursor: pointer;
   }
}