@import './utility/index';

$basicHeight: map-get($heightObj, basic);
$headerHeight: map-get($heightObj, header);

#app {
   padding-top: $basicHeight + $headerHeight;
}

.tabList {
   top: $headerHeight;
}

.wrap {
   padding: 15px 10px;
}