@import './utility/index';

$formTitleColor: map-get($fontColor, formTitle);

body {
   background-color: #fff;
   padding-top: map-get($heightObj, header);
}

.introBox {
   padding: 25px;
   background-color: map-get($elBgColor, body);
   >* {
      @include elGutter(margin-bottom, 15px);
   }
}

.topBlock {
   display: flex;
   align-items: center;
   >img {
      @include size(20px);
   }
   >p {
      color: $formTitleColor;
      margin-left: 10px;
   }
}

.descList {
   >li {
      display: flex;
      align-items: center;
      @include elGutter(margin-bottom, 10px);
      color: map-get($fontColor, input);
      >.colon {
         margin: 0 8px;
      }
   }
}

.content {
   padding: 25px;
   color: $formTitleColor;
   >* {
      margin-bottom: 15px;
   }
   ol, ul {
      padding-left: 40px;
      list-style: disc;
   }
   img,
   iframe {
      max-width: 100%;
   }
}