@import './utility/index';

.fixBox {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: var(--variationSub);
   color: #fff;
   z-index: 3;
}

#pageHeader {
   position: static;
}

.pointIntro {
   @extend %centerFlex;
   height: 70px;
   >.pointTotal {
      display: flex;
      align-items: baseline;
      >.icon {
         @include size(30px);
         background-image: url("../img/img_member_pointhistory_top_point@2x.png");
         background-size: contain;
         align-self: center;
      }
      >.count {
         margin-left: 5px;
         margin-right: 5px;
         font-size: 30px;
      }
   }
}

.expireBox {
   height: 45px;
   padding: 0 20px;
   >.inner {
      @extend %bwtFlex;
      height: 100%;
      border-top: 1px solid map-get($borderColor, primary);
      .pointArrow {
         @include size(15px);
         background-image: url("../img/btn_point_indicatorright_n_n@2x.png");
         @extend %bgImgCenter;
         transform: translateY(2.5px);
      }
   }
}

.pointTab {
   display: flex;
   >div {
      flex: 1;
      height: 45px;
      line-height: 45px;
      text-align: center;
      background-color: #fff;
      border-bottom: 2px solid #fff;
      color: map-get($fontColor, formTitle);
      &.active {
         border-bottom-color: var(--variationMain);
         color: var(--variationMain);
      }
   }
}

.contentBox {
   padding-top: 210px;
   padding-bottom: map-get($heightObj, basic);
}

.toggleSidebar {
   bottom: 60px;
}

.noRecord {
   padding: 50px 20px 0;
   >.pigBg,
   >.searchBg {
      @extend %bgImgCenter;
      margin: 0 auto 40px;
   }
   >.pigBg {
      @include size(80px, 90px);
      background-image: url("../img/img_member_pointhistory_empty_n@2x.png");
   }
   >.searchBg {
      @include size(90px, 90px);
      background-image: url("../img/img_common_search_empty_n@2x.png");
   }
   >.tipBox {
      margin-bottom: 0;
   }
}

.pagTip {
   margin-top: 0;
   margin-bottom: map-get($gutter, basic);
}