@import './utility/index';
$inputColor: map-get($fontColor, input);
$formTitleColor: map-get($fontColor, formTitle);

%blockPadding {
   padding: 25px;
}

body {
   background-color: #fff;
   padding-top: map-get($heightObj, header);
   padding-bottom: map-get($heightObj, basic);
}

.banner {
   position: relative;
   min-height: 200px;
   background-image: url("../img/placeholder.jpg");
   background-size: cover;
   >img {
      display: block;
      @include size(100%, auto);
   }
}

.wrap {
   background-color: map-get($elBgColor, body);
}

.activityIntro {
   position: relative;
   @extend %blockPadding;
   &.hasBg {
      margin-bottom: 20px;
      background-color: #fff;
   }
   >.countdownBlock {
      display: inline-flex;
      align-items: center;
      padding: 5px 15px;
      margin-bottom: 10px;
      background-color: var(--variationMain);
      border-radius: map-get($radius, basic);
      color: #fff;
      >.clockBg {
         @include size(13px);
         background-image: url("../img/img_activity_countdown_time_n@2x.png");
         background-size: contain;
      }
      >.time {
         margin-left: 5px;
         font-size: 13px;
      }
   }
   >.activityName {
      margin-bottom: 10px;
      color: $formTitleColor;
      font-size: 20px;
   }  
   >.intorList {
      color: $inputColor;
      margin-bottom: 0px;
      >li {
         display: flex;
         @include elGutter(margin-bottom, 10px);
         >.title {
            flex: 0 0 65px;
         }
         >.colon {
            margin-left: 5px;
            margin-right: 10px;
         }
         >.content {
            flex: 1;
         }
      }
   }
   >.line {
      height: 1px;
      margin-top: 25px;
      margin-bottom: 0;
      background-color: map-get($elBgColor, placeholder);
   }
   >.brandLogo {
      position: absolute;
      right: 25px;
      top: -30px;
      @include size(60px);
      background-image: url("../img/placeholder.jpg");
      background-size: cover;
      background-position: center center;
   }
}

.pointIntro {
   margin-bottom: 25px;
   @extend %blockPadding;
   background-color: #fff;
   >.title {
      color: $formTitleColor;
      margin-bottom: 15px;
   }
}

.conditionList {
   >li {
      color: $inputColor; 
      display: flex;
      align-items: center;
      @include elGutter(margin-bottom, 10px);
      >.content {
         margin-left: auto;
         color: var(--variationMain);
         >span {
            margin-left: 10px;
            color: $inputColor; 
         }
      }
   }
}

.couponIntro {
   padding-bottom: 20px;
   >.title {
      padding-left: 25px;
      margin-bottom: map-get($gutter, basic);
      color: $inputColor;
   }
   >.content {
      padding: 0 15px;
   }
}

.activityDesc {
   @extend %blockPadding;
   color: $inputColor;
   background-color: #fff;
   word-break: break-all;
   ol, ul {
      padding-left: 40px;
      list-style: disc;
   }
   img,
   iframe {
      max-width: 100%;
   }
}

.fixBlock {
   >div {
      height: 100%;
      &.termActiveButton {
         color: #fff;
         background-color: var(--variationMain);
      }
      &.hide {
         opacity: 0;
      }
   }
}

.usedBlock {
   background-color: map-get($elBgColor, placeholder);
   color: $inputColor;
}