@import './utility/index';
$fixedHeight: 80px;

body {
   padding-top: map-get($heightObj, header);
   padding-bottom: 100px;
}

.bannerBox {
   position: relative;
   >img {
      @include size(100%, auto);
   }
}

.exchangeInfo {
   padding: 20px;
   background-color: map-get($elBgColor, body);
   >li {
      display: flex;
      align-items: flex-start;
      @include elGutter(margin-bottom, 10px);
      color: map-get($fontColor, input);
      >.title {
         flex: 0 0 65px;
      }
      >.colon {
         margin-left: 5px;
         margin-right: 10px;
      }
      >.content {
         flex: 1;
      }
   }
}

.linkBlock {
   position: fixed;
   left: 0;
   bottom: 0;
   @include size(100%, 100px);
   display: flex;
   border-radius: 20px 20px 0 0;
   background-color: #fff;
   >.linkItem {
      @extend %centerFlex;
      flex-direction: column;
      @include size(33.33%, 100%);
      &.active {
         >p {
            color: var(--variationMain);
         }
      }
      >.icon {
         @include size(35px);
         margin-bottom: 5px;
         background-size: contain;
         &.coupon {
            background-image: url("../img/btn_activity_tabbar_mycoupon_n@2x.png");
         }
         &.immediate {
            background-image: url("../img/btn_activity_tabbar_usecoupon_n@2x.png");
         }
         &.exchange {
            background-image: url("../img/btn_activity_tabbar_returncoupon_n@2x.png");
         }
      }
      >p {
         font-size: 14px;
         color: map-get($fontColor, formTitle);
      }
   }
}