@import './utility/index';

$headerHeight: map-get($heightObj, header);

#app {
   padding-top: $headerHeight + 40px;
}

.tabList {
   position: static;
}

.menu-brand-popup {
   position: absolute;
   overflow: hidden;
}

.brand-wrap {
   display: flex;
   align-content:flex-start;
   flex-wrap: wrap;
   &.popup {
      height: calc(100vh - 90px);
      padding: 25px 10px;
      overflow: auto;
      position: absolute;
      left: 1000%;     
      opacity: 0;
   }
   &.show {
      position: static;
      left: 0;
      opacity: 1;
   }
}

.criteria-content {
   padding: 20px 15px;
   height: calc(100vh - 135px);
   overflow: auto;
   >.criteria-title {
      margin-bottom: 15px;
      color: map-get($fontColor, input);
      text-align: center;
      font-size: 16px;
   }
   >.criteriaBox {
      display: flex;
      flex-wrap: wrap;
   }
}

.criteria-item {
   position: relative;
   width: calc(50% - 8px);
   padding-top: 35%;
   margin-bottom: 16px;
   border-radius: map-get($radius, basic);
   cursor: pointer;
   &:nth-child(odd) {
      margin-right: 8px;
   }
   &:nth-child(even) {
      margin-left: 8px;
   }
   >.text {
      @extend %posCenter;
      color: #fff;
      font-size: 18px;
   }
   >img {
      position: absolute;
      left: 0;
      top: 0;
      @include size(100%);
      border-radius: map-get($radius, basic);
      object-fit: cover;
      opacity: 0;
      pointer-events: none;
      &.show {
         opacity: 1;
         pointer-events: auto;
      }
   }
}

.btn-confirm {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: map-get($heightObj, basic);
   line-height: map-get($heightObj, basic);
   background-color: var(--variationMain);
   text-align: center;
   color: #fff;
   z-index: 11;
}