@import './utility/index';

.mycontainer {
   padding-top: 0px;
}

.btnBox.login {
   margin-bottom: map-get($gutter, double);
}

.linkBox {
   display: flex;
   >p {
      flex: 1;
      text-align: center;
      border-right: 1px solid map-get($borderColor, primary);
      &:last-child {
         border-right: none;
      }
      >a {
         color: map-get($fontColor, input);
      }
   }
}

.fastBox {
   margin-top: 60px;
   display: none;
}

.orBox {
   position: relative;
   padding: 0 20px;
   margin-bottom: 27px;
   >span {
      @extend %posCenter;
      padding: 0 25px;
      background-color: map-get($elBgColor, body);
      color: map-get($fontColor, input);
      transform: translate(-50%, -60%);
   }
   &:after {
      content: '';
      display: block;
      border-top: 1px solid map-get($borderColor, primary);
   }
}

.fbLink {
   position: relative;
   background-color: #3c5a9a;
   color: #fff;
   &:focus,
   &:hover {
      color: #fff;
   }
   >.fbIcon{
      position: absolute;
      left: 15px;
      top: 10px;
      @include size(25px);
      background-image: url("../img/img-memberportal-fb-n-n.png");
      @extend %bgImgCenter;
   }
}