@import './utility/index';
$inputColor: map-get($fontColor, input);
$basicGutter: map-get($gutter, basic);
$basicHeight: map-get($heightObj, basic);
$basicRadius: map-get($radius, basic);

.termOuter {
   margin-bottom: map-get($gutter, double);
   >.termTitle {
      padding-left: 15px;
      margin-bottom: $basicGutter;
      color: $inputColor;
   }
}

.termRow {
   @extend %bwtFlex;
   padding: 15px;
   margin-bottom: $basicGutter;
   border-radius: $basicRadius;
   background-color: #fff;
   >label {
      input {
         @extend %resetForm;
         @include size(15px);
         @extend %bgImgCenter;
         vertical-align: middle;
         transform: translateY(-1px);
         border: none;
         background-image: url("../img/btn_listcore_checkmark_n_n@2x.png");
         &.checked {
            background-image: url("../img/btn_listcore_checkmark_n_h@2x.png");
         }
      }
      >span {
         margin-left: 7.5px;
         color: $inputColor;
      }
      >.errMsg {
         padding-left: 26px;
         text-align: left;
      }
   }
   >.leftIcon {
      @include size(15px);
      background-image: url("../img/btn_listcore_indicatorright_std_n@2x.png");
      @extend %bgImgCenter;
      cursor: pointer;
   }
}

.termPopup {
   position: fixed;
   left: 0;
   top: 0;
   @include size(100%, 100vh);
   background-color: #fff;
   opacity: 0;
   pointer-events: none;
   z-index: 10;
   &.show {
      opacity: 1;
      pointer-events: auto;
   }
}

.termBody {
   height: calc(100vh - #{$basicHeight});
   padding: 20px 20px ($basicHeight + 10px);
   background-color: map-get($elBgColor, body);
   overflow: auto;
   >.termContent {
      padding: 15px;
      line-height: 1.8;
      background-color: #fff;
      border-radius: $basicRadius;
      color: map-get($fontColor, formTitle);
      text-align: justify;
      ol, ul {
         padding-left: 40px;
         list-style: disc;
      }
      img {
         max-width: 100%;
      }
   }
}

.termFooter {
   position: fixed;
   left: 0;
   bottom: 0;
   @include size(100%, $basicHeight);
   line-height: $basicHeight;
   background-color: map-get($elBgColor, placeholder);
   color: $inputColor;
   text-align: center;
   cursor: pointer;
   &.termActiveButton {
      background-color: var(--variationMain);
		color: #fff;
   }
}