@import './utility/index';

$basicRadius: map-get($radius, basic);
%bgStyle {
   background-size: 100% 100%;
   background-position: center top;
}

.mask {
   min-height: 100vh;
   padding: 15px;
   background-color: rgba(#000, 0.7);
   >.maskInner {
      max-width: 400px;
      margin: 0 auto;
   }
}

.panel {
   @extend %bwtFlex;
   margin-bottom: 25px;
   >.closeBg {
      @include size(30px);
      background-image: url("../img/btn_nav_close_popup_n@2x.png");
      @extend %bgImgCenter;
      opacity: 0;
      cursor: pointer;
   }
   >.codeText {
      color: #fff;
      cursor: pointer;
   }
}

.cardBox {
   >.cardHead {
      @extend %centerFlex;
      flex-direction: column;
      height: 65px;
      @extend %bgStyle;
      background-image: url("../img/img_member_membercard_top_n@3x.png");
      >.name {
         margin-bottom: 5px;
         color: map-get($fontColor, formTitle);
      }
      >.status {
         color: map-get($fontColor, input);
      }
   }
   >.cardBody {
      height: 330px;
      background-image: url("../img/img_member_membercard_mid_n@3x.png");
      @extend %bgStyle;
   }
   >.cardFooter {
      height: 120px;
      background-image: url("../img/img_member_membercard_bottom_n@3x.png");
      @extend %bgStyle;
   }
}

.cardInner {
   width: 85%;
   margin: 0 auto;
   >.codeBox {
      display: none;
   }
}

#qrcode {
   padding: 30px 0 60px;
   text-align: center;
   >img {
      margin: 0 auto;
   }
}

.codeItem {
   @include elGutter(margin-bottom, 25px);
   text-align: center;
   >svg {
      max-width: 100%;
   }
}

//===swiper style
.swiper-container {
   padding: 20px 0 60px;
}

.swiper-container-horizontal {
   >.swiper-pagination-bullets {
      bottom: 12px;
   }
}

@media (max-width: 350px) {
   #qrcode {
      padding: 20px 0 50px;
   }
   .swiper-container {
      padding: 15px 0 40px;
   }
   .cardInner {
      width: 80%;
   }
}