@import './utility/index';

.fixBox {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
}

.pointIntro {
   @extend %centerFlex;
   flex-direction: column;
   height: 140px;
   padding: 20px;
   color: #fff;
   background-color: var(--variationMain);
   >.pointName {
      margin-bottom: 5px;
   }
   >.pointTotal {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      >.count {
         margin-right: 10px;
         font-size: 30px;
         line-height: initial;
      }
   }
   >.pointPeriod {
      display: flex;
      align-items: center;
      >div {
         @include elGutter(margin-right, 5px);
      }
   }
}

.contentBox {
   padding-top: 140px;
   padding-bottom: map-get($heightObj, basic);
   &.big {
      padding-top: 180px;
   }
}

.expireBox {
   @extend %centerFlex;
   height: 40px;
   color: #fff;
   background-color: var(--variationSub);
   cursor: pointer;
   >.inner {
      display: flex;
      align-items: center;
      >.expirePoint {
         margin: 0 5px;
      }
      >.pointArrow {
         @include size(15px);
         margin-left: 5px;
         background-image: url("../img/btn_point_indicatorright_n_n@2x.png");
         @extend %bgImgCenter;
      }
   }
}

.toggleSidebar {
   bottom: 60px;
}

.noRecord {
   padding: 50px 20px 0;
   >.pigBg,
   >.searchBg {
      @extend %bgImgCenter;
      margin: 0 auto 40px;
   }
   >.pigBg {
      @include size(80px, 90px);
      background-image: url("../img/img_member_pointhistory_empty_n@2x.png");
   }
   >.searchBg {
      @include size(90px, 90px);
      background-image: url("../img/img_common_search_empty_n@2x.png");
   }
   >.tipBox {
      margin-bottom: 0;
   }
}

.pagTip {
   margin-top: 0;
   margin-bottom: map-get($gutter, basic);
}