@mixin flexBetween {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

@mixin flexCenter {
   display: flex;
   align-items: center;
   justify-content:center;
}

@mixin linearGradient1 {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.5)15%, rgba(255, 255, 255, 0)100%);
   background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5)15%, rgba(255, 255, 255, 0)100%);
   background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5)15%, rgba(255, 255, 255, 0)100%);
   background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.5)15%, rgba(255, 255, 255, 0)100%);
}

.header{
   position: fixed;
   top: 50px;
   width:100%;
   background-color: #fff;
   z-index: 1;
   >.topBar{
      @include flexBetween;
      width: 100%;height: 35px;
      background-color: transparent;
      padding: 0 15px;
      >.listMode{
         display: flex;
         >.btn{
            color: #ccc;
            &.active{
               color: #333;
            }
         }
      }
      .filterBtn{
         color: var(--variationMain);
      }
   }
   
   >.menuSlide{
      position: relative;
      width: 100%;
      overflow: hidden;
      overflow-x: auto;
      >.btnGroup{
         position: relative;
         display: inline-flex;
         >.mBtn{
            width: 104px;
            color: #797979;
            padding:15px 0;
            border-width:2px 0;
            border-radius: 0;
            &.active{
               color: var(--variationMain);
               border-bottom: 2px var(--variationMain) solid;
            }
            &:hover{
               border-bottom: 2px var(--variationMain) solid;
            }
         }
      }
   }   
}

.content{
   position: relative;
   width: 100%;
   padding: 10px;   
   &.multiple {
      .serviceKind {
         opacity: 0;
      }
   }
   &.mode1{
      .card{
         border:none;
         border-radius: 10px;
         margin-bottom: 10px;
         overflow: hidden;
         >.card-body{
            height: 230px;
            padding: 0;
            >img{
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
         >.card-footer{
            position: relative;
            padding: 15px;
            background-color: #fff;
            border: none;
            >.date{
               color: #797979;
               font-size: 14px;
               line-height: 22px;
            }
            >.title{
               font-size: 16px;
               font-weight: bold;
               color: #292929;
               line-height: 25px;
            }
            >.serviceKind{
               position: absolute;
               width:100%;
               top:-40px;
               left:0;
               >.name{
                  height:40px;
                  font-family: PingFangTC;
                  font-size: 14px;
                  padding: 12px 15px 0;
                  color: #fff;
                  overflow: hidden;

                  @include linearGradient1;
               }
               >.icon{
                  position: absolute;
                  width:75px;
                  height: 75px;
                  top:0;
                  right:20px;
                  border:3px #fff solid;
                  border-radius: 50%;
                  background-color: #998db2;
                  overflow: hidden;
                  >img{
                     width: 100%;
                     height: 100%;
                     object-fit: contain;
                  }
               }
            }         
         }
      }
   }

   &.mode2{
      .card{
         display: flex;
         flex-direction: initial;
         border:none;
         border-radius: 5px;
         margin-bottom: 10px;
         overflow: hidden;
         >.card-body{
            width: 120px;
            height:120px;
            padding: 0;
            >img{
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }
   
         >.card-footer{
            position: relative;
            width: calc(100% - 120px);
            padding: 15px;
            background-color: #fff;
            border: none;
            display: grid;
            >.date{
               order: 2;
               color: #797979;
               font-size: 14px;
               line-height: 22px;               
            }
            >.title{
               order: 1;
               font-size: 16px;
               font-weight: bold;
               color: #292929;
               line-height: 25px;
               margin-bottom: 20px;
            }
            >.serviceKind{
               order: 3;
               display: flex;
               align-items: center;
               margin-top: 5px;
               width:100%;
               >.name{
                  font-family: PingFangTC;
                  font-size: 14px;
                  color: #292929;
                  line-height: 14px;
               }
               >.icon{
                  position: relative;
                  width:16px;
                  height: 16px;
                  border-radius: 50%;
                  margin-right: 8px;
                  background-color: #998db2;
                  overflow: hidden;
                  >img{
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                  }
               }
            }         
         }
      }
   }   
}

.emptyBox {
   width: 90px;
   height: 90px;
   margin: 30px auto;
   background-image: url(../img/img_news_empty_n_n@2x.png);
   background-size: contain;
}

#sidebar{
   .btnGroup{
      .btn{
         color: #ccc;
         &.active{
            color: #333;
         }
      }
   }
   .dateOuter {
      .arrowBox {
         position: absolute;
         right: 0px;
         top: 5px;
         background-image: url("../img/btn_listcore_indicatorright_std_n@2x.png");          
      }
   }
}

.checkCircle{
   position: relative;
   width:15px;
   height: 15px;
   border-radius: 50%;
   background-color: #fff;
   .icon{
      @include flexCenter;
      width:15px;
      height:15px;
      z-index: 2;
      line-height: 0;
      color: #444;
      display: none;
   }
   >.bg{
      @include flexCenter;
      position: absolute;
      top: 0;
      width:15px;
      height:15px;
      line-height: 0;
      color: #aaa;
      display: block;
   }
   &.checked{
      >.icon{
         display: block;
      }
      >.bg{
         display: none;
      }
   }
}

.sidebarPage{
   position: fixed;
   right: 0;
   top: 0;
   width: 300px;
   height: 100vh;
   transform: translateX(100%);
   transition: transform 0.25s;
   background-color: #fff;
   z-index: 100;
   &.show{
      transform: translateX(0);
   }
   .serviceKind{
      display: flex;
      align-items: center;
      width:100%;
      >.name{
         font-family: PingFangTC;
         font-size: 14px;
         color: #292929;
         line-height: 14px;
      }
      >.icon{
         position: relative;
         width:16px;
         height: 16px;
         border-radius: 50%;
         margin-right: 8px;
         background-color: #998db2;
         overflow: hidden;
         >img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }  
}

.modal{   
   h5{
      font-weight: bold;
      line-height: 25px;
   }
   
   .modal-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
   }
}

.modal#confirmModal,.modal#promptModal{
   .modal-content{
      background-color: #f0f0f0;
      border:none;
   }
   .modal-body{
      
   }

   .modal-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border:none;
      .btn{
         width:50%;
         border-radius: 0;
         border-width: 1px 0 0 0;
         // border-width: 0;
         border-style:solid;
         border-color:#bbb;
         margin:0;
      }
      .btn+.btn{
         border-left-width:1px;
      }

   }

}

.chooseBrand.multiple {
   display: none;
}

.container.pt-141 {
   padding-top: 141px;
} 