@mixin flexBetween {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin linearGradient1 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 15%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -moz-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 15%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 15%,
        rgba(255, 255, 255, 0) 100%
    );
    background: -o-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 15%,
        rgba(255, 255, 255, 0) 100%
    );
}

.header {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    > .slider {
        position: relative;
        width: 100%;
        height: 240px;
        > .swiper-container {
            height: 100%;
        }
        > .swiper-pagination {
            width: 100%;
            bottom: 5px;
            z-index: 20;
            > .swiper-pagination-bullet {
                margin: 0 4px;
                &.swiper-pagination-bullet-active {
                    background-color: #fff;
                }
            }
        }
        .serviceKind {
            position: absolute;
            width: 100%;
            bottom: 0px;
            left: 0;
            z-index: 5;
            > .name {
                height: 40px;
                font-family: PingFangTC;
                font-size: 14px;
                padding: 12px 15px 0;
                color: #fff;
                overflow: hidden;
            }
            > .icon {
                position: absolute;
                width: 75px;
                height: 75px;
                top: 0;
                right: 20px;
                border: 3px #fff solid;
                border-radius: 50%;
                background-color: #998db2;
                overflow: hidden;
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    >.article {
        padding: 20px 25px;
        > .title {
            width: 80%;
            font-family: PingFangTC;
            font-size: 18px;
            line-height: 24px;
            color: #292929;
            margin-bottom: 15px;
        }
        > .date,
        .store {
            font-size: 14px;
            color: #797979;
        }
    }
    >.desc {
        padding: 25px;
        font-size: 14px;
        color: #797979;
        background-color: #fff;
        img, iframe {
            max-width: 100%;
        }
    }
}

.content {
    position: relative;
    width: 100%;
    padding: 10px;
    > .title {
        font-size: 16px;
        margin: 5px 0 5px 20px;
        color: #797979;
    }
    .card {
        display: flex;
        flex-direction: initial;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        + .card {
            margin-top: 10px;
        }
        > .card-body {
            width: 100px;
            height: 100px;
            padding: 0;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        > .card-footer {
            position: relative;
            width: calc(100% - 100px);
            background-color: #fff;
            border: none;
            @include flexBetween;
            > .block {
                padding-right: 15px;
                > .title {
                    // font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    color: #292929;
                    -webkit-line-clamp: 1 !important;
                }
                > .desc {
                    margin-left: auto;
                    color: #797979;
                }
            }
            > .angleBtn {
                width: 16px;
                height: 16px;
                object-fit: contain;
                margin: 10px;
            }
        }
    }
}

.footer {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: var(--variationMain);
    @include flexBetween;
    > .msgBtn {
        width: calc(100% - 90px);
        height: 24px;
        color: #fff;
        text-align: center;
        padding: 0 10px;
        -webkit-line-clamp: 1 !important;
        order: 2;
        > a {
            color: #fff;
        }
    }
    .prevBtn {
        width: 45px;
        height: 100%;
        order: 1;
    }
    .nextBtn {
        width: 45px;
        height: 100%;
        order: 3;
    }
}

.ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

#sidebar {
    .btnGroup {
        .btn {
            color: #ccc;
            &.active {
                color: #333;
            }
        }
    }
    .dateOuter {
        .arrowBox {
            position: absolute;
            right: 0px;
            top: 5px;
            background-image: url("../img/btn_listcore_indicatorright_std_n@2x.png");
        }
    }
}

.checkCircle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    .icon {
        @include flexCenter;
        width: 15px;
        height: 15px;
        z-index: 2;
        line-height: 0;
        color: #444;
        display: none;
    }
    > .bg {
        @include flexCenter;
        position: absolute;
        top: 0;
        width: 15px;
        height: 15px;
        line-height: 0;
        color: #aaa;
        display: block;
    }
    &.checked {
        > .icon {
            display: block;
        }
        > .bg {
            display: none;
        }
    }
}

.sidebarPage {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.25s;
    background-color: #fff;
    z-index: 3;
    &.show {
        transform: translateX(0);
    }
    .serviceKind {
        display: flex;
        align-items: center;
        width: 100%;
        > .name {
            font-family: PingFangTC;
            font-size: 14px;
            color: #292929;
            line-height: 14px;
        }
        > .icon {
            position: relative;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 8px;
            background-color: #998db2;
            overflow: hidden;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.container.pt-50 {
    padding-top: 50px;
}