@import './utility/index';
$basicHeight: map-get($heightObj, basic);
$basicGutter: map-get($gutter, basic);
$inputColor: map-get($fontColor, input);

#app {
   padding-top: $basicHeight;
   &.tall {
      padding-top: $basicHeight * 2;
   }
}

.fixedBlock {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1;
}

.menuBlock {
   position: static;
}

.controlPanel {
   position: static;
   left: 0;
   top: 0;
   width: 100%;
   height: $basicHeight;
   padding: 0 15px;
   @extend %bwtFlex;
   background-color: #fff;
   z-index: 10;
}

.filterTree {
   display: flex;
   align-items: center;
   >ul {
      display: flex;
      align-items: center;
      margin-right: 3px;
      >li {
         @include elGutter(margin-right, 5px);
         max-width: 150px;
         @extend %hideTxt;
      }
   }
   >.iconBox {
      @include size(12px);
      background-image: url("../img/btn_filter_category_lightbg_n@3x.png");
      @extend %bgImgCenter;
      background-size: 8px 8px;
   }
}

.menuInfo {
   margin-bottom: $basicGutter;
   text-align: center;
   color: $inputColor;
}

.prodMenuBlock {
   @include elGutter(margin-bottom, $basicGutter);
   >p {
      padding-left: 5px;
      margin-bottom: 15px;
      color: $inputColor;
   }
   &.other {
      .prodItem {
         height: 120px;
         @extend %clearFix;
         >* {
            float: left;
            height: 100%;
         }
         >.itemBg {
            width: 120px;
            border-radius: 10px 0px 0 10px;
         }
         >.descBox {
            display: block;
            width: calc(100% - 120px);
            padding: 15px;
            border-radius: 0 10px 10px 0;
            >.title {
               margin-bottom: 0px;
            }
            >.summary {
               margin-bottom: 10px;
            }
         }
      }
   }
}

.prodItem {
   display: block;
   @include elGutter(margin-bottom, $basicGutter);
   >.itemBg {
      height: 240px;
      background-image: url("../img/placeholder.jpg");
      background-size: cover;
      background-position: center top;
      border-radius: 10px 10px 0 0;
   }
   >.descBox {
      display: flex;
      flex-direction: column-reverse;
      padding: 15px 60px 15px 15px;
      background-color: #fff;
      position: relative;
      border-radius: 0 0 10px 10px;
      >.title {
         color: $inputColor;
         font-size: 14px;
         @extend %hideTxt;
         &.mb {
            margin-bottom: 10px;
         }
      }
      >.summary {
         font-size: 15px;
         color: map-get($fontColor, formTitle);
         @extend %hideTxt;
      }
      >.price {
         position: absolute;
         right: 12px;
         bottom: 12px;
         font-size: 17px;
         color: var(--variationMain);
      }
   }
}