@import './utility/index';

$basicHeight: map-get($heightObj, basic);
$searchColor: map-get($fontColor, search);
$newRadius: 5px;

#app {
   padding-top: $basicHeight;
}

.emptyBg {
   background-image: url("../img/img_news_empty_n_n@3x.png");
}

.newsFilterBox {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 10;
}

.controlPanel {
   @include size(100%, $basicHeight);
   padding: 0 20px;
   @extend %bwtFlex;
   background-color: #fff;
   >.text {
      color: $searchColor;
      text-align: right;
      cursor: pointer;
   }
}

.newsItem {
   @include elGutter(margin-bottom, map-get($gutter, basic));
   >.imgBox {
      position: relative;
      >.newsBg {
         height: 230px;
         background-image: url("../img/placeholder.jpg");
         background-position: center top;
         background-size: cover;
         border-top-left-radius: $newRadius;
         border-top-right-radius: $newRadius;
         @media (min-width: 750px) {
            height: 460px;
         }
      }
      >.shadowBox {
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         padding: 10px 15px;
         color: #fff;
         background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 15%, rgba(255, 255, 255, 0) 100%);
      }
   }
   >.descBox {
      padding: 15px 15px;
      background-color: #fff;
      border-bottom-left-radius: $newRadius;
      border-bottom-right-radius: $newRadius;
      >.brandInfo {
         position: relative;
         &.multiple {
            opacity: 0;
         }
         >.brandBg {
            position: absolute;
            right: 0;
            top: -45px;
            @include size(60px);
            background-image: url("../img/placeholder.jpg");
            background-size: contain;
         }
         >.brandTitle {
            display: none;
            color: map-get($fontColor, formTitle);
         }
      }
      >.newsTime {
         color: map-get($fontColor, input);
         margin-bottom: 8px;
      }
      >.newTitle {
         @extend %hideTxt;
         color: map-get($fontColor, formTitle);
      }
   }
}

.newsItem.other {
   @extend %clearFix;
   height: 120px;
   >div {
      float: left;
   }
   >.imgBox {
      @include size(120px, 100%);
      >.newsBg {
         height: 100%;
         border-top-right-radius: 0;
         border-bottom-left-radius: $newRadius;
      }
      >.shadowBox {
         display: none;
      }
   }
   >.descBox {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      width: calc(100% - 120px);
      height: 100%;
      border-bottom-left-radius: 0;
      border-top-right-radius: $newRadius;
      >.brandInfo {
         display: flex;
         align-items: center;
         >.brandBg {
            position: static;
            @include size(20px);
         }
         >.brandTitle {
            display: block;
            margin-left: 5px;
         }
      }
      >.newTitle {
         margin-bottom: 8px;
      }
   }
}