@import './utility/index';

$basicHeight: map-get($heightObj, basic);
%bgStyle {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

#app {
   &.tall {
      padding-bottom: $basicHeight;
   }
   &.hasPaddingTop {
      padding-top: $basicHeight;
   }
}

.insidePageBlock {
   position: fixed;
   left: 0;
   top: 0;
   @extend %bwtFlex;
   @include size(100%, $basicHeight);
   padding: 0 15px;
   background-color: map-get($elBgColor, input);
   color: #fff;
   font-size: 18px;
   z-index: 1;
   >.backIcon,
   >.empty {
      @include size(25px);
   }
   >.backIcon {
      background-image: url("../img/btn_nav_close_darkbg_n@2x.png");
      background-size: contain;
   }
}

.pageSlideBox {
   &.noSlide {
      padding-top: 56.25%;
      background-image: url("../img/placeholder.jpg");
      @extend %bgStyle;
   }
}

.swiper-slide {
   position: relative;
   padding-top: 56.25%;
   @media (min-width: 576px) {
      padding-top: 480px;
   }
   &.bg {
      @extend %bgStyle;
   }
   >iframe {
      position: absolute;
      left: 0;
      top: 0;
      @include size(100%);
   }
}

.swiper-pagination-bullet {
   background-color: #fff;
   &.active {
      background-color: var(--variationMain);
   }
}

.swiper-container-horizontal {
   >.swiper-pagination-bullets {
      bottom: 0px;
   }
}

.block {
   position: relative;
   padding: 20px;
   &.pageInfo {
      padding-top:30px;
   }
   &.editor {
      background-color: #fff;
      ol, ul {
         padding-left: 40px;
         list-style: disc;
      }
      img, iframe {
         max-width: 100%;
      }
   }
}

.brandLogo {
   position: absolute;
   right: 25px;
   top: -30px;
   @include size(60px);
   background-image: url("../img/placeholder.jpg");
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   z-index: 10;
   &.multiple {
      opacity: 0;
   }
}

.pageTitle {
   font-size: 17px;
   color: map-get($fontColor, formTitle);
   &.hasMargin {
      margin-bottom: 15px;
   }
}

.introList {
   margin-bottom: 0;
   color: map-get($fontColor, input);
   >li {
      display: flex;
      align-items: flex-start;
      @include elGutter(margin-bottom, 10px);
      >.title {
         flex: 0 0 65px;
      }
      >.colon {
         margin-left: 5px;
         margin-right: 10px;
      }
      >.content {
         flex: 1;
      }
   }
}

.hrBlock {
   padding: 0 20px;
   >hr {
      margin: 0;  
   }
}

.linkBlock {
   @include elGutter(margin-bottom, 25px);
   >.linkTitle {
      padding-left: 10px;
      color: map-get($fontColor, input);
      margin-bottom: map-get($gutter, basic) / 2;
   }
}

.linkItem {
   display: block;
   height: 110px;
   @include elGutter(margin-bottom, map-get($gutter, basic));
   @extend %clearFix;
   >div {
      float: left;
   }
   >.linkBg {
      @include size(110px, 100%);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-image: url("../img/placeholder.jpg");
      @extend %bgStyle;
   }
   >.linkDesc {
      position: relative;
      width: calc(100% - 120px);
      height: 100%;
      padding: 10px 20px 10px 15px;
      background-color: #fff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      >.title {
         margin-bottom: 5px;
         color: map-get($fontColor, formTitle);
         @extend %hideTxt;
      }
      >.content {
         color: map-get($fontColor, input);
         @include setWebkitLimitRow(2);
      }
      >.arrowBg {
         position: absolute;
         right: 5px;
         top: 45%;
         @include size(20px);
         background-image: url("../img/btn_listcore_indicatorright_std_n@2x.png");
         background-size: contain;
      }
   }
}

.pageControl {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: $basicHeight;
   background-color: var(--variationMain);
   @extend %bwtFlex;
   z-index: 10;
   >.text {
      color: #fff;
   }
   >.dirBox {
      width: $basicHeight;
      height: 100%;
      background-size: contain;
      &.hide {
         opacity: 0;
         pointer-events: none;
      }
      &.left {
         background-image: url("../img/btn_cms_stdstyle_prev_n.png");
         background-position: left top;
      }
      &.right {
         background-image: url("../img/btn_cms_stdstyle_next_n.png");
         background-position: right top;
      }
   }
}