#memberHeader {
   >* {
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
   }
   padding: 0 15px;
   @extend %bwtFlex;
   height: map-get($heightObj, header);
   background-color: var(--variationSub);
   >.logout {
      @include size(25px);
      background-image: url("../img/btn_memberhome_logout_n_n@2x.png");
   }
   >.logoBg {
      @include size(210px, 30px);
      background-image: url("../img/img_common_logo_n_n@2x.png");
   }
   >.memberBarcode {
      @include size(30px);
      background-image: url("../img/btn_memberhome_membercard_n_n@2x.png");
   }
}