#pageHeader {
   position: fixed;
   left: 0;
   top: 0;
   @extend %bwtFlex;
   width: 100%;
   height: map-get($heightObj, header);
   padding: 0 15px;
   background-color: var(--variationSub);
   z-index: 10;
   >.logoBg {
      @include size(210px, 30px);
      background-image: url("../img/img_common_logo_n_n@2x.png");
      background-size: contain;
      background-repeat: no-repeat;
   }
   >.userName {
      color: #fff;
   }
}