@import './utility/index';

.mycontainer {
   padding-top: 40px;
}

.iconBox {
   @include size(80px);
   line-height: 80px;
   margin: 0 auto 35px;
   border-radius: 50%;
   background: #32BA7C 0% 0% no-repeat padding-box;
   color: white;
   font-size: 40px;
   text-align: center;
}

.textBox {
   text-align: center;
   >p {
      @include elGutter(margin-bottom, 10px);
      font-size: 20px;
      color: map-get($fontColor, formTitle);
   }
}