@import './utility/index';

.mycontainer {
   padding-top: 65px;
   padding-bottom: $fixHeight + 10px;
}

.searchBar {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   padding: 12px 15px;
   background-color: #fff;
   >.outer {
      position: relative;
      >i {
         position: absolute;
         left: 10px;
         top: 9px;
         font-size: 22px;
         color: #818181;
      }
      >input {
         @include size(100%, 40px);
         padding-left: 40px;
         background-color: #e1e2e4;
         border: none;
         border-radius: map-get($radius, basic);
         color: map-get($fontColor, input);
         &:focus {
            outline: none;
         }
      }
   }
}

.agencyList {
   padding-top: 15px;
   >li {
      display: flex;
      align-items: center;
      padding: 12px;
      @include elGutter(margin-bottom, 15px);
      border-radius: map-get($radius, basic);
      background-color: #fff;
      >.agencyName {
         width: calc(100% - 22px);
         padding-right: 5px;
      }
   }
}

