@import './utility/index';
$inputColor: map-get($fontColor, input);
$bdColor: map-get($borderColor, reset);
$modalFooterColor: map-get($fontColor, modalCancel);

.fixPw {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   min-height: 45px;
   padding-right: 10px;
   >a {
      @include size(25px);
      text-align: right;
      color: $inputColor;
   }
}

.phoneLink {
   @include size(100%, 45px);
   padding-right: 10px;
   line-height: 45px;
   text-align: right;
   color: $inputColor;
}

.favorStore {
   margin-top: 40px;
   margin-bottom: 0;
}

.noRadius {
   padding-bottom: 15px;
}

.favorStore > .dataBody > .dataRow {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 45px;
   border-bottom: 1px solid $bdColor;
   color: $inputColor;
}

.favorStore .storeName {
   flex: 1 0 0;
   @extend %hideTxt;
}

.favorStore i {
   flex: 0 0 20px;
   text-align: center;
   cursor: pointer;
}

//====操作modal
.operationModal {
   .modal-body {
      padding: 0 !important;
   }
}

.storeAddress {
   padding: 0 10px;
}

.operationList {
   >li {
      padding: 8px 0;
      text-align: center;
      color: $modalFooterColor;
      border-top: 1px solid $bdColor;
      cursor: pointer;
   }
}

//===分店選擇modal
#msgModal.storeModal {
   .modal-footer {
      padding: 0;
      >p {
         flex: 1;
         height: 45px;
         line-height: 45px;
         &:first-child {
            border-right: 1px solid $bdColor;
            color: red;
         }
      }
   }
}

.storeList {
   margin-bottom: 20px !important;
   >li {
      display: flex;
      align-items: center;
      @include elGutter(margin-bottom, 20px);
      >p {
         flex: 0 0 50px;
         text-align: left;
      }
      >select { 
         flex: 1;
         height: 40px;
      }
   }
}

.seeMap,
.seeMap:focus,
.seeMap:hover {
   color: $modalFooterColor;
}