@import './utility/index';

$textColor: #fff;
$position: -8px;

body {
	background-color: #000000CC;
}

.box {
   width: 300px;
   margin: 0 auto;
	padding-top: 50px;
}

.videoBox {
	position: relative;
}

#canvas {
   display: block;
   @include size(100%, 300px);
   margin: 0 auto;
   background-color: transparent;
}

#canvas.notActive {
   background-color: #fff;
}

.corner {
   position: absolute;
   @include size(40px);
   background-color: #C72A04;
   z-index: -1;
   &1 {
      left: $position;
      top: $position;
   }
   &2 {
      right: $position;
      top: $position;
   }
   &3 {
      left: $position;
      bottom: $position;
   }
   &4 {
      right: $position;
      bottom: $position;
   }
}

.tipText {
   margin-top: 50px;
   margin-bottom: 20px;
   text-align: center;
   color: $textColor;
}

.restartText {
   display: none;
   line-height: 25px;
	color: $textColor;
}

.restartText.show {
	display: block;
}