@import './utility/index';

#cardModal {
   .modal-header {
      flex-direction: column;
      align-items: center;
      .modal-title {
         color: map-get($fontColor, formTitle);
      }
   }
}

.envelope {
   position: absolute;
   left: -50%;
   bottom: 0;
   width: 130%;
   transform: translateX(25%);
   z-index: 1;
}