@import './utility/index';
$inputColor: map-get($fontColor, input);

.dataBox {
   @include elGutter(margin-bottom, 40px);
   >.dataTitle {
      margin-bottom: 10px;
      padding-left: 10px;
      color: $inputColor;
      font-size: 18px;
   }
   >.dataBody {
      padding: 8px 8px;
      background-color: #fff;
      border-radius: map-get($radius, basic);
      >.dataRow {
         position: relative;
         border-bottom: 1px solid map-get($borderColor, reset);
         overflow: auto;
         &:last-child {
            margin-bottom: 0;
            border-bottom: none;
         }
         &.hasSelect {
            text-align: right;
            >select {
               display: inline-block;
               width: 150px;
               @extend %resetForm;
               direction: rtl;
               &.question {
                  width: 250px;
               }
            }
         }
         >.dataName {
            position: absolute;
            left: 0;
            top: 2px;
            transform: translate(10px, 10px);
            color: map-get($fontColor, formTitle);
         }
         >.form-control {
            padding: 10px;
            border: none;
            &:focus {
               box-shadow: none;
            }
         }
         >.validate-error {
            margin-top: 0;
         }
      }
   }
}

.birthday {
   padding-top: 13px !important;
   position: relative;
   left: 25px;
}

.accountBox {
   .mail, .pwConfirm {
      padding-left: 80px !important;
   }
   .mailConfirm {
      padding-left: 110px !important;
   }
   .pw {
      padding-left: 60px !important;
   }
}

.securityBox,
.personBox {
   .form-control {
      padding-left: 55px !important;
   }
}

//===invoiceSetting.html
.invoiceSetting {
   padding-bottom: $fixHeight + 10px;
}

.donateRow {
   height: 45px;
}

.donateBox {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 100%;
   padding-right: 15px;
   font-size: 16px;
   #donate {
      @include size(18px);
      transform: translateY(2.5px);
      opacity: 0;
   }
}

.invoiceTip {
   padding: 12px 12px 0;
   color: $inputColor;
}

.agencyLink {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0 12px 0 80px;
   min-height: 45px;
   color: $inputColor;
   text-align: justify;
   &:focus {
      color: $inputColor;
   }
}