@import './utility/index';

.linkBox {
   display: flex;
   margin-top: 40px;
   >p {
      flex: 1;
      text-align: center;
      &:first-child {
         border-right: 1px solid #979797;
      }
      >a {
         color: map-get($fontColor, input);
      }
   }
}

