@import './utility/index';

.mycontainer {
   padding-top: 40px;
   padding-bottom: $fixHeight + 20px;
}

.transferTip {
   color: map-get($fontColor, input);
   padding: 0 15px;
   margin-bottom: 20px;
}

.arrowBox {
   margin: 12px 0;
   min-height: 35px;
   p { 
      position: relative;
      font-size: 30px;
      color: map-get($fontColor, input);
      >i {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
      }
      &:last-child {
         color: map-get($fontColor, info);
         >i {
            transform: translateX(-50%) translateY(12px);
         }
      }
   }
}