* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul {
   list-style: none;
}

#app {
   width: 1000px;
   margin: 0 auto;
   padding-top: 15px;
   position: relative;
}

.searchBox {
   padding-top: 20px;
   margin-bottom: 20px;
}

#map {
   height: 600px;
}

.modeBox {
   margin: 25px 0;
}

.btnBox {
   margin-top: 15px;
}

.btnBox > button {
   margin-right: 15px;
   cursor: pointer;
}

.highlight {
   color: red;
   font-weight: bold;
}