.cartInfo > p:not(:first-child) {
   flex: 0 0 20%;
}

.cartList > li > .columnBox:not(:first-child) {
   flex: 0 0 20%;
}

.mutiBody > div:first-child {
   flex: 0 0 250px;
}

.mutiBody > div:last-child {
   flex: 1;
   margin-left: 20px;
}

.termBox {
   padding-left: 12px;
   font-size: 16px;
   margin-bottom: 50px;
}

.termCheckbox {
   width: 16px;
   height: 16px;
   margin-top: 0;
   transform: translateY(2px);
}