/*流程區域*/
.process-region .container{
    height: 40px;
    font-size: 16px;
    margin: 65px auto 20px;
    color: #333333;
    display: flex;
    align-items: center;
}
.process-region .process-box{
    width: calc((100% - 40px) / 3);
    text-align: center;
}
.process-region .process-box.active{
    color: #fdb813;
}
/*流程ICON*/
.process-region .icon-box{
    width: 20px;
    text-align: center;
    color: #999999;
    font-size: 28px;
}
.process-region .icon-box.active{
    color: #fdb813;
}
.process-region .icon-box i{
    transform: translateY(-2.5px);
}

/*======================================================================區塊／訂單區／01-Step訂單區塊======================================================================*/
/*咖啡豆商品*/
.section.order.num-1  .beans_product.wrap-item{
    padding: 20px 0;
}
/*活動商品*/
.section.order.num-1  .promotions_product.wrap-item{
    padding: 20px 0;
}

/*==============================加購商品區==============================*/
/*加購商品*/
.section.order.num-1 .plus-region .product-block{
    width: 60%;
    margin-bottom: 0px;
    padding: 0px 12px;
}

/*==============================訂購收件人資訊==============================*/
.wrap-region .buyerInfo{
	border: none;
	margin-bottom: 50px;
}
.section.order.num-1 .wrap-block .promotions-block {
    padding-left: 15px;
}

/*按鈕區塊*/
.section.order.num-1 .wrap-region .buttonRegion{
	text-align: right;
}
.section.order.num-1 .wrap-region .buttonRegion button{
	margin-left: 30px;
}


/*====apply pay button====*/
#btnApple {
    transform: translateY(12px);
}



/*==============================Media==============================*/

@media (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) and (max-width: 1400px) {}