.wrap-region{
	margin-bottom: 50px;
}
/*標題*/
.titleRegion {
    padding: 50px 0 40px;
    border-bottom: none;
}
/*摺疊區塊*/
.collapse-region{}
.collapse-region .panel{
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 10px;
}
.collapse-region .panel-heading{
	background-color: #ffffff;
    padding: 0;
}
/*摺疊標題*/
.collapse-region .panel-heading a {
    display: block;
    padding: 0 15px;
    font-size: 16px;
    color: #999999;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}
.collapse-region .panel-heading a span {
	margin-left: 10px;
	color: #333333;
}

.collapse-region .panel-body {
    border-top: 1px solid #eeeeee;
}
/*摺疊ICON*/
.collapse-region .iconBox {
    font-size: 30px;
}

/*==============================Media==============================*/

@media (max-width: 991px) {}

@media (max-width: 1199px) {
    /*摺疊標題*/
    .collapse-region .panel-heading a {
        padding: 6px 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {}