body {
   overflow-x: hidden;
}

.slick-slide img {
   height: auto;
}

.select2-dropdown {
   z-index: 10;
}

.productName {
   font-size: 24px;
   margin-bottom: 35px;
   margin-top: 35px;
}

.detailWrap {
   margin-bottom: 105px;
}

.detailWrap:after {
   content: '';
   display: block;
   clear: both;
}

.detailWrap > div {
   float: left;
}

.detailWrap > .detailL {
   width: 300px;
}

.slickTop {
   margin-bottom: 12px;
}

.slick-nav .slick-slide {
   padding: 0 3px;
}

.slick-nav .slick-slide.slick-center img {
   border: 1px solid #fdb813;
}

.detailWrap > .detailR {
   width: calc(100% - 300px);
   padding-left: 25px;
}

.descBox {
   margin-bottom: 50px;
}

.descBox .descRow {
   margin-bottom: 20px;
}

.descBox .descRow:last-child {
   margin-bottom: 0px;
}

.descRow:after {
   content: '';
   display: block;
   clear: both;
}

.descRow:last-child {
   margin-bottom: 0;
}

.descRow > div {
   float: left;
}

.descRow > .descL {
   width: 20px;
   height: 20px;
   line-height: 22px;
}

.descRow > .descL > svg {
   transform: scale(0.65);
   color: #fdb813;
}

.descRow > .descR {
   width: calc(100% - 25px);
   font-size: 16px;
}

.infoBox {
   margin-bottom: 50px;
}

#formatRow.hide,
#periodBox.hide,
#flavorRowEl.hide {
   display: none;
}

.infoRow {
   margin-bottom: 30px;
}

.infoRow:last-child {
   margin-bottom: 0;
}

.infoRow:after {
   content: '';
   display: block;
   clear: both;
}

.infoRow > div {
   float: left;
}

.infoTitle {
   width: 75px;
   padding-top: 5px;
   color: #333333;
   font-size: 16px;
}

.packageTitle,
.flavorTitle {
   padding-top: 10px;
}

.infoBody {
   display: flex;
   align-items: center;
   width: calc(100% - 75px);
}

.infoBody > * {
   margin-right: 15px;
}

.infoBody > *:last-child {
   margin-right: 0px;
}

.typeBox {
   color: #999999;
   border: 1px solid #999999;
   padding: 6px 12px;
   cursor: pointer;
}

.typeBox.active {
   color: #fdb813;
   border-color: #fdb813;
}

.packageBox .select2-container {
   width: 215px !important;
}

.packageTip {
   color: #FF3E3E;
}

.flavorBox {
   display: block;
}

.flavorInner {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.flavorInner:last-child {
   margin-bottom: 0;
}

.flavorInner > * {
   margin-right: 10px;
}

.flavorInner > *:last-child {
   margin-right: 0;
}

.flavorType+.select2-container {
   width: 215px !important;
}

.flavorNumbr+.select2-container {
   width: 90px !important;
}

.addItem,
.removeItem {
   width: 28px;
   height: 28px;
   line-height: 28px;
   text-align: center;
   border: 1px solid #fdb813;
   color: #fdb813;
   border-radius: 50%;
   cursor: pointer;
}

.addItem.noStock,
.calculateBox.noStock {
   display: none;
}

.moneyInfo {
   display: flex;
   align-items: center;
   margin-bottom: 25px;
}

.moneyInfo > * {
   margin-right: 15px;
} 

.moneyInfo > *:last-child {
   margin-right: 0px;
}

.specialPrice {
   font-size: 24px;
   color: #333333;
   margin-bottom: 0;
}

.settleBox > button {
   width: 160px;
   height: 45px;
}

.settleBox > button:first-child {
   margin-right: 15px;
}

.categoryEditBox {
   margin-bottom: 50px;
}

.categoryEditBox img,
.categoryEditBox iframe {
   max-width: 100% !important;
   height: auto;
}

.recommend > h3 {
   font-size: 24px;
   margin-bottom: 35px;
}

.recommend-item {
   position: relative;
   padding: 0 15px;
}

.recommend-slick .slick-slide {
   padding: 15px;
}

.recommend-slick .slick-slide a {
   display: block;
   text-decoration: none;
   color: black;
}

.recommend-text {
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.arrowBox {
   position: absolute;
   width: 30px;
   height: 45px;
   line-height: 45px;
   background-color: #bdb9b8;
   color: #fff;
   text-align: center;
   opacity: 1;
   cursor: pointer;
}

.arrowL {
   left: -10px;
   top: 40%;
}

.arrowR {
   right: -10px;
   top: 40%;
}

.soldOutBox {
   display: none;
   width: 160px;
   height: 45px;
   line-height: 45px;
   color: #fff;
   background-color: #bdb9b8;
   text-align: center;
}

.soldOutBox.noStock {
   display: block;
}

/* set disbaled select2 */
[aria-disabled="true"] {
   background-color: lightgray;
}

.select2-results__options > li {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.select2-results__options > li:last-child {
   border-bottom: none;
}