/*==============================================區塊／輪播／01-大圖輪播==============================================*/
.section.slider.num-1{
    margin: 0px;
}
.section.slider.num-1 .slick-prev,.section.slider.num-1 .slick-next{
    z-index: 9;
    height: 50px;
    opacity: 1;
}
.section.slider.num-1 .slick-prev {
    left: 30px;
}
.section.slider.num-1 .slick-next {
    right: 30px;
}
.section.slider.num-1 .slick-prev:before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/left-arrow.svg);
    opacity: 1;
    background-size: 40px 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: drop-shadow(0px 0px 1px #333);
}
.section.slider.num-1 .slick-next:before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/right-arrow.svg);
    opacity: 1;
    background-size: 40px 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: drop-shadow(0px 0px 1px #333);
}
.section.slider.num-1 img {
    width: 100%;
    object-fit: cover;
}

/*==============================================區塊／文字區／01-標題文字區==============================================*/
.section.titleText.num-1{
    margin: 100px 0;
}
.section.titleText.num-1 .verticalLine{
    width: 2px;
    height: 60px;
    background-color: #fdb813;
    left: 50%;
    position: relative;
    transform: translateX(-50%);    
}
.section.titleText.num-1 .title{
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0;
    text-align: center;
    color: #fdb813; 
}.section.titleText.num-1 .descBox{
    font-size: 16px;
    line-height: 40px;
    color: #333333;
    text-align: center;
}

/*==============================================區塊／消息區／01-最新消息區==============================================*/
.section.information.num-1{
    margin: 100px 0;
}
/*最新標題*/
.section.information.num-1 .title-region{
    height: 70px;
    font-size: 20px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
}
/*more*/
.section.information.num-1 .title-region a{
    display: flex;
    color: #999999;
    text-decoration: none;
    font-size: 16px;
    margin-right: 50px;
    align-items: center;
}
.section.information.num-1 .title-region a:hover{
    color: #fdb813;
}
.section.information.num-1 .title-region .iconBox{
    width: 15px;
    margin-left: 10px;
    height: 100%;
}
.section.information.num-1 .title-region .iconBox svg{
    width: 100%;
    vertical-align: middle;
    font-size: 22px;
}
/*消息內容*/
.section.information.num-1 .infoRegion .info-item{
    width: 100%;
    min-height: 70px;
    padding: 20px 15px 20px 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #dddddd;
}
.section.information.num-1 .infoRegion .info-item a{
    display: flex;
    align-items: center;
    color: #333333;
    text-decoration: none;
}
.section.information.num-1 .infoRegion .info-item a:hover .text{
    color: #fdb813;
}
.section.information.num-1 .infoRegion .info-item .date{
    width: 135px;
    padding-right: 50px;
    color: #999999;
}
.section.information.num-1 .infoRegion .info-item .type{
    width: 190px;
    padding-right: 50px;
    color: #999999;
}
.section.information.num-1 .infoRegion .info-item .text{
    width: calc(100% - 325px);
}

/*==============================================區塊／banner／01-banner-slick==============================================*/
.section.banner.num-1{
    margin: 100px 0;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section.banner.num-1 .bannerNum-1{
    width: calc(50% - 25px);
}
.section.banner.num-1 .slick-prev,.section.banner.num-1 .slick-next{
    z-index: 9;
    height: 50px;
    opacity: 1;
}
.section.banner.num-1 .slick-prev {
    left: 30px;
}
.section.banner.num-1 .slick-next {
    right: 30px;
}
.section.banner.num-1 .slick-prev:before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/left-arrow.svg);
    opacity: 1;
    background-size: 40px 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: drop-shadow(0px 0px 1px #333);
}
.section.banner.num-1 .slick-next:before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/right-arrow.svg);
    opacity: 1;
    background-size: 40px 50px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: drop-shadow(0px 0px 1px #333);
}

/*slick範圍*/
.section.banner.num-1 .bannerNum-1 .banner-item {
    position: relative;
}
/*slick圖片*/
.section.banner.num-1 .banner-item img{
    width: 100%;
    object-fit: cover;
}
/*slick底圖色塊*/
.section.banner.num-1 .bannerNum-1 .banner-item:before {  
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0); 
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%, rgba(35,24,21,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(35,24,21,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(35,24,21,1) 100%);
    /*  background: rgb(35,24,21);
    background: linear-gradient(0deg, rgba(35,24,21,0.7035189075630253) 0%, rgba(255,255,255,1) 100%);
    opacity: 0.4;*/
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}
/*slick文字*/
.section.banner.num-1 .text{
    font-size: 14px;
    text-align: center;
    height: 20px;
    width: calc(100% - 40px);
    padding: 0px;
    left: 50%;
    color: #ffffff;
    transform: translateX(-50%);
    word-break: break-word;
    position: absolute;
    overflow: hidden;
}
.section.banner.num-1 .text:first-child{
    bottom: 48px;
}
.section.banner.num-1 .text:last-child{
    bottom: 14px;
}
/*banner slick標題*/
.section.banner.num-1 .title-region{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.section.banner.num-1 .title{
    width: calc(50% - 25px);
    text-align: center;
    font-size: 20px;
    color: #333333;
}

/*==============================================區塊／banner／02-banner-slick==============================================*/
.section.banner.num-2{
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section.banner.num-2 .bannerNum-2{
    width: 50%;
}
.section.banner.num-2 .bannerNum-2 .bannerBox{
    float: left;
    padding: 1.5px;
    position: relative;
}
.section.banner.num-2 .bannerNum-2 .bannerBox a{
    display: block;
}
.section.banner.num-2 .bannerNum-2 .bannerBox:hover:before {
    background: rgba(35, 24, 21, .9); 
    background: -moz-linear-gradient(top, rgba(35, 24, 21, .9) 0%, rgba(35, 24, 21, .9) 100%);
    background: -webkit-linear-gradient(top, rgba(35, 24, 21, .9) 0%, rgba(35, 24, 21, .9) 100%);
    background: linear-gradient(to bottom, rgba(35, 24, 21, .9) 0%, rgba(35, 24, 21, .9) 100%);
}
.section.banner.num-2 .bannerNum-2 .bannerBox:before{
    content: "";
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    background: rgba(255,255,255,0); 
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%, rgba(35,24,21,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(35,24,21,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(35,24,21,1) 100%);
    opacity: 0.4;
    pointer-events: none;
}
.section.banner.num-2 .bannerNum-2 .large{
    width: 100%;
}
.section.banner.num-2 .bannerNum-2 .small{
    width: 50%;
}
.section.banner.num-2 .bannerNum-2 .large img,
.section.banner.num-2 .bannerNum-2 .small img{
    width: 100%;
    height: auto;
}
/*文字標題*/
.section.banner.num-2 .text{
    font-size: 14px;
    height: 20px;
    width: calc(100% - 56px);
    padding: 0px;
    left: 50%;
    color: #ffffff;
    transform: translateX(-50%);
    word-break: break-word;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}
.section.banner.num-2 .text:first-child{
    bottom: 62px;
}
.section.banner.num-2 .text:last-child{
    bottom: 28px;
}

/*==============================Media==============================*/


@media (max-width: 1199px) {

/*==============================================banner slick==============================================*/
    .section.banner.num-1 {
        padding: 0 50px;
    }
    .section.banner.num-1 .bannerNum-1{
        width: calc(50% - 15px);
    }
    .section.banner.num-1 .slick-prev {
        left: 12px;
    }
    .section.banner.num-1 .slick-next {
        right: 12px;
    }

    /*slick文字*/
    .section.banner.num-1 .text {
        font-size: 14px;
        height: 20px;
        width: calc(100% - 38px);
    }
    .section.banner.num-1 .text:first-child {
        bottom: 44px;
    }
    .section.banner.num-1 .text:last-child {
        bottom: 14px;
    }

/*==============================================banner==============================================*/
    /*文字標題*/
    .section.banner.num-2 .text {
        font-size: 14px;
        width: calc(100% - 28px);
        height: 20px;
    }
    .section.banner.num-2 .text:first-child {
        bottom: 44px;
    } 
    .section.banner.num-2 .text:last-child {
        bottom: 14px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {

/*==============================================banner slick==============================================*/
    .section.banner.num-1 {
        padding: 0 80px;
    }

    /*slick文字*/
    .section.banner.num-1 .text {
        font-size: 14px;
    }
    .section.banner.num-1 .text:first-child {
        bottom: 44px;
    }
    .section.banner.num-1 .text:last-child {
        bottom: 14px;
    }

/*==============================================banner==============================================*/
    /*文字標題*/
    .section.banner.num-2 .text {
        font-size: 14px;
        width: calc(100% - 40px);
        height: 20px;
    }
    .section.banner.num-2 .text:first-child {
        bottom: 50px;
    } 
    .section.banner.num-2 .text:last-child {
        bottom: 20px;
    } 
}