/*==============================內容區塊==============================*/
/*標題*/
.titleRegion{
    padding: 50px 0 40px;
    border-bottom: none;
}
.wrap-region {
    margin-bottom: 50px;
}
/*登入區塊*/
.wrap-block{
	display: flex;
}
/*半個區塊*/
.half-block{
	width: 50%;
	padding: 80px 0px;
}
.half-block .halfBox{
	width: 430px;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: space-between;
	font-size: 16px;
	color: #333333;
	text-align: center;
}
/*輔助文字*/
.half-block .halfBox .text-box {
    line-height: 30px;
    margin-bottom: 50px;
    width: 100%;
}
/*==============================左側區==============================*/
/*左側圖片*/
.half-block .halfBox .img-box {
    height: 137px;
    margin-bottom: 40px;
}
.half-block .halfBox .img-box img{
    height: 100%;
    width: auto;
}
/*==============================右側區==============================*/
/*form表*/
.half-block .section.form.num-1{
	width: 100%;
}
.half-block .section.form.num-1 .form-group{
	margin: 0px;
	margin-bottom: 25px;
}
.half-block .section.form.num-1 .form-group input{
	border-radius: 0px;
	min-height: 40px;
}

/*記住我*/
.half-block .section.form.num-1 .form-group.check .form-item{
	text-align: left;
}
.half-block .section.form.num-1 .form-group.check label{
    font-size: 14px;
    margin: 0 0 0 10px;
    color: #999999;
    font-weight: initial;
    transform: translateY(1px);
}
/*忘記密碼*/
.half-block .sub-region {
    font-size: 14px;
    text-align: right;
    width: 430px;
    margin: 0 auto;
    margin-top: 20px;
}
.half-block .sub-region .sub-box {
    display: inline-block;
    padding: 3px 0;
}
.half-block .sub-region .sub-box:first-child {
    padding-right: 10px;
}
.half-block .sub-region .sub-box:last-child {
    padding-left: 10px;
}
.half-block .sub-region .sub-box a{
	color: #333333;
	text-decoration: none;
}
.half-block .sub-region .sub-box a:hover{
	color: #f1a100;
}

/*==============================按鈕區塊==============================*/
.half-block .halfBox .button-region{
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.half-block:nth-child(1) .halfBox .button-region{
    justify-content: center;
}
.half-block .halfBox .button-region button{
	width: calc(50% - 6px);
	max-width: 209px;
}

/*==============================Media==============================*/

@media (max-width: 991px) {}

@media (max-width: 1199px) {

/*==============================內容區塊==============================*/
	.half-block .halfBox {
	    width: 85%;
	}
	/*輔助文字*/
	.half-block .halfBox .text-box {
	    font-size: 14px;
	    line-height: 28px;
	}
/*==============================右側區==============================*/
	/*忘記密碼*/
	.half-block .sub-region {
	    width: 85%;
	}
	.half-block .halfBox .button-region button {
	    font-size: 14px;
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {}