.section.sidebar.num-1 .container {
    align-items: flex-start;
}
/*標題*/
.section.sidebar.num-1 .titleRegion{
    padding: 50px 0 40px;
    border-bottom: none;
}
/*==============================側邊-內容區塊==============================*/

.wrap-region{
	display: flex;
	flex-wrap: wrap;
}
.section.sidebar.num-1 .wrap-region .title-region{
	text-align: left;
	margin: 50px 0 20px;
}

/*==============================側邊-表格內容區塊==============================*/

.section.sidebar.num-1 .wrap-block .wrap-item{
	align-items: center;
}
.section.sidebar.num-1 .wrap-block .wrap-item .itemBox div a{
	text-decoration: none;
	color: #333333;
}
.section.sidebar.num-1 .wrap-block .wrap-item .itemBox div a:hover{
	text-decoration: none;
	color: #fdb813;
}
.section.sidebar.num-1 .wrap-block .wrap-item .itemBox div:first-child {
    margin-bottom: 0px;
}
.section.sidebar.num-1 .wrap-block .wrap-item .itemBox>div:nth-child(2) {
    margin: 5px 0 5px;
}
/*付款按鈕*/
.section.sidebar.num-1 .wrap-block .itemBox button {
    width: 100%;
}
/*付款成功*/
.section.sidebar.num-1 .wrap-block .itemBox .success {
	color: #1bbc22;
}

/*==============================複製貨運編號==============================*/
.itemNumber {
	position: relative;
}
.itemNumber .itemInput {
 	position: absolute;
 	top: 0;
 	left: 0;
 	opacity: 0;
 	z-index: -10;
 }
/*複製按鈕*/
.section.sidebar.num-1 .wrap-block .itemBox div button {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
}

/*超商條碼*/
.wrap-block.barCode{
	border: 1px solid #dddddd;
    min-height: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.wrap-block.barCode .buy-item {
    font-size: 15px;
    width: 100%;
    min-height: 55px;
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #333333;
    background-color: #ffffff;
}
.wrap-block.barCode .buy-item .quarter {
    width: 25%;
    padding: 0 15px;
    word-break: break-all;
}
.wrap-block.barCode .buy-item .threeQuarter {
    width: 75%;
    padding: 0 15px;
    word-break: break-all;
}
.wrap-block.barCode .buy-item .half{
    width: 50%;
    padding: 0 15px;
    word-break: break-all;
}
/*條碼繳費*/
.wrap-block.barCode>.buy-item>.barcodeTarget{
    margin:  0 15px !important;
}
/*==============================Media==============================*/

@media (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) and (max-width: 1400px) {}