/*==============================================區塊／產品／Num1 (瀏覽紀錄)==============================================*/

.section.product.num-1{
    margin-bottom: 50px;
}
.section.product.num-1 .productNum-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.section.product.num-1 .slick-slider .slick-list{
    width: 100%;
}

/*單個商品區*/
.section.product.num-1 .product-block{
    width: calc(100% / 4);
    height: auto;
    margin: 0px;
    margin-bottom: 0px;
}
/*商品圖片*/
.section.product.num-1 .product-block>a>.imgBox {
    height: 245px;
}

/*==============================Media==============================*/

@media (max-width: 991px) {}

@media (max-width: 1199px) {

/*==============================================區塊／產品／Num1 (瀏覽紀錄)==============================================*/
    /*商品圖片*/
    .section.product.num-1 .product-block>a>.imgBox {
        height: 195px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {}