/*==============================內容區塊==============================*/
/*標題*/
.titleRegion{
    padding: 50px 0 40px;
    border-bottom: none;
}
.wrap-region {
    margin-bottom: 50px;
}
.wrap-block{
	text-align: -webkit-center;
}
/*半個區塊*/
.half-block{
	width: 50%;
	padding: 0px;
}
.half-block .halfBox{
	max-width: 550px;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: space-between;
	font-size: 16px;
	color: #333333;
	text-align: center;
}
/*輔助文字*/
.half-block .halfBox .text-box {
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    width: 100%;
    margin-bottom: 20px;
    color: #999999;
}

/*==============================流程區域==============================*/
.process-region {
    width: 100%;
    padding: 0 60px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.process-region .process-box{
    font-size: 20px;
    font-weight: bold;
    line-height: 46px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px #dddddd;
    color: #dddddd;
}
.process-region .process-box.active{
    border: solid 2px #fdb813;
    background-color: #fdb813;
    color: #ffffff;
}
.process-region .icon-box{
	width: calc((100% - 150px) / 2);
	height: 2px;
	background-color: #dddddd;
}
.process-region .icon-box.active{
	background-color: #fdb813;
}

/*==============================form表==============================*/
.half-block .section.form.num-1{
	width: 100%;
}
.half-block .section.form.num-1 .form-group{
	margin: 0px;
	margin-bottom: 25px;
	width: 100%;
    text-align: left;
}
/*form內提示*/
.half-block .section.form.num-1 .form-group.tip{
	padding: 0 15px;
	line-height: 30px;
}
/*form內按鈕*/
.half-block .section.form.num-1 .form-group.button{
	text-align: right;
    padding: 0 15px;
}
.half-block .section.form.num-1 .form-group.button button{
	width: calc(50% - 6px);
}
.half-block .section.form.num-1 .form-group input{
	border-radius: 0px;
	min-height: 40px;
	width: 100%;
}
.half-block .section.form.num-1 .form-group label{
    font-size: 16px;
    font-weight: initial;
    text-align: left;
    min-height: 40px;
    padding: 9px 0 9px 15px;
    margin: 0px;
    color: #333333;
}
/*地址外掛*/
#twzipcode select{
	width: calc(50% - 8px);
	font-size: 14px;
    padding: 0 12px;
    margin-bottom: 25px;
    color: #ababab;
    min-height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
}
#twzipcode select:first-child{
	margin-right: 16px;
}
#twzipcode input{
	display: none;
}
/*checkbox區塊*/
.half-block .section.form.num-1 .form-group.check .form-item{
    padding: 0 15px;
	text-align: left;
}
.half-block .section.form.num-1 .form-group.check label{
    font-size: 14px;
    margin: 0 0 0 10px;
    padding: 9px 0;
    color: #999999;
    font-weight: initial;
    transform: translateY(1px);
}
.half-block .section.form.num-1 .form-group.check a{
	color: #4285f4;
}
.half-block .section.form.num-1 .form-group.notice{
    padding: 0 15px;
    font-size: 14px;
    color: #ff5151;
}

/*==============================按鈕區塊==============================*/
.half-block .halfBox .button-region{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.half-block .halfBox .button-region.spaceBetween{
    justify-content: space-between;
}
.half-block .halfBox .button-region button{
	width: calc(50% - 6px);
}

/*==============================Modal／02-中尺寸-form、圖文、一個按鈕==============================*/
.section.modal.num-2 .tip-region{
    color: #333333;
}


/*==============================Media==============================*/

@media (max-width: 991px) {}

@media (max-width: 1199px) {
    /*半個區塊*/
    .half-block{
        width: 80%;
    }
/*==============================內容區塊==============================*/
	/*輔助文字*/
	.half-block .halfBox .text-box {
	    font-size: 14px;
	    line-height: 28px;
	}

/*==============================form表==============================*/
	.half-block .section.form.num-1 .form-group label {
	    font-size: 14px;
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {}