/*==============================側邊-內容區塊==============================*/
/*標題*/
.section.sidebar.num-1 .titleRegion{
    padding: 50px 0 40px;
    border-bottom: none;
}
/*圖文編輯器*/
.section.sidebar.num-1 .tab-content{
    padding: 20px;
}



/*==============================Media==============================*/

@media (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) and (max-width: 1400px) {}