.mymodal.fade .modal-dialog {
   transform: none;
   opacity: 0;
   transition: opacity 0.1s;
}

.mymodal.show .modal-dialog {
   opacity: 1;
}

@media (min-width: 576px) {
   .mymodal {
      .modal-dialog {
         max-width: 400px;
      }
   }
}

@media (max-width: 576px) {
   .mymodal {
      .modal-dialog {
         max-width: 88%;
         margin: 0 auto;
      }
   }
}

@import './msgModal';
@import './cardModal';
@import './giftModal';
@import './tradeModal';
@import './inputModal';
@import './saveModal';
@import './optionModal';