#msgModal.optionModal {
   .modal-body {
      padding: 0;
   }   
}

.optionBox {
   >li {
      padding-top: 8px;
      margin-bottom: 8px;
      border-top: 1px solid map-get($borderColor, reset);
      color: map-get($fontColor, modalCancel);
      >span {
         min-width: 100px;
         cursor: pointer;
      }
   }
}

.goBack {
   font-size: 22px;
   transform: translateY(2.5px);
   cursor: pointer;
}