#msgModal.saveModal {
   .modal-body {
      padding: 0;
      >.methodBox {
         margin-bottom: 10px;
         padding-top: 10px;
         border-top: 1px solid #c8c8c8;
         >a {
            color: map-get($fontColor, modalCancel);
         }
      }
   }
}
