#tradeModal {
   .modal-header {
      background-color: map-get($elBgColor, primary);
      color: #fff;
   }
   .modal-body {
      .tradeList {
         margin-bottom: 0;
         >li {
            padding: 0;
         }
      }
   }
}